<div class="page-content lux-flex lux-flex-col">
  <h1 class="page-title">Willkommen</h1>
  <div class="lux-flex lux-flex-wrap lux-justify-start lux-align-start lux-gap-6">
    <div class="lux-tile-ac-wrapper-demo">
      <lux-tile-ac
        luxAutofocus
        (luxClicked)="goTo('Components')"
        luxLabel="{{ 'home.tile.components.title' | transloco }}"
        luxSubTitle="{{ 'home.tile.components.subtitle' | transloco }}"
        luxIconName="lux-interface-setting-tool-box"
        class="lux-flex-auto"
      >
        <lux-icon luxIconName="lux-interface-setting-tool-box"></lux-icon>
      </lux-tile-ac>
    </div>
    <div class="lux-tile-ac-wrapper-demo">
      <lux-tile-ac
        (luxClicked)="goTo('Iconsearch')"
        luxLabel="{{ 'home.tile.iconSearch.title' | transloco }}"
        luxSubTitle="{{ 'home.tile.iconSearch.subtitle' | transloco }}"
        luxIconName="lux-interface-help-customer-support-2"
        class="lux-flex-auto"
      >
        <lux-icon luxIconName="lux-interface-help-customer-support-2"></lux-icon>
      </lux-tile-ac>
    </div>
    <div class="lux-tile-ac-wrapper-demo">
      <lux-tile-ac
        (luxClicked)="goTo('Form')"
        luxLabel="{{ 'home.tile.forms.title' | transloco }}"
        luxSubTitle="{{ 'home.tile.forms.subtitle' | transloco }}"
        luxIconName="lux-interface-file-text"
        class="lux-flex-auto"
      >
        <lux-icon luxIconName="lux-interface-file-text"></lux-icon>
      </lux-tile-ac>
    </div>
    <div class="lux-tile-ac-wrapper-demo">
      <lux-tile-ac
        (luxClicked)="goTo('Baseline')"
        luxLabel="{{ 'home.tile.baseline.title' | transloco }}"
        luxSubTitle="{{ 'home.tile.baseline.subtitle' | transloco }}"
        luxIconName="lux-interface-remove-1"
        class="lux-flex-auto"
      >
        <lux-icon luxIconName="lux-interface-remove-1"></lux-icon>
      </lux-tile-ac>
    </div>
    <div class="lux-tile-ac-wrapper-demo">
      <lux-tile-ac
        (luxClicked)="goTo('Configuration')"
        luxLabel="{{ 'home.tile.configuration.title' | transloco }}"
        luxSubTitle="{{ 'home.tile.configuration.subtitle' | transloco }}"
        luxIconName="lux-interface-setting-slider-horizontal"
        class="lux-flex-auto"
      >
        <lux-icon luxIconName="lux-interface-setting-slider-horizontal"></lux-icon>
      </lux-tile-ac>
    </div>
  </div>
</div>
