@use "sass:map";
@use "@angular/material" as mat;
@use "../luxVariables";

lux-button.lux-rounded:not(.lux-stroked) {
  @include mat.fab-overrides(
    (
      container-shape: 50%,
      container-elevation-shadow: none,
      hover-container-elevation-shadow: none,
      focus-container-elevation-shadow: none,
      pressed-container-elevation-shadow: none,
      foreground-color: #1c1b1b,
      container-color: transparent,
      touch-target-size: 2.25rem
    )
  );

  .mat-primary {
    @include mat.fab-overrides(
      (
        foreground-color: #ffffff,
        container-color: #003366,
        hover-state-layer-opacity: 0.9
      )
    );
  }

  .mat-accent {
    @include mat.fab-overrides(
      (
        foreground-color: #1c1b1b,
        container-color: #56bd66,
        hover-state-layer-opacity: 0.1
      )
    );
  }

  .mat-warn {
    @include mat.fab-overrides(
      (
        foreground-color: #ffffff,
        container-color: #c00013,
        hover-state-layer-opacity: 0.1
      )
    );
  }

  .mat-mdc-fab-base {
    width: 2.25rem;
    height: 2.25rem;
  }
}
