@use "sass:map";
@use "@angular/material" as mat;
@use "../luxpalette";
@use "../luxcommon";
@use "../base/luxelevations";

.lux-snackbar {
  @include mat.snack-bar-overrides(
    (
      supporting-text-size: 1rem,
      supporting-text-weight: 600
    )
  );

  @each $colorName, $colorNameHex in luxcommon.$colorsForDarkBg {
    &.lux-snackbar-color-text-#{"" + $colorName + ""} .lux-snackbar-text {
      color: $colorNameHex;
      background-color: transparent;
    }

    &.lux-snackbar-color-icon-#{"" + $colorName + ""} .lux-snackbar-icon {
      color: $colorNameHex;
      background-color: transparent;
    }

    &.lux-snackbar-color-action-#{"" + $colorName + ""} .lux-snackbar-action {
      color: $colorNameHex;
      background-color: transparent;
    }
  }
}
