@use "sass:map";
@use "../luxVariables";

.lux-badge {
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  flex: initial;
}

.lux-badge.lux-badge-uppercase * {
  text-transform: uppercase;
}

.lux-badge > lux-icon ::ng-deep {
  width: 1em;
  height: 1em;
  display: inline-flex;
}

@media (prefers-contrast: more) {
  .lux-badge {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &.lux-bg-color-red {
        background-color: var(--lux-theme-warn-35);
    }

    &.lux-bg-color-orange {
      background-color: map.get(luxVariables.$colorsForDarkBg, 'yellow');
    }

    &.lux-font-color-green {
        color: #ffffff;
    }
    &.lux-bg-color-green {
      background-color:  var(--lux-theme-accent-30);
    }

    &.lux-font-color-lightblue {
        color: #ffffff;
    }
    &.lux-bg-color-lightblue {
      background-color: var(--lux-theme-primary-color);
    }

    &.lux-font-color-gray,
    &.lux-font-color-purple,
    &.lux-font-color-pink {
        color: #ffffff;
    }
    &.lux-bg-color-gray,
    &.lux-bg-color-purple,
    &.lux-bg-color-pink {
      background-color:  #000000;
    }
  }
}