@use "sass:map";
@use "../luxVariables";
@use "../luxpalette";
@use "../base/luxfocus";

.mat-mdc-menu-panel {
  --mat-menu-container-shape: #{luxVariables.$app-border-radius};

  .mat-mdc-menu-item-text {
    min-height: #{luxVariables.$lux-panel-option-min-height};
    padding: #{luxVariables.$lux-panel-option-padding};
  }
}

lux-menu {
  display: block;
  width: 100%;

  .lux-menu-extended,
  .lux-menu-trigger {
    > lux-button {
      button.mat-mdc-button {
        padding-left: 8px;
        padding-right: 8px;
        min-width: 36px;
      }
    }
  }
}

// Container für die Buttons und den Trigger ausserhalb des Menu-Panels
.lux-menu-extended {
  overflow: hidden;
  min-width: 0;
  padding: 4px 0;
  position: relative;

  > lux-button {
    margin-right: 8px;
    &.lux-menu-item .lux-button-label {
      white-space: nowrap;
      font-weight: 400;
      letter-spacing: 1px;
      font-family: luxVariables.$app-font-family;
    }
  }
}

// Container für den Menu-Trigger-button
.lux-menu-trigger {
  display: flex;
  flex: 0 0 auto;
  margin: 0 4px;
  align-self: center;
  box-sizing: border-box;
}

.lux-menu-trigger-default {
  button.mat-mdc-button {
    white-space: nowrap;
    color: var(--lux-theme-primary-20);
  }
}

/* Menu-Overlay-Panel anpassen */
.lux-menu-panel {
  border: 2px solid var(--lux-theme-primary-color);
  box-shadow: none !important;

  .mat-mdc-menu-item:not([disabled]).cdk-program-focused {
    background-color: transparent;
  }

  .mat-mdc-menu-item,
  .mat-mdc-menu-item:has(.material-icons, mat-icon, [matButtonIcon]) {
    padding: 0 16px;
  }

  .mat-mdc-menu-item-text {
    display: flex;
  }

  .lux-menu-item {
    font-size: 1rem;
    display: block;
    color: var(--lux-theme-primary-color);
    margin-top: luxVariables.$outline-width;
    margin-bottom: luxVariables.$outline-width;
    hyphens: auto;
    word-break: break-all;

    .mat-icon-no-color {
      color: var(--lux-theme-primary-color);
    }

    .lux-button-label {
      hyphens: auto;
      word-break: break-word;
    }
    .lux-button-badge-container {
      min-width: 38px;
      vertical-align: middle;
      align-self: center;
    }
    .lux-button-badge {
      color: #fff;
      border-radius: 4px;
      padding: 1px 4px;
      font-size: 0.6875rem;
      line-height: normal;
      max-height: 16px;
      min-width: 15px;
      max-width: 38px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
      letter-spacing: 1.25px;
    }
  }
  .lux-menu-item-icon {
    align-self: center;
    vertical-align: middle;
    mat-icon {
      margin: 0;
    }
  }
}

/** ########## Hover / Focus ########## **/
// Class, welche das aufgeklappte Panel referenziert
.lux-menu-panel {
  .lux-menu-item {
    &:not([disabled="true"]) {
      &:focus-visible {
        @include luxfocus.focus-dark-mixin-inline;
        border-radius: 0;
        &:after {
          width: 0px;
          border: none;
        }
      }

      &:hover {
        @include luxfocus.lux-hovered-mixin-inverted;
        & .mat-icon-no-color {
          color: #fff;
        }
      }
    }
  }
}
