lux-icon {
  &.lux-icon-rounded {
    mat-icon.lux-icon {
      border-radius: 50%;

      &.lux-icon-rounded-1em {
        padding: 0.25rem;
      }
      &.lux-icon-rounded-2em {
        padding: 0.5rem;
      }
      &.lux-icon-rounded-3em {
        padding: 0.75rem;
      }
      &.lux-icon-rounded-4em,
      &.lux-icon-rounded-5em {
        padding: 1rem;
      }
    }
  }
}
