@use "sass:map";
@use "../base/luxelevations";
@use "../luxpalette";

lux-side-nav {
  .lux-side-nav {
    background: var(--lux-theme-app-data-bg);
    @include luxelevations.lux-elevation-z16();

    .lux-side-nav-header {
      border-bottom: 1px solid var(--lux-theme-dark-dividers);
    }

    .lux-side-nav-footer {
      border-top: 1px solid var(--lux-theme-dark-dividers);
    }

    .lux-side-nav-content {
      .lux-side-nav-item {
        .lux-side-nav-item-icon {
          color: var(--lux-theme-primary-20);

          &.lux-side-nav-disabled {
            color: var(--lux-theme-dark-disabled-text);
          }
        }

        .lux-side-nav-item-expansion-icon {
          color: var(--lux-theme-primary-20);

          &.lux-side-nav-disabled {
            color: var(--lux-theme-dark-disabled-text);
          }
        }
      }
    }
  }
}

.lux-side-nav-overlay {
  background-color: var(--lux-theme-dark-focused);
}