@use "sass:map";
@use "@angular/material" as mat;
@use "../luxVariables";

.lux-autocomplete-panel-ac {
  @include mat.autocomplete-overrides(
    (
      background-color: luxVariables.$app-data-bg,
      container-shape: luxVariables.$app-border-radius,
      container-elevation-shadow: 0 0 0 1px var(--mat-card-outlined-outline-color, var(--mat-sys-outline-variant))
    )
  );

  @include mat.core-overrides(
    (
      option-label-text-color: luxVariables.$dark-primary-text
    )
  );
}

lux-autocomplete-ac {
  // Theming des Prefix- und Suffix-Containers
  .lux-input-prefix-container,
  .lux-input-suffix-container {
    width: auto;
    white-space: nowrap;
    display: inline-block;
    flex: 1 1 auto;
    max-height: 1.5em;
    align-items: center;
  }
}