@use "sass:map";
@use "@angular/material" as mat;
@use "../luxcommon";

lux-button.lux-flat {
  @include mat.button-overrides(
    (
      filled-label-text-weight: 600,
      filled-container-shape: 4px,
      filled-horizontal-padding: 16px,
      filled-container-height: 36px,
      filled-label-text-color: #000000,
      filled-container-color: #ffffff,
      filled-focus-state-layer-opacity: 0.1,
      filled-hover-state-layer-opacity: 0.1
    )
  );

  .mat-primary {
    @include mat.button-overrides(
      (
        filled-label-text-color: #ffffff,
        filled-container-color: #003366,
        filled-focus-state-layer-opacity: 0.1,
        filled-hover-state-layer-opacity: 0.1
      )
    );
  }

  .mat-accent {
    @include mat.button-overrides(
      (
        filled-label-text-color: #000000,
        filled-container-color: #56bd66,
        filled-focus-state-layer-opacity: 0.1,
        filled-hover-state-layer-opacity: 0.1
      )
    );
  }

  .mat-warn {
    @include mat.button-overrides(
      (
        filled-label-text-color: #ffffff,
        filled-container-color: #c00013,
        filled-focus-state-layer-opacity: 0.1,
        filled-hover-state-layer-opacity: 0.1
      )
    );
  }
}
