@use "sass:map";
@use "@angular/material" as mat;

lux-button.lux-raised {
  @include mat.button-overrides(
    (
      protected-label-text-weight: 600,
      protected-container-shape: 4px,
      protected-horizontal-padding: 16px,
      protected-container-height: 36px,
      protected-label-text-color: #000000,
      protected-container-color: #ffffff,
      protected-focus-state-layer-opacity: 0.1,
      protected-hover-state-layer-opacity: 0.1
    )
  );

  .mat-primary {
    @include mat.button-overrides(
      (
        protected-label-text-color: #ffffff,
        protected-container-color: #003366,
        protected-focus-state-layer-opacity: 0.9,
        protected-hover-state-layer-opacity: 0.9
      )
    );
  }

  .mat-accent {
    @include mat.button-overrides(
      (
        protected-label-text-color: #000000,
        protected-container-color: #56bd66,
        protected-focus-state-layer-opacity: 0.1,
        protected-hover-state-layer-opacity: 0.1
      )
    );
  }

  .mat-warn {
    @include mat.button-overrides(
      (
        protected-label-text-color: #ffffff,
        protected-container-color: #c00013,
        protected-focus-state-layer-opacity: 0.1,
        protected-hover-state-layer-opacity: 0.1
      )
    );
  }
}
