@use "../base/luxSvgIcons" as luxicons;

lux-stepper-large {
  display: flex;
  flex-direction: row;

  height: 100%;
  overflow-y: hidden;
  background-color: transparent;

  .lux-stepper-large-nav-container,
  .lux-stepper-large-content-container {
    border: 1px solid var(--lux-theme-app-border-color);
    border-radius: 4px;
    background-color: var(--lux-theme-app-content-bg);
  }
}

.lux-stepper-large-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  gap: 30px;

  .lux-stepper-large-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

.lux-stepper-large-button-container {
  margin-top: 30px;
}

.lux-stepper-large-nav-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  gap: 12px;
  padding: 12px 33px 12px 12px;

  overflow-y: auto;
  min-width: 400px;
}

.lux-stepper-large-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  &.lux-active:not(.lux-disabled) {
    .lux-stepper-large-nav-item-number-container {
      color: var(--lux-theme-stepper-large-nav-item-active-fc);
      background-color: var(--lux-theme-stepper-large-nav-item-active-bg);
    }

    .lux-stepper-large-nav-item-label {
      color: #003366;
    }
  }

  &.lux-touched:not(.lux-disabled) {
    a {
      text-decoration: underline;
    }

    &.lux-completed:not(.lux-active) {
      .lux-stepper-large-nav-item-number-container {
        color: var(--lux-theme-stepper-large-nav-item-completed-fg);
        background-color: var(--lux-theme-stepper-large-nav-item-completed-bg);
      }

      a {
        color: #2e8533;
        position: relative;
      }

      a::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 23px;
        height: 23px;
        margin: 5px 10px 0px;
        background-color: #2e8533;
        -webkit-mask: url(luxicons.$checkmark);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: cover;
        mask: url(luxicons.$checkmark);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
      }
    }

    &:not(.lux-completed):not(.lux-active) {
      .lux-stepper-large-nav-item-number-container {
        color: var(--lux-theme-stepper-large-nav-item-completed-fg);
        background-color: var(--lux-theme-stepper-large-nav-item-completed-bg);
      }

      a::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 3px 10px 0px;
        background-color: var(--lux-theme-stepper-large-nav-item-active-bg);
        -webkit-mask: url(luxicons.$warn-triangle);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: cover;
        mask: url(luxicons.$warn-triangle);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
      }
    }
  }

  &:not(.lux-touched) {
    color: #003366;

    .lux-stepper-large-nav-item-number-container {
      color: var(--lux-theme-stepper-large-nav-item-disabled-fg);
      background-color: var(--lux-theme-stepper-large-nav-item-disabled-bg);
    }
  }

  &.lux-disabled {
    opacity: 0.6;

    .lux-stepper-large-nav-item-number-container {
      color: var(--lux-theme-stepper-large-nav-item-disabled-fg);
      background-color: var(--lux-theme-stepper-large-nav-item-disabled-bg);
    }

    .lux-stepper-large-nav-item-label {
      color: var(--lux-theme-stepper-large-nav-item-disabled-fg);
    }
  }

  .lux-stepper-large-nav-item-number-container {
    box-sizing: border-box;
    max-width: 2.25rem;
    max-height: 2.25rem;
    margin: 0 15px 0 0;
    padding: 6px 9px;
    border-radius: 50%;
    font-weight: 600;
    background-color: var(--lux-theme-app-content-bg);

    .lux-stepper-large-nav-item-number {
      text-align: center;
    }
  }

  .lux-stepper-large-nav-item-label-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .lux-stepper-large-nav-item-label-link {
      cursor: pointer;
    }

    .lux-stepper-large-nav-item-label {
    }

    .lux-stepper-large-nav-item-complete {
      color: var(--lux-theme-stepper-large-completed-fc);
      font-size: 1.4375rem;
      height: 1.4375em;
      width: 1.4375em;
    }
  }
}

.lux-stepper-large-content {
  display: flex;
  flex-direction: column;

  // Kein Abstand der Überschrift nach oben, wenn sie das erste Element im Inhalt ist
  & a#luxstepperlargecontentanchor + h1,
  & a#luxstepperlargecontentanchor + h2,
  & a#luxstepperlargecontentanchor + h3,
  & a#luxstepperlargecontentanchor + h4,
  & a#luxstepperlargecontentanchor + h5,
  & a#luxstepperlargecontentanchor + h6 {
    margin-top: 0;
  }
}

.lux-stepper-large-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;

  overflow-y: auto;
  padding: 12px;

  
}

.lux-stepper-large-mobile-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  overflow-y: auto;
  padding: 12px;

  lux-button {
    display: flex;

    & button {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
    }
  }

  .lux-stepper-large-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
  }
}

.lux-stepper-large-mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2px;

  font-size: 0.75rem;

  .lux-stepper-large-mobile-header-label {
    display: flex;
    flex: 0 1 auto;
  }

  .lux-stepper-large-mobile-header-button {
    display: flex;
    flex: 0 0 auto;
    padding: 0;

    button {
      padding: 0;
      min-height: 45px;
      min-width: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// Lux-Stepper-Large - Overlay
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.lux-stepper-large-mobile-overlay-backdrop {
    opacity: 0.6;
    background-color: var(--lux-theme-stepper-large-backdrop-bg);
  }
}

.lux-stepper-large-mobile-nav-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: calc(100% - 0px);
  max-height: calc(100% - 0px);

  padding: 0;
  background: var(--lux-theme-app-data-bg);
}

.lux-stepper-large-mobile-nav-close-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 13px;
}

.lux-stepper-large-mobile-nav-header {
  display: flex;
  flex-direction: row;

  padding: 0 30px 24px 30px;

  div {
    // TODO: Theme 3
    // font-family: Korb, global.$app-font-family;
    font-size: 1.75rem;
  }
}

.lux-stepper-large-mobile-nav-item-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;

  padding: 0 30px 30px 30px;
}

.lux-stepper-large-mobile-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.125rem;

  &.lux-completed .lux-stepper-large-mobile-nav-item-number-container {
  }

  &.lux-active .lux-stepper-large-mobile-nav-item-number-container {
  }

  &.lux-touched .lux-stepper-large-mobile-nav-item-number-container {
  }

  &.lux-disabled .lux-stepper-large-mobile-nav-item-number-container {
  }

  .lux-stepper-large-mobile-nav-item-number-container {
    max-width: 30px;
    max-height: 30px;
    margin: 0 10px 0 0;
    padding: 1px 6px 2px 5px;
    border-radius: 12px;

    .lux-stepper-large-mobile-nav-item-number {
    }
  }

  .lux-stepper-large-mobile-nav-item-label-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .lux-stepper-large-mobile-nav-item-label-link {
      cursor: pointer;
    }

    .lux-stepper-large-mobile-nav-item-label {
    }

    .lux-stepper-large-mobile-nav-item-complete {
      color: var(--lux-theme-stepper-large-completed-fc);
      font-size: 1.125rem;
    }
  }

  &.lux-stepper-large-nav-item.lux-touched:not(.lux-disabled).lux-completed:not(.lux-active) a::after {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }

  .lux-stepper-large-nav-item {
    // Links allgemein
    a {
      &:focus-visible {
        outline: none;
      }

      &.lux-focused {
        outline: var(--lux-theme-outline-dark);
      }
    }

    // Link ausgewählt
    &.lux-active {
      .lux-stepper-large-nav-item-label-container {
        a.lux-stepper-large-nav-item-label-link {
          cursor: text;
          &:hover {
            color: var(--lux-theme-primary-color);
          }
        }
      }
    }

    // Links nicht ausgewählt
    &:not(.lux-active) {
      &:not(.lux-completed) {
        .lux-stepper-large-nav-item-label-container {
          a.lux-stepper-large-nav-item-label-link {
            &:hover {
              color: #2e8533;
            }
          }
        }
      }

      &.lux-completed {
        .lux-stepper-large-nav-item-label-container {
          a.lux-stepper-large-nav-item-label-link {
            &:hover {
              color: #56bd66;
            }
          }
        }
      }
    }
  }
}
