@use "sass:map";
@use "@angular/material" as mat;
@use "../luxcommon";

lux-textarea-ac {
  textarea {
    font: inherit;
    color: currentColor;
    background: transparent;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    font-size: luxcommon.$form-control-font-size;
  }
}
