@use "../luxVariables";

@mixin lux-icon-color-mixin($prefix) {
  @each $colorName in luxVariables.$componentColorNames {
    .lux-icon-#{$colorName} {
      background-color: var(#{$prefix}-#{$colorName});
    }
    .lux-icon-on-#{$colorName} {
      color: var(#{$prefix}-on-#{$colorName});
    }
  }
}

lux-icon {
  position: relative;
  display: inline-flex;
  width: fit-content;

  @include lux-icon-color-mixin("--lux-theme-icon");

  &.lux-icon-rounded {
    mat-icon.lux-icon {
      border-radius: 50%;

      &.lux-icon-rounded-1em {
        padding: 0.25rem;
      }
      &.lux-icon-rounded-2em {
        padding: 0.5rem;
      }
      &.lux-icon-rounded-3em {
        padding: 0.75rem;
      }
      &.lux-icon-rounded-4em,
      &.lux-icon-rounded-5em {
        padding: 1rem;
      }
    }
  }

  &.lux-error-icon {
    font-size: 0.75rem;

    mat-icon.lux-icon {
      padding: 0 !important;
      color: var(--lux-theme-warn-50);

      &:hover {
        cursor: pointer;
      }
    }
  }
}
