@use "sass:map";
@use "@angular/material" as mat;
@use "../luxcommon";
@use "../base/luxfocus";

@use "luxButtonStroked";
@use "luxButtonRaised";
@use "luxButtonFlat";
@use "luxButtonRounded";
@use "luxButtonRoundedStroked";
@use "luxButtonSpinner";

lux-button {
  // ooooooooooooo           oooo
  // 8'   888   `8           `888
  //      888       .ooooo.   888  oooo   .ooooo.  ooo. .oo.    .oooo.o
  //      888      d88' `88b  888 .8P'   d88' `88b `888P"Y88b  d88(  "8
  //      888      888   888  888888.    888ooo888  888   888  `"Y88b.
  //      888      888   888  888 `88b.  888    .o  888   888  o.  )88b
  //     o888o     `Y8bod8P' o888o o888o `Y8bod8P' o888o o888o 8""888P'

  @include mat.button-overrides(
    (
      text-label-text-weight: 600,
      text-container-shape: 4px,
      text-horizontal-padding: 16px,
      text-container-height: 36px,
      text-label-text-color: #1c1b1b
    )
  );

  .mat-primary {
    @include mat.button-overrides(
      (
        text-label-text-color: #003366
      )
    );
  }

  .mat-accent {
    @include mat.button-overrides(
      (
        text-label-text-color: #00531d
      )
    );
  }

  .mat-warn {
    @include mat.button-overrides(
      (
        text-label-text-color: #c00013
      )
    );
  }

  //   .oooooo.                            .
  //  d8P'  `Y8b                         .o8
  // 888          oooo  oooo   .oooo.o .o888oo  .ooooo.  ooo. .oo.  .oo.
  // 888          `888  `888  d88(  "8   888   d88' `88b `888P"Y88bP"Y88b
  // 888           888   888  `"Y88b.    888   888   888  888   888   888
  // `88b    ooo   888   888  o.  )88b   888 . 888   888  888   888   888
  //  `Y8bood8P'   `V88V"V8P' 8""888P'   "888" `Y8bod8P' o888o o888o o888o

  .lux-button-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
  }

  lux-icon,
  .lux-icon {
    display: flex;
  }

  .lux-button-badge {
    color: #fff;
    border-radius: 4px;
    padding: 1px 4px;
    font-size: 0.6875rem;
    line-height: normal;
    max-width: 38px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;

    &.lux-button-badge-primary {
      color: #ffffff;
      background-color: #003366;
    }

    &.lux-button-badge-accent {
      color: #000000;
      background-color: #56bd66;
    }

    &.lux-button-badge-warn {
      color: #ffffff;
      background-color: #c00013;
    }
  }

  // oooooooooooo           oooo                                  88 ooooo   ooooo
  // `888'     `8           `888                                 .8' `888'   `888'
  //  888          .ooooo.   888  oooo  oooo  oooo   .oooo.o    .8'   888     888   .ooooo.  oooo    ooo  .ooooo.  oooo d8b
  //  888oooo8    d88' `88b  888 .8P'   `888  `888  d88(  "8   .8'    888ooooo888  d88' `88b  `88.  .8'  d88' `88b `888""8P
  //  888    "    888   888  888888.     888   888  `"Y88b.   .8'     888     888  888   888   `88..8'   888ooo888  888
  //  888         888   888  888 `88b.   888   888  o.  )88b .8'      888     888  888   888    `888'    888    .o  888
  // o888o        `Y8bod8P' o888o o888o  `V88V"V8P' 8""888P' 88      o888o   o888o `Y8bod8P'     `8'     `Y8bod8P' d888b

  button:not([disabled]) {
    &:focus-visible {
      @include luxfocus.lux-button-focus;
    }
  }
}
