@use "sass:map";
@use "@angular/material" as mat;
@use "../luxcommon";

$tileBoxShadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

lux-tile-ac {
  @include mat.card-overrides(
    (
      title-text-size: 20px,
      title-text-weight: 500,
      subtitle-text-size: 15px,
      elevated-container-shape: luxcommon.$app-border-radius,
      elevated-container-elevation: #{"0 0 0 1px rgba(0, 0, 0, .12), #{$tileBoxShadow}"}
    )
  );

  .lux-tile-ac {
    display: flex;
    height: 100%;
    min-width: 150px;
    background-image: luxcommon.$app-gradient;
  }

  .mat-mdc-card-header-text {
    // Damit der Titel und Subtitle nicht umbrechen und stattdessen abgeschnitten werden, wenn der Text zu lang ist.
    // Ohne die min-width würde ein langer Text dazu führen, dass der Header breiter als die Card wird.
    min-width: 0;
  }

  .lux-tile-title {
    padding-bottom: 12px;
  }

  .lux-tile-header {
    display: flex;
    justify-content: space-between;
  }

  .lux-tile-icon-container {
    .lux-icon {
      padding: 0px !important;
      height: 32px;
      width: 32px;
    }
  }

  // Fokus
  .lux-tile-ac:focus-visible {
    outline: none;
    @include mat.card-overrides(
      (
        elevated-container-elevation: #{"0 0 0 #{luxcommon.$outline-width} #{luxcommon.$outline-color-dark}, #{$tileBoxShadow}"}
      )
    );
  }

  // Hover
  &:hover {
    @include mat.card-overrides(
      (
        elevated-container-elevation: #{"0 0 0 1px #000, #{$tileBoxShadow}"}
      )
    );
  }
}
