@use "sass:map";
@use "@angular/material" as mat;
@use "../luxVariables";

lux-button.lux-stroked {
  @include mat.button-overrides(
    (
      outlined-label-text-weight: 600,
      outlined-container-shape: 4px,
      outlined-horizontal-padding: 16px,
      outlined-container-height: 36px,
      outlined-label-text-color: #1c1b1b,
      outlined-outline-color: #1c1b1b
    )
  );

  .mat-primary {
    @include mat.button-overrides(
      (
        outlined-label-text-color: #003366,
        outlined-outline-color: #003366
      )
    );
  }

  .mat-accent {
    @include mat.button-overrides(
      (
        outlined-label-text-color: #00531d,
        outlined-outline-color: #00531d
      )
    );
  }

  .mat-warn {
    @include mat.button-overrides(
      (
        outlined-label-text-color: #c00013,
        outlined-outline-color: #c00013
      )
    );
  }
}
