@use "sass:map";
@use "@angular/material" as mat;
@use "../luxpalette";
@use "../luxcommon";

lux-button {
  &.lux-raised,
  &.lux-flat,
  &.lux-rounded:not(.lux-stroked) {
    mat-progress-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: #1c1b1b
        )
      );
    }

    .mat-primary {
      mat-progress-spinner {
        @include mat.progress-spinner-overrides(
          (
            active-indicator-color: #ffffff
          )
        );
      }
    }
    .mat-accent {
      mat-progress-spinner {
        @include mat.progress-spinner-overrides(
          (
            active-indicator-color: #000000
          )
        );
      }
    }
    .mat-warn {
      mat-progress-spinner {
        @include mat.progress-spinner-overrides(
          (
            active-indicator-color: #ffffff
          )
        );
      }
    }
  }

  mat-progress-spinner {
    @include mat.progress-spinner-overrides(
      (
        active-indicator-color: #1c1b1b
      )
    );
  }

  .mat-primary {
    mat-progress-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: #003366
        )
      );
    }
  }
  .mat-accent {
    mat-progress-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: #00531d
        )
      );
    }
  }
  .mat-warn {
    mat-progress-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: #c00013
        )
      );
    }
  }

  .lux-button-spinner {
    mat-progress-spinner {
      width: 0.875rem !important;
      height: 0.875rem !important;
    }
    .spinner-padding {
      padding: 0;
    }
  }
}
