@use "sass:color";
@use "sass:map";
@use "../base/luxfocus";
@use "../luxVariables";
@use "../luxpalette";
@use "../base/luxelevations";
@use "../base/luxSvgIcons" as luxicons;

lux-app-header-ac {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 999;

  .lux-image {
    cursor: pointer;
    padding: 0px;
    &:focus-visible {
      @include luxfocus.lux-button-focus;
      border-radius: 4px;
    }
  }

  lux-button button.lux-button.mat-mdc-button:not([disabled]) {
    &:hover {
      background-color: #D5E3FF !important;
    }
  }

  lux-button button.lux-button.mat-mdc-fab.mat-primary:not(.lux-stroked):not([disabled]) {
    min-width: 2.25rem; //Weil der Menu-Trigger hier ein andere Min-width setzt- könnte vielleich geändert werden?
    width: 2.25rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;

    @include luxelevations.lux-elevation-z0;

    lux-icon {
      color: var(--lux-theme-primary-color) !important;
      box-sizing: border-box;
    }

    &:focus-visible:not(:hover) {
      background-color: transparent !important;

      @include luxfocus.focus-dark-mixin;
    }

    &:active {
      color: #ffffff !important;

      lux-icon {
        color: #ffffff !important;
      }
    }
  }

  lux-button button[disabled].lux-button.mat-mdc-fab.mat-primary:not(.lux-stroked) {
    background-color: transparent !important;
  }


  lux-button {
    button.lux-button.lux-button-rounded {
      
    }
  }

  lux-menu {
    width: unset;
    .lux-menu-extended {
      overflow: visible;
    }
  }

  .lux-app-header-top-bar-bg {
    background-color: #fff;
  }
  .lux-centered {
    margin: 0 auto;
  }
  .lux-app-header-top-bar {
    padding: 8px 24px;
    min-height: 60px;
    font-size: 1rem;
    color: luxVariables.$dark-primary-text;
    background-color: #fff;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    align-items: center;

    .header-menu-container {
      gap: 8px;
    }

    &.lux-mobile {
      padding: 4px;
      grid-template-columns: auto 1fr;
      height: 50px;
      .header-menu-container {
        gap: 4px;
      }
    }
  }
  .lux-app-header-nav-bar-bg {
    background-color: var(--lux-theme-app-header-bg);
  }

  .lux-app-header-nav-bar {
    background-color: var(--lux-theme-app-header-bg);
    padding: 4px 24px;
    min-height: 44px;
    box-sizing: border-box;
    z-index: 10000;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    align-items: center;
    &.lux-mobile {
      padding: 4px;
    }

    .lux-app-title {
      color: luxVariables.$dark-primary-text;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: luxVariables.$app-headline-font, luxVariables.$app-font-family;

      &.lux-mobile {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
    .lux-header-ac-nav-menu {
      lux-button.lux-menu-item {
        button.lux-button .lux-button-label {
          font-size: 1rem !important;
          letter-spacing: 0px;
        }

        &.nav-item-selected button.lux-button .lux-button-label {
          text-shadow:
            0 0 0.65px #003366,
            0 0 0.65px #003366;
        }
      }
    }
  }
}
.cdk-overlay-pane {
  button.lux-menu-item {
    margin: 0px;

    &.lux-selected-item-ac {
      font-weight: 600;
      color: var(--lux-theme-primary-color);
      & .lux-button-label {
        padding-right: 24px;
        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          right: 0;
          top: 14px;
          margin: 0 10px 0 4px;
          background-color: var(--lux-theme-primary-color);
          -webkit-mask: url(luxicons.$checkmark);
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;
          -webkit-mask-size: cover;
          mask: url(luxicons.$checkmark);
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: cover;
        }
      }
    }

    &:not([disabled="true"]):hover {
      background-color: var(--lux-theme-primary-40) !important;
      color: #ffffff;
      .mat-icon-no-color {
        color: #ffffff;
      }
      &::after {
        background-color: #ffffff;
      }
    }

    &:not([disabled="true"]):focus-visible {
      background-color: var(--lux-theme-primary-40);
      color: #ffffff;
      .mat-icon-no-color {
        color: #ffffff;
      }
      @include luxfocus.focus-dark-mixin-inline;
      &::after {
        width: 16px;
        background-color: #ffffff;
      }
    }
  }
}
