@use "@angular/material" as mat;
@use "../base/luxfocus";

@use "luxButtonStroked";
@use "luxButtonRaised";
@use "luxButtonFlat";
@use "luxButtonRounded";
@use "luxButtonRoundedStroked";
@use "luxButtonSpinner";

lux-button {
  @include mat.button-overrides(
    (
      text-label-text-weight: 600,
      text-container-shape: 4px,
      text-horizontal-padding: 16px,
      text-container-height: 36px,
      text-label-text-color: #1c1b1b,
      filled-label-text-tracking: 0.078125rem,
      outlined-label-text-tracking: 0.078125rem,
      protected-label-text-tracking: 0.078125rem,
      text-label-text-tracking: 0.078125rem,
      tonal-label-text-tracking: 0.078125rem
    )
  );

  .mat-primary {
    @include mat.button-overrides(
      (
        text-label-text-color: #003366
      )
    );
  }

  .mat-accent {
    @include mat.button-overrides(
      (
        text-label-text-color: #00531d
      )
    );
  }

  .mat-warn {
    @include mat.button-overrides(
      (
        text-label-text-color: #c00013
      )
    );
  }

  .lux-button-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
  }

  lux-icon,
  .lux-icon {
    display: flex;
  }

  .lux-button-badge {
    color: #fff;
    border-radius: 4px;
    padding: 1px 4px;
    font-size: 0.6875rem;
    line-height: normal;
    max-width: 38px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;

    &.lux-button-badge-primary {
      color: #ffffff;
      background-color: #003366;
    }

    &.lux-button-badge-accent {
      color: #000000;
      background-color: #56bd66;
    }

    &.lux-button-badge-warn {
      color: #ffffff;
      background-color: #c00013;
    }
  }

  button:not([disabled]) {
    &:focus-visible {
      @include luxfocus.lux-button-focus;
    }
  }
}
