@use "sass:map";
@use "@angular/material" as mat;
@use "../luxpalette";
@use "../luxcommon";

lux-button {
  // ooooooooooooo           oooo
  // 8'   888   `8           `888
  //      888       .ooooo.   888  oooo   .ooooo.  ooo. .oo.    .oooo.o
  //      888      d88' `88b  888 .8P'   d88' `88b `888P"Y88b  d88(  "8
  //      888      888   888  888888.    888ooo888  888   888  `"Y88b.
  //      888      888   888  888 `88b.  888    .o  888   888  o.  )88b
  //     o888o     `Y8bod8P' o888o o888o `Y8bod8P' o888o o888o 8""888P'

  &.lux-raised,
  &.lux-flat,
  &.lux-rounded:not(.lux-stroked) {
    mat-progress-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: #1c1b1b
        )
      );
    }

    .mat-primary {
      mat-progress-spinner {
        @include mat.progress-spinner-overrides(
          (
            active-indicator-color: #ffffff
          )
        );
      }
    }
    .mat-accent {
      mat-progress-spinner {
        @include mat.progress-spinner-overrides(
          (
            active-indicator-color: #000000
          )
        );
      }
    }
    .mat-warn {
      mat-progress-spinner {
        @include mat.progress-spinner-overrides(
          (
            active-indicator-color: #ffffff
          )
        );
      }
    }
  }

  mat-progress-spinner {
    @include mat.progress-spinner-overrides(
      (
        active-indicator-color: #1c1b1b
      )
    );
  }

  .mat-primary {
    mat-progress-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: #003366
        )
      );
    }
  }
  .mat-accent {
    mat-progress-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: #00531d
        )
      );
    }
  }
  .mat-warn {
    mat-progress-spinner {
      @include mat.progress-spinner-overrides(
        (
          active-indicator-color: #c00013
        )
      );
    }
  }

  //   .oooooo.                            .
  //  d8P'  `Y8b                         .o8
  // 888          oooo  oooo   .oooo.o .o888oo  .ooooo.  ooo. .oo.  .oo.
  // 888          `888  `888  d88(  "8   888   d88' `88b `888P"Y88bP"Y88b
  // 888           888   888  `"Y88b.    888   888   888  888   888   888
  // `88b    ooo   888   888  o.  )88b   888 . 888   888  888   888   888
  //  `Y8bood8P'   `V88V"V8P' 8""888P'   "888" `Y8bod8P' o888o o888o o888o

  .lux-button-spinner {
    mat-progress-spinner {
      width: 0.875rem !important;
      height: 0.875rem !important;
    }
    .spinner-padding {
      padding: 0;
    }
  }
}
