<example-base-structure
  exampleTitle="Timepicker-Authentic"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components-workspace/wiki/lux%E2%80%90timepicker-v21"
>
  <example-base-content>
    <div class="lux-flex lux-flex-col">
      <h3>Beispiel ohne Reactive-Form</h3>
      <lux-timepicker
        luxAutofocus
        [luxShowToggle]="showToggle"
        [luxOpened]="opened"
        [luxMinTime]="minTime"
        [luxMaxTime]="maxTime"
        [luxInterval]="interval"
        [(luxDisabled)]="disabled"
        [luxRequired]="required"
        [luxReadonly]="readonly"
        [(luxValue)]="value"
        [luxPlaceholder]="placeholder"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        [luxDense]="denseFormat"
        (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxValueChange)="log(showOutputEvents, 'luxValueChange', $event)"
      >
      </lux-timepicker>
      <example-value [value]="value" suffix="(ISO-Uhrzeit)"></example-value>
    </div>
    <div class="lux-flex lux-flex-col" [formGroup]="form">
      <h3>Beispiel in Reactive-Form</h3>
      <lux-timepicker
        [luxShowToggle]="showToggle"
        [luxOpened]="opened"
        [luxMinTime]="minTime"
        [luxMaxTime]="maxTime"
        [luxInterval]="interval"
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly"
        [luxDense]="denseFormat"
        [luxPlaceholder]="placeholder"
        [luxLabel]="label"
        [luxHint]="hint"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
        [luxControlBinding]="controlBinding"
        [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
        [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
        (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
        (luxBlur)="log(showOutputEvents, 'luxBlur', $event)"
      >
      </lux-timepicker>
      <example-form-value [form]="form" [controlBinding]="controlBinding"></example-form-value>
    </div>
    <div class="lux-flex lux-flex-col">
      <h3>Kombination: ohne Reactive-Form</h3>
      <div class="lux-flex lux-gap-4 lt-sm:lux-flex-col lt-sm:lux-gap-0">
        <lux-datepicker-ac
          class="lux-flex-auto"
          [(luxDisabled)]="disabled"
          [luxReadonly]="readonly"
          [luxDense]="denseFormat"
          [luxPlaceholder]="placeholder"
          [luxRequired]="required"
          [luxLabel]="label"
          [luxHint]="hint"
          [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
          [luxShowToggle]="showToggle"
          [luxReferenceControl]="combinedTimepicker"
          [(luxValue)]="combinedISO"
          #combinedDatepicker
        >
        </lux-datepicker-ac>
        <lux-timepicker
          class="lux-flex-auto"
          [luxOpened]="opened"
          [luxMinTime]="minTime"
          [luxMaxTime]="maxTime"
          [luxInterval]="interval"
          [(luxDisabled)]="disabled"
          [luxReadonly]="readonly"
          [luxDense]="denseFormat"
          [luxPlaceholder]="placeholder"
          [luxRequired]="required"
          [luxLabel]="label"
          [luxHint]="hint"
          [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
          [luxShowToggle]="showToggle"
          [luxReferenceControl]="combinedDatepicker"
          [(luxValue)]="combinedISO"
          [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
          [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
          (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
          (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
          (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
          (luxBlur)="log(showOutputEvents, 'luxBlur', $event)"
          #combinedTimepicker
        >
        </lux-timepicker>
      </div>
      <example-value [value]="combinedISO" suffix="(kombinierter ISO-Wert)"></example-value>
    </div>
    <div class="lux-flex lux-flex-col" [formGroup]="form">
      <h3>Kombination: in Reactive-Form</h3>
      <div class="lux-flex lux-gap-4 lt-sm:lux-flex-col lt-sm:lux-gap-0">
        <lux-datepicker-ac
          class="lux-flex-auto"
          [(luxDisabled)]="disabled"
          [luxReadonly]="readonly"
          [luxDense]="denseFormat"
          [luxPlaceholder]="placeholder"
          [luxLabel]="label"
          [luxHint]="hint"
          [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
          [luxShowToggle]="showToggle"
          [luxReferenceControl]="combinedTimepickerInForm"
          [luxControlBinding]="controlBindingCombined"
          #combinedDatepickerInForm
        >
        </lux-datepicker-ac>
        <lux-timepicker
          class="lux-flex-auto"
          [luxOpened]="opened"
          [luxMinTime]="minTime"
          [luxMaxTime]="maxTime"
          [luxInterval]="interval"
          [(luxDisabled)]="disabled"
          [luxReadonly]="readonly"
          [luxDense]="denseFormat"
          [luxPlaceholder]="placeholder"
          [luxLabel]="label"
          [luxHint]="hint"
          [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus"
          [luxShowToggle]="showToggle"
          [luxReferenceControl]="combinedDatepickerInForm"
          [luxControlBinding]="controlBindingCombined"
          [luxErrorMessage]="useErrorMessage ? errorMessage : undefined"
          [luxErrorCallback]="useErrorMessage ? emptyCallback : errorCallback"
          (luxFocus)="log(showOutputEvents, 'luxFocus', $event)"
          (luxFocusIn)="log(showOutputEvents, 'luxFocusIn', $event)"
          (luxFocusOut)="log(showOutputEvents, 'luxFocusOut', $event)"
          (luxBlur)="log(showOutputEvents, 'luxBlur', $event)"
          #combinedTimepickerInForm
        >
        </lux-timepicker>
      </div>
      <p class="lux-text-highlight-alert lux-text-xs lux-p-2">
        In diesem Beispiel wird der Wert nur direkt aktualisiert, wenn man die Picker verwendet, ansonsten erst, wenn der Fokus verloren
        geht (updateOn: 'blur').
      </p>
      <example-form-value [form]="form" [controlBinding]="controlBindingCombined"></example-form-value>
    </div>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input-ac
      luxName="timepicker_luxLabel"
      luxLabel="luxLabel"
      luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen."
      [(luxValue)]="label"
    >
    </lux-input-ac>
    <lux-input-ac
      luxName="timepicker_luxHint"
      luxLabel="luxHint"
      luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
      [(luxValue)]="hint"
    >
    </lux-input-ac>
    <lux-toggle-ac
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="luxHintShowOnlyOnFocus"
      luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
      [(luxChecked)]="hintShowOnlyOnFocus"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <lux-input-ac
      luxName="timepicker_luxPlaceholder"
      luxLabel="luxPlaceholder"
      luxHint="Diese Property ermöglicht es, den Placeholder für die Component zu setzen."
      [(luxValue)]="placeholder"
    >
    </lux-input-ac>
    <example-form-disable [form]="form" [controlBinding]="controlBinding" [(disabled)]="disabled"></example-form-disable>
    <lux-toggle-ac
      [(luxChecked)]="readonly"
      luxLabel="luxReadonly"
      luxHint="Dieses Flag verhindert das Auswählen/die Interaktion mit dieser Component."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac luxLabel="luxRequired" (luxCheckedChange)="changeRequired($event)" [luxNoTopLabel]="true">
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer Reactive-Form sind.<br />
        <b>In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das Form-Control gesetzt.</b>
      </lux-form-hint>
    </lux-toggle-ac>
    <lux-toggle-ac
      [(luxChecked)]="denseFormat"
      luxLabel="luxDense"
      luxHint="Diese Property veringert das Padding innerhalb des Controls."
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
  </example-base-simple-options>
  <example-base-advanced-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac
      luxLabel="luxShowToggle"
      luxHint="Dieses Flag schaltet den Toggle-Button für die Zeitauswahl ein."
      [(luxChecked)]="showToggle"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="luxOpened"
      luxHint="Über diesen Flag kann die Zeitauswahl eingeblendet werden."
      [(luxChecked)]="opened"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    <lux-input-ac luxName="timepicker_interval" luxLabel="luxInterval" [(luxValue)]="interval">
      <lux-form-hint>Intervall für die Zeitauswahl, z.B. 15m, 30m oder 1h.</lux-form-hint>
    </lux-input-ac>
    <lux-input-ac luxName="timepicker_minTime" luxLabel="luxMinTime" [(luxValue)]="minTime">
      <lux-form-hint>Minimale Zeit, z.B. 08:00.</lux-form-hint>
    </lux-input-ac>
    <lux-input-ac luxName="timepicker_maxTime" luxLabel="luxMaxTime" [(luxValue)]="maxTime">
      <lux-form-hint>Maximale Zeit, z.B. 18:00.</lux-form-hint>
    </lux-input-ac>
    <lux-toggle-ac
      luxLabel="luxErrorMessage verwenden"
      luxHint="Wenn 'false', wird luxErrorCallback genutzt. Ist die Message leer, wird der normale Fehlertext genommen."
      [(luxChecked)]="useErrorMessage"
      [luxNoTopLabel]="true"
    >
    </lux-toggle-ac>
    @if (useErrorMessage) {
      <lux-input-ac
        luxName="timepicker_luxErrorMessage"
        luxLabel="luxErrorMessage"
        luxHint="Über diese Property lässt sich eine feste Fehlermeldung
                 (unabhängig vom speziellen Validierungsfehler) einstellen."
        [(luxValue)]="errorMessage"
      >
      </lux-input-ac>
    }
    @if (!useErrorMessage) {
      <pre class="lux-label">{{ errorCallbackString }}</pre>
    }
  </example-base-advanced-options>
</example-base-structure>
