<lux-toggle luxLabel="luxMultiSelect" [(checked)]="tableExample().multiSelect" [luxNoTopLabel]="true">
  <lux-form-hint>Ermöglicht es, diese Tabelle mit Multiselection-Funktionalitäten zu versehen.</lux-form-hint>
</lux-toggle>
<lux-toggle
  luxLabel="luxMultiSelectDisabledProperty"
  [(checked)]="tableExample().multiSelectDisabledPropertyActive"
  (checkedChange)="tableExample().setMultiSelectDisabled($event)"
  [luxDisabled]="!tableExample().multiSelect"
>
  <lux-form-hint>Deaktiviert die erste und dritte Checkbox in der Tabelle.</lux-form-hint>
</lux-toggle>
<lux-toggle
  luxLabel="luxMultiSelectOnlyCheckboxClick"
  [(checked)]="tableExample().multiSelectOnlyCheckboxClick"
  [luxNoTopLabel]="true"
  [luxDisabled]="!tableExample().multiSelect"
>
  <lux-form-hint
    >Dieses Flag steuert, ob auch ein Klick auf die Zeile die Checkbox aktiviert oder ausschließlich ein Klick auf die Checkbox
    selbst.</lux-form-hint
  >
</lux-toggle>
<lux-toggle
  luxLabel="luxDoubleClicked"
  [(checked)]="tableExample().doubleClickActive"
  [luxDisabled]="tableExample().multiSelect"
  [luxNoTopLabel]="true"
>
  <lux-form-hint>Diese Property kann nur verwendet werden, wenn <i>luxMultiSelect</i> deaktiviert ist.</lux-form-hint>
</lux-toggle>
<lux-toggle
  luxLabel="[(luxSelected)] loggen"
  [(checked)]="tableExample().bindLuxSelected"
  (checkedChange)="tableExample().refreshSelectionBindings()"
  [luxNoLabels]="true"
>
</lux-toggle>
<lux-toggle
  luxLabel="(luxSelectedChange) loggen"
  [(checked)]="tableExample().observeSelectedChange"
  (checkedChange)="tableExample().refreshSelectionBindings()"
  [luxNoLabels]="true"
>
</lux-toggle>
<lux-toggle
  luxLabel="(luxSelectedAsArrayChange) loggen"
  [(checked)]="tableExample().observeSelectedAsArrayChange"
  (checkedChange)="tableExample().refreshSelectionBindings()"
  [luxNoLabels]="true"
>
</lux-toggle>
<lux-input luxLabel="luxNoDataText" [(value)]="tableExample().noDataText">
  <lux-form-hint>Diese Property enthält den Text der angezeigt wird wenn keine Datensätze gefunden werden konnten. </lux-form-hint>
</lux-input>
<lux-toggle luxLabel="luxShowFilter" [(checked)]="tableExample().filter" [luxNoTopLabel]="true">
  <lux-form-hint>Mit diesem Flag lässt sich das Filter-Inputfeld aus-/einblenden.</lux-form-hint>
</lux-toggle>
<lux-input luxLabel="luxFilterText" [(value)]="tableExample().filterText" [luxDisabled]="!tableExample().filter">
  <lux-form-hint>Diese Property definiert das Label des Filter-Inputfelds.</lux-form-hint>
</lux-input>
<lux-toggle luxLabel="luxShowPagination" [(checked)]="tableExample().pagination" [luxNoTopLabel]="true">
  <lux-form-hint>Diese Property aktiviert/deaktiviert die Pagination für die Tabelle.</lux-form-hint>
</lux-toggle>
<lux-input
  luxLabel="luxPageSize"
  [(value)]="tableExample().pageSize"
  luxType="number"
  [luxNumberAlignLeft]="true"
  [luxDisabled]="!tableExample().pagination"
>
  <lux-form-hint>Hiermit kann die aktuelle Anzahl an Einträgen für die Pagination eingestellt werden. </lux-form-hint>
</lux-input>
<lux-select
  luxLabel="luxPageSizeOptions"
  [(value)]="tableExample().pageSizeOption"
  [luxOptions]="tableExample().pageSizeOptions"
  luxOptionLabelProp="label"
  [luxDisabled]="!tableExample().pagination"
  [luxPickValue]="tableExample().pickPageSize"
>
  <lux-form-hint>Diese Property enthält ein Array mit den möglichen Optionen für die Anzahl an Einträgen. </lux-form-hint>
</lux-select>
<lux-toggle luxLabel="luxPagerFirstLastButton" [(checked)]="tableExample().pagerFirstLastButton" [luxNoTopLabel]="true">
  <lux-form-hint>Diese Property steuert die Anzahl der Buttons im Paginator.</lux-form-hint>
</lux-toggle>
<lux-toggle luxLabel="Text Oben ausrichten" [(checked)]="tableExample().alignElementsTop" [luxNoTopLabel]="true"> </lux-toggle>
