@use "sass:map";
/*
  Dieses Partial-SCSS dient der Verwaltung der Farb-Paletten für die LUX-Components.
*/
$lux-palette_primary: (
  50 : #e0e7ed,
  100 : #b3c2d1,
  200 : #8099b3,
  300 : #4d7094,
  400 : #26527d,
  500 : #003366,
  600 : #002d5d,
  700 : #002753,
  800 : #002049,
  900 : #001438,
  A100 : rgba(24, 186, 255, 1),
  A200 : rgba(0, 152, 218, 1),
  A400 : rgba(0, 134, 192, 1),
  A700 : rgba(0, 124, 177, 1),
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$lux-palette_accent: (
  50 : #ebf7ed,
  100 : #ccebd1,
  200 : #abdeb3,
  300 : #89d194,
  400 : #6fc77d,
  500 : #56bd66,
  600 : #4fb75e,
  700 : #45ae53,
  800 : #3ca649,
  900 : #2b9838,
  A100 : rgba(184, 255, 179, 1),
  A200 : rgba(126, 255, 117, 1),
  A400 : rgba(102, 255, 92, 1),
  A700 : rgba(88, 255, 77, 1),
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$lux-palette_warn: (
  50 : #ffcacf,
  100 : #f59594,
  200 : #ed6b6a,
  300 : #f64543,
  400 : #fb2f24,
  500 : #ec2125,
  600 : #da101f,
  700 : #ce0017,
  800 : #c00007,
  900 : #bf0006,
  A100 : rgba(237, 95, 122, 1),
  A200 : rgba(63, 155, 218, 1),
  A400 : rgba(244, 203, 37, 1),
  A700 : rgba(237, 110, 17, 1),
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$lux-primary-color: map.get($lux-palette_primary, 500);
$lux-accent-color: map.get($lux-palette_accent, 500);
$lux-warn-color: map.get($lux-palette_warn, 500);

$lux-palettes-new: (
  primary: (
    0: #000000,
    5: #001129,  //primary-900 und 800
    10: #001b3c, //primary-700
    15: #00264e, //primary-600
    20: #003366, //primary-500
    25: #0f3b6f,
    30: #1f477b, //primary-400
    35: #2d5387,
    40: #3a5f94, //primary-300
    50: #5478af,
    60: #6e92ca, //primary-200
    70: #89ace7,
    80: #a7c8ff, //primary-100
    90: #d5e3ff, //primary-50
    95: #ecf1ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff
  ),
  secondary: (
    0: #000000,
    5: #0a111c,
    10: #151c28,
    15: #1f2632,
    20: #2a313d,
    25: #353c49,
    30: #404754,
    35: #4c5360,
    40: #585f6c,
    50: #707786,
    60: #8a91a0,
    70: #a4abbb,
    80: #c0c6d7,
    90: #dce2f3,
    95: #ecf1ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff
  ),
  tertiary: (
    0: #000000,
    5: #001503,
    10: #002107,
    15: #002d0c,
    20: #003911,
    25: #004617,
    30: #00531d, //accent-900
    35: #006022,
    40: #006e29, //accent-800
    50: #198939, //accent-700
    60: #3ca450, //accent-600
    70: #56bd66, //accent-500
    80: #75dc81, //accent-300 und 400
    90: #90f99b, //accent-200
    95: #c6ffc5, //accent-100
    98: #ebffe6, //accent-50
    99: #f6fff1,
    100: #ffffff
  ),
  neutral: (
    0: #000000,
    5: #111111,
    10: #1c1b1b, //dark-primary-text
    15: #262625,
    20: #313030,
    25: #3c3b3b,
    30: #484646,
    35: #535252,
    40: #605e5e, //dark-secondary-text
    50: #797776,
    60: #929090, //form-border-color
    70: #adaaaa,
    80: #c9c6c5,
    90: #e5e2e1, //app-border-color und dark-disabled-text
    95: #f4f0ef,
    98: #fcf8f8,
    99: #f6feff,
    100: #ffffff
  ),
  neutral-variant: (
    0: #000000,
    5: #111111,
    10: #1c1b1b,
    15: #262625,
    20: #313030,
    25: #3c3b3b,
    30: #484646,
    35: #535252,
    40: #5f5e5e,
    50: #787776,
    60: #929090,
    70: #adabaa,
    80: #c9c6c5,
    90: #e5e2e1,
    95: #f4f0ef,
    98: #fcf8f8,
    99: #f6feff,
    100: #ffffff
  ),
  error:
  (
    0: #000000,
    5: #2d0001,
    10: #410002,
    15: #540004, //warn-900
    20: #690005,
    25: #7e0007, //warn-800
    30: #93000a, //warn-700
    35: #a80710, //warn-600
    40: #ba1a1a, //warn-500
    50: #ec2125, //warn-400
    60: #ff5449, //warn-300
    70: #ff897d, //warn-200
    80: #ffb4ab, //warn-100
    90: #ffdad6, //warn-50
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff
  )
);
