<example-base-structure
  exampleTitle="Autocomplete"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components-workspace/wiki/lux%E2%80%90autocomplete-v21"
>
  <example-base-content>
    <div class="lux-flex lux-flex-col">
      <h3>Signal Form &mdash; <code>[formField]</code></h3>
      <lux-autocomplete
        luxAutofocus
        [luxAutofocusComponent]="autocomplete"
        [luxLabel]="label()"
        [luxPlaceholder]="placeholder()"
        [luxHint]="hint()"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus()"
        [luxNoTopLabel]="noTopLabel()"
        [luxNoBottomLabel]="noBottomLabel()"
        [luxNoLabels]="noLabels()"
        [luxOptionLabelProp]="renderProperty()"
        [luxErrorMessageNotAnOption]="errorMessageNotAnOption()"
        [luxOptions]="selectedOptions()"
        [luxOptionBlockSize]="optionBlockSize()"
        [luxPickValue]="usePickValueFn() && strict() ? pickValueFn : undefined"
        [luxFilterFn]="useFilterFn() ? onFilter : undefined"
        [formField]="signalForm.autocompleteValue"
        [luxSelectAllOnClick]="selectAllOnClick()"
        [luxStrict]="strict()"
        [luxDense]="denseFormat()"
        [luxClearable]="clearable()"
        [luxLookupDelay]="delay()"
        [luxErrorMessage]="useErrorMessage() ? errorMessage() : undefined"
        [luxErrorCallback]="useErrorMessage() ? emptyCallback : errorCallback"
        [luxControlValidators]="controlValidators()"
        [luxPanelWidth]="luxPanelWidth()"
        [luxLabelLongFormat]="labelLongFormat()"
        (luxBlur)="log(showOutputEvents(), 'luxBlur', $event)"
        (luxFocus)="log(showOutputEvents(), 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents(), 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents(), 'luxFocusOut', $event)"
        (luxOptionSelected)="log(showOutputEvents(), 'luxOptionSelected', $event)"
        luxTagId="autocomplete-signal-form"
        #autocomplete
      >
        @if (showPrefix()) {
          <lux-input-prefix> <lux-icon luxIconName="lux-tasks" />&nbsp; </lux-input-prefix>
        }
        @if (showSuffix()) {
          <lux-input-suffix>ABC</lux-input-suffix>
        }
        @if (useTemplatesForLabels()) {
          <ng-template let-option #labelTemplate>
            <div class="lux-flex">
              <div><lux-icon luxIconName="lux-tasks" /></div>
              <div>
                via Template {{ option[renderProperty()] }}
                @if (useTranslocoDate()) {
                  &nbsp;({{ option.gueltigAb | translocoDate: { dateStyle: 'full' } }})
                }
              </div>
            </div>
          </ng-template>
        }
      </lux-autocomplete>
      <example-signal-form-value [field]="signalForm.autocompleteValue" />
    </div>
    <div class="lux-flex lux-flex-col" [formGroup]="form">
      <h3 class="deprecated">Reactive-Form &mdash; <code>luxControlBinding</code></h3>
      <lux-autocomplete
        [luxLabel]="label()"
        [luxPlaceholder]="placeholder()"
        [luxHint]="hint()"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus()"
        [luxNoTopLabel]="noTopLabel()"
        [luxNoBottomLabel]="noBottomLabel()"
        [luxNoLabels]="noLabels()"
        [luxOptionLabelProp]="renderProperty()"
        [luxErrorMessageNotAnOption]="errorMessageNotAnOption()"
        [luxOptions]="selectedOptions()"
        [luxOptionBlockSize]="optionBlockSize()"
        [luxPickValue]="usePickValueFn() && strict() ? pickValueFn : undefined"
        [luxFilterFn]="useFilterFn() ? onFilter : undefined"
        [luxSelectAllOnClick]="selectAllOnClick()"
        [(luxDisabled)]="disabled"
        [luxReadonly]="readonly()"
        [luxStrict]="strict()"
        [luxDense]="denseFormat()"
        [luxClearable]="clearable()"
        [luxLookupDelay]="delay()"
        [luxErrorMessage]="useErrorMessage() ? errorMessage() : undefined"
        [luxErrorCallback]="useErrorMessage() ? emptyCallback : errorCallback"
        [luxControlBinding]="controlBinding"
        [luxPanelWidth]="luxPanelWidth()"
        [luxLabelLongFormat]="labelLongFormat()"
        (luxBlur)="log(showOutputEvents(), 'luxBlur', $event)"
        (luxFocus)="log(showOutputEvents(), 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents(), 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents(), 'luxFocusOut', $event)"
        (valueChange)="log(showOutputEvents(), 'luxValueChange', $event)"
        (luxOptionSelected)="log(showOutputEvents(), 'luxOptionSelected', $event)"
        luxTagId="autocomplete-reactive"
      >
        @if (showPrefix()) {
          <lux-input-prefix> <lux-icon [luxIconName]="'lux-tasks'" />&nbsp; </lux-input-prefix>
        }
        @if (showSuffix()) {
          <lux-input-suffix>ABC</lux-input-suffix>
        }
        @if (useTemplatesForLabels()) {
          <ng-template let-option #labelTemplate>
            <div class="lux-flex">
              <div><lux-icon luxIconName="lux-tasks" /></div>
              <div>
                via Template {{ option[renderProperty()] }}
                @if (useTranslocoDate()) {
                  &nbsp;({{ option.gueltigAb | translocoDate: { dateStyle: 'full' } }})
                }
              </div>
            </div>
          </ng-template>
        }
      </lux-autocomplete>
      <example-form-value [form]="form" [controlBinding]="controlBinding" />
    </div>
    <div class="lux-flex lux-flex-col">
      <h3>Freistehend &mdash; <code>[(value)]</code></h3>
      <lux-autocomplete
        [luxLabel]="label()"
        [luxPlaceholder]="placeholder()"
        [luxHint]="hint()"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus()"
        [luxNoTopLabel]="noTopLabel()"
        [luxNoBottomLabel]="noBottomLabel()"
        [luxNoLabels]="noLabels()"
        [luxOptionLabelProp]="renderProperty()"
        [luxErrorMessageNotAnOption]="errorMessageNotAnOption()"
        [luxOptions]="selectedOptions()"
        [luxOptionBlockSize]="optionBlockSize()"
        [luxPickValue]="usePickValueFn() && strict() ? pickValueFn : undefined"
        [luxFilterFn]="useFilterFn() ? onFilter : undefined"
        [(value)]="plainValue"
        [luxSelectAllOnClick]="selectAllOnClick()"
        [(luxDisabled)]="disabled"
        [luxRequired]="required()"
        [luxReadonly]="readonly()"
        [luxStrict]="strict()"
        [luxDense]="denseFormat()"
        [luxClearable]="clearable()"
        [luxLookupDelay]="delay()"
        [luxErrorMessage]="useErrorMessage() ? errorMessage() : undefined"
        [luxErrorCallback]="useErrorMessage() ? emptyCallback : errorCallback"
        [luxControlValidators]="controlValidators()"
        [luxPanelWidth]="luxPanelWidth()"
        [luxLabelLongFormat]="labelLongFormat()"
        (valueChange)="log(showOutputEvents(), 'luxValueChange', $event)"
        (luxBlur)="log(showOutputEvents(), 'luxBlur', $event)"
        (luxFocus)="log(showOutputEvents(), 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents(), 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents(), 'luxFocusOut', $event)"
        (luxOptionSelected)="log(showOutputEvents(), 'luxOptionSelected', $event)"
        luxTagId="autocomplete-plain-value"
      >
        @if (showPrefix()) {
          <lux-input-prefix> <lux-icon luxIconName="lux-tasks" />&nbsp; </lux-input-prefix>
        }
        @if (showSuffix()) {
          <lux-input-suffix>ABC</lux-input-suffix>
        }
        @if (useTemplatesForLabels()) {
          <ng-template let-option #labelTemplate>
            <div class="lux-flex">
              <div><lux-icon luxIconName="lux-tasks" /></div>
              <div>
                via Template {{ option[renderProperty()] }}
                @if (useTranslocoDate()) {
                  &nbsp;({{ option.gueltigAb | translocoDate: { dateStyle: 'full' } }})
                }
              </div>
            </div>
          </ng-template>
        }
      </lux-autocomplete>
      <example-value [value]="plainValue()" />
    </div>
    <div class="lux-flex lux-flex-col">
      <h3 class="deprecated">Freistehend &mdash; <code>[(luxValue)] @deprecated</code></h3>
      <lux-autocomplete
        [luxLabel]="label()"
        [luxPlaceholder]="placeholder()"
        [luxHint]="hint()"
        [luxHintShowOnlyOnFocus]="hintShowOnlyOnFocus()"
        [luxNoTopLabel]="noTopLabel()"
        [luxNoBottomLabel]="noBottomLabel()"
        [luxNoLabels]="noLabels()"
        [luxOptionLabelProp]="renderProperty()"
        [luxErrorMessageNotAnOption]="errorMessageNotAnOption()"
        [luxOptions]="selectedOptions()"
        [luxOptionBlockSize]="optionBlockSize()"
        [luxPickValue]="usePickValueFn() && strict() ? pickValueFn : undefined"
        [luxFilterFn]="useFilterFn() ? onFilter : undefined"
        [(luxValue)]="value"
        [luxSelectAllOnClick]="selectAllOnClick()"
        [(luxDisabled)]="disabled"
        [luxRequired]="required()"
        [luxReadonly]="readonly()"
        [luxStrict]="strict()"
        [luxDense]="denseFormat()"
        [luxClearable]="clearable()"
        [luxLookupDelay]="delay()"
        [luxErrorMessage]="useErrorMessage() ? errorMessage() : undefined"
        [luxErrorCallback]="useErrorMessage() ? emptyCallback : errorCallback"
        [luxControlValidators]="controlValidators()"
        [luxPanelWidth]="luxPanelWidth()"
        [luxLabelLongFormat]="labelLongFormat()"
        (luxValueChange)="log(showOutputEvents(), 'luxValueChange', $event)"
        (luxBlur)="log(showOutputEvents(), 'luxBlur', $event)"
        (luxFocus)="log(showOutputEvents(), 'luxFocus', $event)"
        (luxFocusIn)="log(showOutputEvents(), 'luxFocusIn', $event)"
        (luxFocusOut)="log(showOutputEvents(), 'luxFocusOut', $event)"
        (luxOptionSelected)="log(showOutputEvents(), 'luxOptionSelected', $event)"
        luxTagId="autocomplete-plain-lux-value"
      >
        @if (showPrefix()) {
          <lux-input-prefix> <lux-icon luxIconName="lux-tasks" />&nbsp; </lux-input-prefix>
        }
        @if (showSuffix()) {
          <lux-input-suffix>ABC</lux-input-suffix>
        }
        @if (useTemplatesForLabels()) {
          <ng-template let-option #labelTemplate>
            <div class="lux-flex">
              <div><lux-icon luxIconName="lux-tasks" /></div>
              <div>
                via Template {{ option[renderProperty()] }}
                @if (useTranslocoDate()) {
                  &nbsp;({{ option.gueltigAb | translocoDate: { dateStyle: 'full' } }})
                }
              </div>
            </div>
          </ng-template>
        }
      </lux-autocomplete>
      <example-value [value]="value()" />
    </div>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input
      luxName="autocomplete_luxLabel"
      luxLabel="luxLabel"
      luxHint="Diese Property ermöglicht es, das Label für die Component zu setzen."
      [(value)]="label"
    />
    <lux-input
      luxName="autocomplete_luxHint"
      luxLabel="luxHint"
      luxHint="Diese Property ermöglicht es, den Hint für die Component zu setzen."
      [(value)]="hint"
    />
    <div class="lux-flex lux-items-center lux-gap-2">
      <lux-toggle
        class="lux-flex-auto"
        luxLabel="luxNoTopLabel"
        luxHint="Blendet das Label nur visuell aus. Es bleibt im DOM und der zugängliche Name bleibt erhalten."
        [(checked)]="noTopLabel"
        [luxNoTopLabel]="true"
      />
      <app-status-marker [markerType]="markerTypeUpdated" />
    </div>
    <div class="lux-flex lux-items-center lux-gap-2">
      <lux-toggle
        class="lux-flex-auto"
        luxLabel="luxNoBottomLabel"
        luxHint="Entfernt den unteren Bereich (Hint, Fehlermeldung, Counter) aus dem DOM."
        [(checked)]="noBottomLabel"
        [luxNoTopLabel]="true"
      />
      <app-status-marker [markerType]="markerTypeUpdated" />
    </div>
    <div class="lux-flex lux-items-center lux-gap-2">
      <lux-toggle
        class="lux-flex-auto"
        luxLabel="luxNoLabels"
        luxHint="Kombination aus luxNoTopLabel und luxNoBottomLabel."
        [(checked)]="noLabels"
        [luxNoTopLabel]="true"
      />
      <app-status-marker [markerType]="markerTypeUpdated" />
    </div>
    <lux-input
      luxName="autocomplete_luxPlaceholder"
      luxLabel="luxPlaceholder"
      luxHint="Diese Property ermöglicht es, den Placeholder für die Component zu setzen."
      [(value)]="placeholder"
    />
    <lux-select
      [value]="renderProperties[0]"
      (valueChange)="onRenderProperty($event)"
      [luxOptions]="renderProperties"
      luxOptionLabelProp="label"
      [luxDisabled]="useStringValues()"
      luxLabel="luxOptionLabelProp"
      luxHint="Über die Property wird eingestellt, woraus der anzuzeigende Label bezogen wird."
    />
    <lux-toggle
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(checked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    />
    <lux-toggle
      luxLabel="luxHintShowOnlyOnFocus"
      luxHint="Erlaubt es, den Hinweis nur einzublenden, wenn das Element den Fokus hat"
      [(checked)]="hintShowOnlyOnFocus"
      [luxNoTopLabel]="true"
    />
    <lux-toggle
      [(checked)]="useStringValues"
      luxLabel="String-Werte verwenden"
      luxHint="Anstatt Objekte, String-Werte verwenden"
      [luxNoTopLabel]="true"
    />
    <lux-toggle
      [(checked)]="readonly"
      luxLabel="luxReadonly"
      luxHint="Dieses Flag verhindert das Auswählen/die Interaktion mit dieser Component."
      [luxNoTopLabel]="true"
    />
    <lux-toggle
      [(checked)]="clearable"
      luxLabel="luxClearable"
      luxHint="Zeigt einen optionalen Button zum Zurücksetzen des Eingabewerts an."
      [luxNoTopLabel]="true"
    />
    <lux-toggle luxLabel="luxRequired" (checkedChange)="changeRequired($event)" [luxNoTopLabel]="true">
      <lux-form-hint>
        Markiert diese Component als Pflichtfeld. Dies funktioniert direkt nur in Components, die nicht in einer Reactive-Form sind.<br />
        <b>In diesem Beispiel wird stattdessen für die Reactive-Form Component der Validator.required für das Form-Control gesetzt.</b>
      </lux-form-hint>
    </lux-toggle>
    <lux-toggle
      [(checked)]="denseFormat"
      luxLabel="luxDense"
      luxHint="Diese Property veringert das Padding innerhalb des Controls."
      [luxNoTopLabel]="true"
    />
    <lux-toggle [(checked)]="strict" luxLabel="luxStrict" [luxNoTopLabel]="true">
      <lux-form-hint>
        Dieses Flag aktiviert den strikten Modus dieser Component.<br />
        Das bedeutet, dass nur Eingaben die einer Option entsprechen als valide gelten.
      </lux-form-hint>
    </lux-toggle>
    <lux-toggle [(checked)]="usePickValueFn" luxLabel="luxPickValue" [luxDisabled]="!strict() || useStringValues()" [luxNoTopLabel]="true">
      <lux-form-hint>
        Dieses Flag aktiviert die PickValue-Funktion. Erfordert luxStrict = true. <br />
        Das bedeutet, es wird der von der PickValue-Funktion zurückgelieferte Wert selektiert und nicht die Option als ganzes. <br />
        Wenn String-Werte verwendet werden, kann diese Funktion nicht verwendet werden.
      </lux-form-hint>
    </lux-toggle>
    <lux-toggle [(checked)]="useFilterFn" luxLabel="luxFilterFn" [luxNoTopLabel]="true">
      <lux-form-hint>
        Dieses Flag aktiviert die Filterfunktion. <br />
        Diese Beispielfilterfunktion trennt die Eingabe anhand von Leerzeichen und prüft, ob alle Teile enthalten sind.
      </lux-form-hint>
    </lux-toggle>
    <lux-toggle [(checked)]="toggleOptions" luxLabel="Optionen austauschen" [luxNoTopLabel]="true">
      <lux-form-hint> Dieses Toggle tauscht die Optionen aus. </lux-form-hint>
    </lux-toggle>
    <lux-toggle
      [(checked)]="showPrefix"
      luxLabel="Präfix einblenden"
      luxHint="Blendet einen 'lux-input-prefix' ein."
      [luxNoTopLabel]="true"
    />
    <lux-toggle
      [(checked)]="showSuffix"
      luxLabel="Suffix einblenden"
      luxHint="Blendet einen 'lux-input-suffix' ein."
      [luxNoTopLabel]="true"
    />
    <example-form-disable [form]="form" [controlBinding]="controlBinding" [(disabled)]="disabled" />
  </example-base-simple-options>
  <example-base-advanced-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-input
      luxName="autocomplete_luxDelay"
      luxLabel="luxDelay"
      luxHint="Über diese Property kann die zeitliche Verzögerung für die Filterung eingestellt werden. Kann nur initial gesetzt werden und ist deshalb hier deaktiviert."
      [luxDisabled]="true"
      [(value)]="delay"
      luxType="number"
      [luxNumberAlignLeft]="true"
    />
    <lux-input
      luxName="autocomplete_luxPanelWidth"
      luxLabel="luxPanelWidth"
      luxHint="Über diese Property kann die Optionpanelbreite angepasst werden"
      [(value)]="luxPanelWidth"
    />
    <lux-input luxLabel="luxOptionBlockSize" [(value)]="optionBlockSize" luxType="number" [luxNumberAlignLeft]="true">
      <lux-form-hint> Lädt die Optionen in der eingestellten Blockgröße nach, wenn gescrollt wird. </lux-form-hint>
    </lux-input>
    <lux-select
      [luxOptions]="validatorOptions"
      luxOptionLabelProp="label"
      [luxMultiple]="true"
      [luxPickValue]="pickValidatorValueFn"
      luxLabel="luxControlValidators"
      [(value)]="controlValidators"
    >
      <lux-form-hint>
        Diese Property ermöglicht es einer Component die <b>nicht in einer Reactive-Form</b> ist, auf einfache Art und Weise trotzdem
        Validatoren zu übergeben.<br />
        Diese Property funktioniert nicht für Components in Reactive-Forms, da diese ihre Validatoren über die entsprechende FormControl
        setzen.
      </lux-form-hint>
    </lux-select>
    @if (strict()) {
      <lux-input
        luxName="autocomplete_luxErrorMessageNotAnOption"
        luxLabel="luxErrorMessageNotAnOption"
        luxHint="Die Property kann die Fehlermeldung für invalide Optionen einstellen."
        [(value)]="errorMessageNotAnOption"
      >
        <lux-form-hint> Die Property kann die Fehlermeldung für invalide Optionen einstellen. </lux-form-hint>
      </lux-input>
    }
    @if (useErrorMessage()) {
      <lux-input
        luxName="autocomplete_luxErrorMessage"
        luxLabel="luxErrorMessage"
        luxHint="Über diese Property lässt sich eine feste Fehlermeldung
                 (unabhängig vom speziellen Validierungsfehler) einstellen."
        [(value)]="errorMessage"
      />
    } @else {
      <pre class="lux-label">{{ errorCallbackString }}</pre>
    }
    <lux-toggle
      luxLabel="luxErrorMessage verwenden"
      luxHint="Wenn 'false', wird luxErrorCallback genutzt. Ist die Message leer, wird der normale Fehlertext genommen."
      [(checked)]="useErrorMessage"
      [luxNoTopLabel]="true"
    />
    <lux-toggle
      [(checked)]="selectAllOnClick"
      luxLabel="luxSelectAllOnClick"
      luxHint="Mit diesem Flag kann aktiviert werden, dass beim Klick auf das Feld der
                  gesamte Eingabewert direkt selektiert wird."
      [luxNoTopLabel]="true"
    />
    <lux-toggle [(checked)]="useTemplatesForLabels" luxLabel="Labels via Templates" [luxNoTopLabel]="true">
      <lux-form-hint> Die Labels können über in die Component eingereichte Template-Tags erstellt werden. </lux-form-hint>
    </lux-toggle>
    <lux-toggle
      [(checked)]="useTranslocoDate"
      luxLabel="translocoDate in Template verwenden"
      luxHint="Steuert, ob das Datum über die translocoDate-Pipe im Label-Template angezeigt wird."
      [luxDisabled]="!useTemplatesForLabels()"
      [luxNoTopLabel]="true"
    />
    <lux-toggle
      luxLabel="Lange Labeltexte mit Zeilenumbruch zulassen"
      luxHint="Nur für die Darstellung in Spalten empfohlen, da eine Ausrichtung im Raster nicht gewährleistet werden kann."
      [luxNoTopLabel]="true"
      [(checked)]="labelLongFormat"
    />
  </example-base-advanced-options>
</example-base-structure>
