<example-base-structure
  exampleTitle="List"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components-workspace/wiki/lux%E2%80%90list-v21"
>
  <example-base-content>
    <lux-list
      class="custom-list"
      luxLabel="Meine Beispielliste"
      [luxEmptyLabel]="emptyLabel"
      [luxEmptyIconName]="emptyIconName"
      [luxEmptyIconSize]="emptyIconSize"
      [(luxSelectedPosition)]="selectedPosition"
      (luxFocusedItemChange)="log(showOutputEvents, 'luxFocusedItemChange', $event)"
      (luxFocusedPositionChange)="log(showOutputEvents, 'luxFocusedPositionChange', $event)"
      (luxSelectedPositionChange)="log(showOutputEvents, 'luxSelectedPositionChange', $event)"
    >
      @for (item of items; track item; let i = $index) {
        <lux-list-item
          [luxTitle]="item.title"
          [luxSubTitle]="item.subTitle"
          [luxTitleLineBreak]="item.lineBreak"
          [luxSelected]="item.selected"
          (luxClicked)="click($event)"
        >
          @if (showCustomHeader) {
            <lux-list-item-custom-header>
              <div class="custom-header">
                <lux-icon luxIconName="lux-interface-arrows-button-right-duoble"></lux-icon>
                <div class="custom-header-content">
                  <div>{{ item.title }} (Custom-Header)</div>
                  <div>{{ item.subTitle }}</div>
                </div>
                <lux-icon luxIconName="lux-interface-arrows-button-left-double"></lux-icon>
              </div>
            </lux-list-item-custom-header>
          }
          <lux-list-item-icon>
            <lux-icon [luxIconName]="item.iconName" class="{{ 'lux-color-' + colors[i % colors.length] }}"></lux-icon>
          </lux-list-item-icon>
          <lux-list-item-content>
            @if (!showInteractiveContent) {
              Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim
              ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            } @else {
              <div class="lux-flex lux-flex-col lux-gap-2 lux-mt-2">
                @if (showRow1) {
                  <div class="lux-flex lux-gap-2 lux-flex-wrap lux-items-center">
                    <lux-chips-ac [luxHideBorder]="true" [luxNoLabels]="true" [luxInputAllowed]="false" [luxNewChipGroup]="group">
                      <lux-chip-ac-group [luxLabels]="item.chips" luxColor="primary" [luxRemovable]="true" #group> </lux-chip-ac-group>
                    </lux-chips-ac>
                  </div>
                }
                @if (showRow2) {
                  <div class="lux-flex lux-gap-2 lux-flex-wrap lux-items-center">
                    <lux-input-ac
                      luxAriaLabel="Lorem ipsum"
                      luxAriaLabelSelector="input"
                      luxPlaceholder="Input"
                      class="lux-min-width-36 lux-max-width-36"
                      [luxDense]="true"
                      [luxNoLabels]="true"
                      [(luxValue)]="item.title"
                    ></lux-input-ac>
                    <lux-autocomplete-ac
                      luxAriaLabel="Lorem ipsum"
                      luxAriaLabelSelector="input"
                      luxPlaceholder="Input"
                      class="lux-min-width-36 lux-max-width-36"
                      [luxDense]="true"
                      [luxNoLabels]="true"
                      [luxOptions]="['Label 1', 'Label 2']"
                    ></lux-autocomplete-ac>
                    <lux-select-ac
                      luxAriaLabel="Lorem ipsum"
                      luxAriaLabelSelector="[role='combobox']"
                      luxPlaceholder="Select"
                      class="lux-min-width-36 lux-max-width-36"
                      [luxOptions]="['Option 1', 'Option 2', 'Option 3']"
                      [luxDense]="true"
                      [luxNoLabels]="true"
                    ></lux-select-ac>
                    <lux-checkbox-ac luxLabel="Checkbox" [luxDense]="true" [luxNoLabels]="true"></lux-checkbox-ac>
                    <lux-toggle-ac luxLabel="Toggle" [luxDense]="true" [luxNoLabels]="true"></lux-toggle-ac>
                    <lux-radio-ac
                      luxAriaLabel="Lorem ipsum"
                      [luxOptions]="['A', 'B', 'C']"
                      [luxGroupName]="'radio-' + i"
                      [luxDense]="true"
                      [luxNoLabels]="true"
                      [luxOrientationVertical]="false"
                    ></lux-radio-ac>
                  </div>
                }
                @if (showRow3) {
                  <div class="lux-flex lux-gap-4 lux-flex-wrap lux-items-center">
                    <lux-button
                      luxLabel="Bearbeiten"
                      luxColor="primary"
                      [luxStroked]="true"
                      (luxClicked)="log(showOutputEvents, 'Bearbeiten geklickt', item.title)"
                    ></lux-button>
                    <lux-link
                      luxHref="#"
                      luxLabel="Löschen"
                      luxColor="warn"
                      [luxStroked]="true"
                      (luxClicked)="log(showOutputEvents, 'Löschen geklickt', item.title)"
                    ></lux-link>
                    <lux-link-plain
                      luxHref="#"
                      luxLabel="Link-Plain"
                      [luxStroked]="true"
                      (luxClicked)="log(showOutputEvents, 'Link-Plain geklickt', item.title)"
                    ></lux-link-plain>
                  </div>
                }
              </div>
            }
          </lux-list-item-content>
        </lux-list-item>
      }
    </lux-list>
  </example-base-content>
  <example-base-simple-options class="lux-flex lux-flex-col lux-gap-4">
    <lux-toggle-ac
      luxLabel="Output-Events loggen"
      luxHint="(Console --> F12/CMD+ALT+I)"
      [(luxChecked)]="showOutputEvents"
      [luxNoTopLabel]="true"
    ></lux-toggle-ac>
    <div class="lux-flex lux-items-center lux-gap-2">
      <lux-toggle-ac
        luxLabel="Interaktive Elemente in List-Items anzeigen (Grid-Navigation)"
        [(luxChecked)]="showInteractiveContent"
        [luxNoTopLabel]="true"
        ><lux-form-hint
          >Bearbeiten-Modus: Wird dieser aktiviert, können interaktive Elemente (Formularelemente, Buttons, etc.) im selektierten List-Item
          genutzt werden.<br />
          Enter/F2/Space aktiviert den Bearbeiten-Modus,<br />Escape kehrt zur Liste zurück.<br /><span class="lux-text-highlight-alert"
            >Vorsicht! Wenn man viele List-Items mit mehreren interaktiven Elementen hat, kann dies die Performance beeinträchtigen.</span
          ></lux-form-hint
        ></lux-toggle-ac
      >
      <app-status-marker></app-status-marker>
    </div>
    <lux-toggle-ac
      luxLabel="Zeige Zeile 1 (mit Chips)"
      [(luxChecked)]="showRow1"
      [luxNoLabels]="true"
      [luxDisabled]="!showInteractiveContent"
    ></lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="Zeige Zeile 2 (mit Formularelementen)"
      [(luxChecked)]="showRow2"
      [luxNoLabels]="true"
      [luxDisabled]="!showInteractiveContent"
    ></lux-toggle-ac>
    <lux-toggle-ac
      luxLabel="Zeige Zeile 3 (mit Buttons)"
      [(luxChecked)]="showRow3"
      [luxNoLabels]="true"
      [luxDisabled]="!showInteractiveContent"
    ></lux-toggle-ac>
    <div class="lux-flex lux-items-center">
      <lux-toggle-ac luxLabel="luxListItemCustomHeader anzeigen" [(luxChecked)]="showCustomHeader" [luxNoLabels]="true"> </lux-toggle-ac>
      <app-status-marker></app-status-marker>
    </div>
    <lux-input-ac
      [(luxValue)]="emptyLabel"
      luxName="list_luxEmptyLabel"
      luxLabel="luxEmptyLabel"
      luxHint="Diese Property stellt das Label ein, welches bei einer leeren Liste angezeigt werden soll."
    >
    </lux-input-ac>
    <lux-input-ac
      [(luxValue)]="emptyIconName"
      luxName="list_luxEmptyIconName"
      luxLabel="luxEmptyIconName"
      luxHint="Über diese Property wird das Icon bestimmt, das in einer leeren Liste angezeigt werden soll."
    >
    </lux-input-ac>
    <lux-select-ac
      [(luxSelected)]="emptyIconSize"
      [luxOptions]="['1x', '2x', '3x', '4x', '5x']"
      luxLabel="luxEmptyIconSize"
      luxHint="Über diese Property wird die Größe es luxEmptyIcons bestimmt."
    >
    </lux-select-ac>
    <lux-input-ac
      [(luxValue)]="selectedPosition"
      luxName="list_luxSelectedPosition"
      luxLabel="luxSelectedPosition"
      luxHint="Diese Property bestimmt welches ListItem selektiert werden soll."
      luxType="number"
    >
    </lux-input-ac>
  </example-base-simple-options>
  @if (items.length > 0) {
    <example-base-advanced-options class="lux-flex lux-flex-col lux-gap-4">
      <lux-accordion [luxMulti]="false" [luxMode]="'flat'">
        @for (item of items; track item) {
          <lux-panel>
            <lux-panel-header-title>
              {{ item.title }}
            </lux-panel-header-title>
            <lux-panel-content class="lux-flex lux-flex-col lux-gap-4 column lux-mt-4">
              <lux-input-ac
                [(luxValue)]="item.title"
                luxName="list_luxTitle"
                luxLabel="luxTitle"
                luxHint="Diese Property bestimmt den Titel des Items."
              >
              </lux-input-ac>
              <lux-input-ac
                [(luxValue)]="item.subTitle"
                luxName="list_luxSubTitle"
                luxLabel="luxSubTitle"
                luxHint="Diese Property bestimmt den Untertitel (grau) des Items."
              >
              </lux-input-ac>
              <lux-input-ac luxName="list_luxIconName" [(luxValue)]="item.iconName" luxLabel="luxIconName">
                <lux-form-hint>
                  Der Name des Icons für dieses Item.<br />
                  Das Icon wird über Content-Projection eingebunden, die restlichen Properties hierfür entfallen der Einfachheit halber für
                  das Beispiel.
                </lux-form-hint>
              </lux-input-ac>
              <lux-toggle-ac
                luxLabel="luxTitleLineBreak"
                luxHint="Dieses Flag bestimmt ob die Titel-Zeilen umgebrochen oder mit '...' abgekürzt werden."
                [(luxChecked)]="item.lineBreak"
                [luxNoTopLabel]="true"
              >
              </lux-toggle-ac>
              <lux-toggle-ac luxLabel="luxSelected" [(luxChecked)]="item.selected" [luxNoTopLabel]="true">
                <lux-form-hint>
                  Mithilfe dieses Flags kann das Item hervorgehoben dargestellt werden.<br />
                  In diesem Beispiel sorgt ein Klick auf ein Item dafür, dass dieses dann als selektiert gekennzeichnet wird.
                </lux-form-hint>
              </lux-toggle-ac>
            </lux-panel-content>
          </lux-panel>
        }
      </lux-accordion>
    </example-base-advanced-options>
  }
  <example-base-options-actions>
    <div class="lux-simple-form row">
      <lux-button luxLabel="Leeren" luxColor="warn" [luxStroked]="true" [luxDisabled]="items.length === 0" (luxClicked)="clear()">
      </lux-button>
      <lux-button luxLabel="Füllen" luxColor="primary" [luxFlat]="true" (luxClicked)="fill(30)"> </lux-button>
    </div>
  </example-base-options-actions>
</example-base-structure>
