.custom-list {
  overflow: auto;
  max-height: calc(100vh - 350px);
}

.custom-header {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;

  .custom-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

