:host {
  display: flex;
  width: 100%;
  > * {
    max-width: 100%;
  }
}

#main-content {
  &:focus-visible {
      outline: var(--lux-theme-outline-width) var(--lux-theme-outline-style) var(--lux-theme-outline-color-dark);
    }
}

.example-base-container,
.example-base-options {
  min-width: calc(50% - 8px);
  max-width: calc(50% - 8px);

  ::ng-deep > .mat-mdc-card > .lux-card-content-container {
    overflow-y: auto;
  }
}

.example-base-options {
  ::ng-deep {
    lux-card-actions {
      width: 100%;
    }
  }
}
.example-base-container-mobile,
.example-base-options-mobile {
  max-width: 100%;
  flex: 1 1 auto;
  box-sizing: border-box;
}

::ng-deep {
  .example-content-centered {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
