<lux-file-preview-toolbar>
  @if (zoomActive) {
  <lux-button
    class="lux-file-preview-toolbar-zoomin-button"
    luxIconName="lux-interface-edit-zoom-in"
    (luxClicked)="onZoomIn()"
    [luxRaised]="true"
    luxTagId="file-preview-zoomin-btn"
    luxAriaLabel="{{ 'luxc.file-preview.imgviewer.zoomin.arialabel' | transloco}}"
  ></lux-button>
  } @if (zoomActive) {
  <lux-button
    class="lux-file-preview-toolbar-zoomout-button"
    luxIconName="lux-interface-edit-zoom-out"
    (luxClicked)="onZoomOut()"
    [luxRaised]="true"
    luxTagId="file-preview-zoomout-btn"
    luxAriaLabel="{{ 'luxc.file-preview.imgviewer.zoomout.arialabel' | transloco}}"
  ></lux-button>
  }
  <lux-button
    class="lux-file-preview-toolbar-download-button"
    [luxIconName]="downloadIconName"
    (luxClicked)="onDownload()"
    luxColor="accent"
    [luxRaised]="true"
    [luxTagId]="downloadTagId"
    luxAriaLabel="{{ 'luxc.file-preview.download.arialabel' | transloco}}"
  ></lux-button>
  <lux-button
    class="lux-file-preview-toolbar-close-button"
    [luxIconName]="closeIconName"
    (luxClicked)="onClose()"
    [luxRaised]="true"
    [luxTagId]="closeTagId"
    luxAriaLabel="{{ 'luxc.file-preview.close.arialabel' | transloco}}"
  ></lux-button>
</lux-file-preview-toolbar>

<div class="overlay-content" [ngStyle]="{ 'max-width': width + 'px', 'max-height': height + 'px' }">
  @if (url) {
  <img
    [src]="url"
    [alt]="previewData.fileObject && previewData.fileObject.name ? previewData.fileObject.name : ''"
    (load)="onLoad()"
    [ngStyle]="{
      'max-width': width + zoomWidth + 'px',
      'max-height': height + zoomWidth + 'px',
      display: loading ? 'none' : 'block'
    }"
    #previewImg
  />
  } @if (loading && !startPhase) {
  <div class="message-box">Lade...</div>
  }
</div>
