$animation-duration: 2.8s;
$animation-delay-step: 0.4s;
$blink-opacity: 0.3;

.loading-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  .label {
    padding-top: 10px;
  }

  .dots {
    font-size: 2rem;

    span {
      animation: blink $animation-duration infinite both;
      opacity: $blink-opacity;
    }
    span:nth-child(2) {
      animation-delay: $animation-delay-step;
    }
    span:nth-child(3) {
      animation-delay: $animation-delay-step * 2;
    }

    @keyframes blink {
      0%,
      80%,
      100% {
        opacity: $blink-opacity;
      }
      40% {
        opacity: 1;
      }
    }
  }
}
