<ng-template let-item #core>
    @if(checkShowDateSplit(item)){
        <div class="lux-chat-entry-date-split">
            {{item.time | luxChatRelativeUntilTimestamp: undefined:undefined:-2:0}}
        </div>
    }

    <div [ngClass]="{
        'lux-chat-entry-container': true,
        'lux-chat-entry-container-right': item.isUser,
        'lux-chat-entry-container-left': !item.isUser,
    }">
        <ng-template *ngTemplateOutlet="chatEntryHeader()?.templateRef() ?? defaultHeader.templateRef(); context: { $implicit: item }"></ng-template>
        <div class="lux-chat-entry-card">
            <ng-template *ngTemplateOutlet="chatEntryActions()?.templateRef() ?? null; context: { $implicit: item }"></ng-template>
            <ng-template *ngTemplateOutlet="chatEntryContent()?.templateRef() ?? defaultContent.templateRef(); context: { $implicit: item }"></ng-template>
            <ng-template *ngTemplateOutlet="chatEntryFooter()?.templateRef() ?? defaultFooter.templateRef(); context: { $implicit: item }"></ng-template>
        </div>
    </div>
</ng-template>

<lux-chat-entry-header #defaultHeader>
</lux-chat-entry-header>

<lux-chat-entry-content #defaultContent>
</lux-chat-entry-content>

<lux-chat-entry-footer #defaultFooter>
</lux-chat-entry-footer>