<div class="lux-highlight-section lux-flex lux-flex-col">
  @if (showValue()) {
    <div class="lux-flex gt-md:lux-gap-2">
      <div class="lt-lg:lux-flex-basis-16 lux-flex-shrink-0">Wert:</div>
      <div>{{ formState().value | json }} {{ suffix() }}</div>
    </div>
  }
  <div class="lux-grid lux-grid-cols-3 lt-lg:lux-grid-cols-1 lux-max-width-3/4 gt-lg:lux-max-width-1/2">
    <div class="lux-flex gt-md:lux-gap-2">
      <div class="lt-lg:lux-flex-basis-16">Valid:</div>
      <div>{{ formState().valid }}</div>
    </div>
    <div class="lux-flex gt-md:lux-gap-2">
      <div class="lt-lg:lux-flex-basis-16">Dirty:</div>
      <div>{{ formState().dirty }}</div>
    </div>
    <div class="lux-flex gt-md:lux-gap-2">
      <div class="lt-lg:lux-flex-basis-16">Touched:</div>
      <div>{{ formState().touched }}</div>
    </div>
  </div>
</div>
