:host lux-table {
  &.validation-active {
    ::ng-deep tr {
      height: 74px;
    }

    .valuefield-container {
      padding-left: 9px;
      padding-top: 18px;
    }

    .formfield-container {
      flex: 0 0 auto;
      padding-top: 8px;
    }
  }

  &:not(.validation-active) {
    .valuefield-container {
      padding-left: 9px;
    }

    .formfield-container {
      flex: 0 0 auto;
    }
  }
}

.json-preview {
  font-size: 0.75rem;
}
