@use "sass:color";
@use "sass:map";
@use "../luxVariables";
@use "../luxpalette";
@use "luxSvgIcons" as luxicons;

@mixin focus-dark-mixin {
  outline: var(--lux-theme-outline-dark);
}

@mixin focus-dark-mixin-inline {
  // der Focus um Elemente in Panels wird mit negativen Margin nach in das Element verlegt
  // damit wird er nicht mehr am Rand abgeschnitten oder verdeckt
  outline: var(--lux-theme-outline-dark);
  outline-offset: calc(var(--lux-theme-outline-width) * -1);
}

@mixin focus-bright-mixin {
  outline: var(--lux-theme-outline-bright);
}

@mixin lux-button-focus {
  $width: calc(var(--lux-theme-outline-width) - 1px);
  outline: $width luxVariables.$outline-style luxVariables.$outline-color-dark !important;
  outline-offset: 1px;
}

@mixin lux-selectable-mixin {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin lux-selected-mixin {
  background-color: var(--lux-theme-selected-bg-color) !important;
  position: relative;
  border-radius: 4px;

  &:after {
    content: "";
    left: 0;
    width: 6px;
    top: 0;
    bottom: 0;
    position: absolute;
    border-left: 4px solid luxVariables.$lux-selected-border-color;
    border-radius: 4px 0 0 4px;
  }
}

@mixin lux-selected-mixin-ac {
  background: luxVariables.$app-gradient;
  background-color: #fff;
  border: 1px solid var(--lux-theme-primary-20);
  box-shadow: 0 0 0 1px var(--lux-theme-primary-500) inset;
  position: relative;
  border-radius: 4px;
}
@mixin lux-selected-mixin-reverse-ac {
  background: luxVariables.$app-gradient-reverse;
  background-color: #fff;
  border: 1px solid var(--lux-theme-primary-20);
  box-shadow: 0 0 0 1px var(--lux-theme-primary-500) inset;
  position: relative;
  border-radius: 4px;
}

@mixin lux-selected-bottom-mixin {
  position: relative;

  &:after {
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-bottom: 4px solid luxVariables.$lux-selected-border-color;
  }
}

@mixin lux-hovered-mixin {
  background-color: luxVariables.$lux-hover-color !important;
  border-radius: 4px;
}

@mixin lux-hovered-mixin-inverted {
  color: #fff;
  background-color: luxVariables.$lux-hover-color;
}

/** ########## Green ########## **/
@mixin lux-hovered-mixin-green {
  background-color: #e3ebf5 !important;
  border-radius: 4px;
}

$dark-green: #2e8533;

@mixin lux-focus-mixin-green {
  box-shadow: 0 0 0 2px $dark-green, 0 0 8px 2px $dark-green !important;
  outline: 0 !important;
}
