@use "sass:color";
@use "sass:map";
@use "../luxVariables";
@use "../luxpalette";
@use "luxSvgIcons" as luxicons;

/*
  Dieses Partial-SCSS dient der Verwaltung der Styles f체r Fokus, Hover und Selected f체r die LUX-Components und
  die ihnen zugrunde liegenden Material Components.
*/

// Fokus
$outline-dark: luxVariables.$outline-width luxVariables.$outline-style luxVariables.$outline-color-dark !important;
$outline-bright: luxVariables.$outline-width luxVariables.$outline-style luxVariables.$outline-color-bright !important;

@mixin focus-dark-mixin {
  outline: $outline-dark;
}

@mixin focus-dark-mixin-inline {
  // der Focus um Elemente in Panels wird mit negativen Margin nach in das Element verlegt
  // damit wird er nicht mehr am Rand abgeschnitten oder verdeckt
  outline: $outline-dark;
  outline-offset: -(luxVariables.$outline-width);
}

@mixin focus-bright-mixin {
  outline: $outline-bright;
}

@mixin lux-button-focus {
  $width: calc(#{luxVariables.$outline-width} - 1px);
  outline: $width luxVariables.$outline-style luxVariables.$outline-color-dark !important;
  outline-offset: 1px;
}

@mixin lux-selectable-mixin {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin lux-selected-mixin {
  background-color: luxVariables.$lux-selected-bg-color !important;
  position: relative;
  border-radius: 4px;

  &:after {
    content: "";
    left: 0;
    width: 6px;
    top: 0;
    bottom: 0;
    position: absolute;
    border-left: 4px solid luxVariables.$lux-selected-border-color;
    border-radius: 4px 0 0 4px;
  }
}

@mixin lux-selected-mixin-ac {
  background: luxVariables.$app-gradient;
  background-color: #fff;
  border: 1px solid map.get(luxpalette.$lux-palette-primary, 500);
  box-shadow: 0 0 0 1px var(--lux-theme-primary-500) inset;
  position: relative;
  border-radius: 4px;
}
@mixin lux-selected-mixin-reverse-ac {
  background: luxVariables.$app-gradient-reverse;
  background-color: #fff;
  border: 1px solid map.get(luxpalette.$lux-palette-primary, 500);
  box-shadow: 0 0 0 1px var(--lux-theme-primary-500) inset;
  position: relative;
  border-radius: 4px;
}

@mixin lux-selected-bottom-mixin {
  position: relative;

  &:after {
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-bottom: 4px solid luxVariables.$lux-selected-border-color;
  }
}

@mixin lux-hovered-mixin {
  background-color: luxVariables.$lux-hover-color !important;
  border-radius: 4px;
}

@mixin lux-hovered-mixin-inverted {
  color: #fff;
  background-color: luxVariables.$lux-hover-color;
}

/** ########## Green ########## **/
@mixin lux-hovered-mixin-green {
  background-color: #e3ebf5 !important;
  border-radius: 4px;
}

$dark-green: #2e8533;

@mixin lux-focus-mixin-green {
  box-shadow:
    0 0 0 2px $dark-green,
    0 0 8px 2px $dark-green !important;
  outline: 0 !important;
}

/** ########## Form-Control ########## **/
.lux-form-control-wrapper {
  &.lux-focused-authentic .cdk-keyboard-focused {
    .mdc-switch__track {
      @include focus-dark-mixin;
    }
  }
}

lux-icon.lux-error-icon:focus-visible {
  @include focus-dark-mixin;
}

/** ########## Html ########## **/
lux-html {
  & a[href]:focus-visible {
    @include focus-dark-mixin;
  }
}

/** ########## Panel ########## **/
lux-panel {
  mat-expansion-panel-header:not([aria-disabled="true"]) {
    &:focus-visible {
      //background-color: white !important;
      @include focus-dark-mixin-inline;
    }
  }
}

/** ########## Example-Root ########## **/
example-root {
  .example-base-components-list {
    mat-expansion-panel-header,
    .example-component-list-item {
      @include lux-selectable-mixin;

      &.example-component-list-item-selected {
        @include lux-selected-mixin;
      }

      &:focus-visible {
        @include focus-dark-mixin-inline;
      }

      &:hover {
        @include lux-hovered-mixin;
      }
    }
  }
}

/** ########## Stepper large ########## **/
lux-stepper-large {
  .lux-stepper-large-nav-item {
    // Links allgemein
    a {
      &:focus-visible {
        outline: none;
      }

      &.lux-focused {
        outline: $outline-dark;
      }
    }

    // Link ausgew채hlt
    &.lux-active {
      .lux-stepper-large-nav-item-label-container {
        a.lux-stepper-large-nav-item-label-link {
          cursor: text;
          &:hover {
            color: luxpalette.$lux_primary-color;
          }
        }
      }
    }

    // Links nicht ausgew채hlt
    &:not(.lux-active) {
      &:not(.lux-completed) {
        .lux-stepper-large-nav-item-label-container {
          a.lux-stepper-large-nav-item-label-link {
            &:hover {
              color: #2e8533;
            }
          }
        }
      }

      &.lux-completed {
        .lux-stepper-large-nav-item-label-container {
          a.lux-stepper-large-nav-item-label-link {
            &:hover {
              color: #56bd66;
            }
          }
        }
      }
    }
  }
}

/** ########## File-Upload ########## **/
.lux-file-upload-drop-container {
  margin-left: luxVariables.$outline-width;
  margin-right: luxVariables.$outline-width;

  &:focus-visible {
    outline: $outline-dark;
  }
}
