@use "sass:list";
@use "sass:map";
@use "sass:string";
@use "luxbreakpoints";

body {
  color: var(--lux-theme-dark-primary-text);
  font-family: var(--lux-theme-app-font-family);
}

h1 {
  font-family: var(--lux-theme-app-headline-font);
  font-size: 2rem;
  font-weight: 500;
  margin-block-start: 1.2em;
  margin-block-end: 0.8rem;
}

h2 {
  font-family: var(--lux-theme-app-headline-font);
  font-size: 1.5rem;
  font-weight: 500;
  margin-block-start: 1.2em;
  margin-block-end: 0.8rem;
}

h3 {
  font-family: var(--lux-theme-app-headline-font);
  font-size: 1.25rem;
  font-weight: 500;
  margin-block-start: 1.2em;
  margin-block-end: 0.8rem;
}

h4 {
  font-family: var(--lux-theme-app-headline-font);
  font-size: 1rem;
  font-weight: 500;
  margin-block-start: 1.2em;
  margin-block-end: 0.8rem;
}

h5 {
  font-family: var(--lux-theme-app-headline-font);
  font-size: 0.875rem;
  font-weight: 700;
  margin-block-start: 2em;
  margin-block-end: 0.8rem;
}

h6 {
  font-family: var(--lux-theme-app-headline-font);
  font-size: 0.75rem;
  font-weight: 700;
  margin-block-start: 2em;
  margin-block-end: 0.8rem;
}

a:not(.lux-link) {
  background-color: var(--lux-theme-link-plain-background-color);
  color: var(--lux-theme-link-plain-color);
  text-decoration: underline;

  &:hover:not(:disabled):not(.lux-disabled) {
    background-color: var(--lux-theme-link-plain-hover-background-color);
    color: var(--lux-theme-link-plain-hover-color);
    cursor: pointer;
  }

  &:disabled,
  &.lux-disabled {
    color: var(--lux-theme-dark-disabled-text);
    cursor: text;
    text-decoration: none;
  }
}

.lux-app-header-bg {
  background-color: var(--lux-theme-app-header-bg);
}

.lux-app-content-bg {
  background-color: var(--lux-theme-app-content-bg);
}

.lux-app-footer-bg {
  background-color: var(--lux-theme-app-footer-bg);
}

.lux-app-data-bg {
  background-color: var(--lux-theme-app-data-bg);
}

.lux-selected-bg {
  background-color: var(--lux-theme-selected-bg-color);
}

.lux-hover-bg {
  background-color: var(--lux-theme-hover-color);
}

.lux-hover-dark-bg {
  background-color: var(--lux-theme-hover-color)-for-dark-background;
}

.lux-gradient-bg {
  background-color: #fff; //Fallback
  background-image: var(--lux-theme-app-gradient);
}

.lux-color-dark-divider {
  color: var(--lux-theme-dark-dividers);
}

.lux-color-light-divider {
  color: var(--lux-theme-light-dividers);
}

.lux-outline-color-light {
  color: var(--lux-theme-outline-color-bright);
}

.lux-outline-color-dark {
  color: var(--lux-theme-outline-color-dark);
}

.lux-outline-width {
  outline-width: var(--lux-theme-outline-width);
}

.lux-outline-style {
  outline-style: var(--lux-theme-outline-style);
}

.lux-outline-light {
  color: var(--lux-theme-outline-color-bright);
  outline-width: var(--lux-theme-outline-width);
  outline-style: var(--lux-theme-outline-style);
}

.lux-outline-dark {
  color: var(--lux-theme-outline-color-dark);
  outline-width: var(--lux-theme-outline-width);
  outline-style: var(--lux-theme-outline-style);
}

.lux-highlight-section {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px 16px;
  border: 1px solid var(--lux-theme-dark-dividers);
  display: flex;
  word-break: break-word;

  &.column {
    flex-direction: column;
    gap: 16px;
  }

  &.row {
    flex-direction: row;
    gap: 16px;
  }
}

.lux-highlight-section-label {
  margin-top: 0;
  margin-left: 0;
}

.lux-simple-form {
  margin: 4px 0;
  display: flex;

  &.column {
    flex-direction: column;
    gap: 16px;
  }

  &.row {
    flex-direction: row;
    gap: 16px;
  }
}

html,
body,
.lux-app-container {
  height: 100%;
}

.lux-app-container {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
}

body {
  -webkit-overflow-scrolling: touch;
}

.mat-mdc-dialog-container {
  background-color: var(--lux-theme-app-content-bg) !important;
}

// f체r Demo
lux-card.lux-card-grow {
  display: flex;
  flex: 1 1 auto;
  width: 400px;
  min-width: 0;

  mat-card {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
  }

  mat-card-content {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
  }
}

.lux-crop {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lux-crop-2-lines {
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
}

.lux-label {
  color: var(--lux-theme-dark-secondary-text);
  font-size: 0.75rem;
}

.lux-hint {
  color: var(--lux-theme-dark-secondary-text);
  font-size: 0.75rem;
}

.lux-sr-only {
  // sr=screen-reader vgl. https://webaim.org/techniques/css/invisiblecontent/
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.lux-border-box {
  box-sizing: border-box;
}

.lux-content-box {
  box-sizing: content-box;
}

.lux-nowrap {
  white-space: nowrap;
}

.lux-cursor {
  cursor: pointer;
}

.lux-block-pointer-events {
  pointer-events: none;
}

.lux-vertical-align-baseline {
  vertical-align: baseline !important;
}

.lux-black-semi-transparent {
  color: var(--lux-theme-dark-primary-text);
}

.lux-semi-transparent {
  opacity: 0.6;
}

.lux-overflow-y-hidden {
  overflow-y: hidden;
}

.lux-overflow-y-auto {
  overflow-y: auto;
}

.lux-overflow-wrap-break-word {
  overflow-wrap: break-word;
}

.lux-bold {
  font-weight: bold !important;
}

.lux-uppercase {
  text-transform: uppercase !important;
}

.lux-lowercase {
  text-transform: lowercase !important;
}

.lux-hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow-x: auto;
}

.lux-reset-icon {
  display: inline-block;

  &:hover {
    border-radius: 50%;
    color: var(--lux-theme-hover-color);
    cursor: pointer;
  }
}

/* <MARGINS / PADDINGS> */

/*
  Erstellt die Layout-Gaps (Margin-Abst채nde f체r Children von fxLayouts).
  Um weitere Steps hinzufuegen die Variable gapSteps um die entsprechenden Werte ergaenzen.
 */
$gapSteps: 10, 20, 30;

@each $gapStep in $gapSteps {
  .lux-flex-layout-gap-#{$gapStep}[style*="row"] > *:not(:last-child) {
    margin-right: #{$gapStep}px;
  }
  .lux-flex-layout-gap-#{$gapStep}[style*="column"] > *:not(:last-child) {
    margin-bottom: #{$gapStep}px;
  }
}

/*
  Erstellt die Z-Indizes.
  Um weitere Z-Indizes anzulegen, die Variable zindexSteps um die entsprechenden Werte ergaenzen.
 */
$zindexSteps: 100, 500, 1000;

@each $zindexStep in $zindexSteps {
  .lux-z-index-#{$zindexStep} {
    z-index: #{$zindexStep};
  }
}

/*
  F체r die Darstellung von uppercase-Labels wenn die Configuration das erlaubt.
 */
.lux-uppercase > lux-button,
lux-button.lux-uppercase {
  .lux-button-label {
    text-transform: uppercase;
  }
}

$componentColorNames: ("red", "green", "purple", "blue", "gray", "orange", "black", "white", "yellow", "pink", "lightblue");

@each $colorName in $componentColorNames {
  .lux-color-#{"" + $colorName + ""} {
    color: var(--lux-theme-custom-#{$colorName});
  }
}

@each $colorName in $componentColorNames {
  .lux-bg-color-#{"" + $colorName + ""} {
    background-color: var(--lux-theme-custom-#{$colorName});
  }
}

@each $colorName in $componentColorNames {
  .lux-font-color-#{"" + $colorName + ""} {
    color: var(--lux-theme-custom-on-#{$colorName});
  }
}

.lux-color-dark-primary-text {
  color: var(--lux-theme-dark-primary-text);
}

.lux-color-dark-secondary-text {
  color: var(--lux-theme-dark-secondary-text);
}

.lux-color-dark-disabled-text {
  color: var(--lux-theme-dark-disabled-text);
}

.lux-color-dark-focused {
  color: var(--lux-theme-dark-focused);
}

.lux-color-light-primary-text {
  color: var(--lux-theme-light-primary-text);
}

.lux-color-light-secondary-text {
  color: var(--lux-theme-light-secondary-text);
}

.lux-color-light-disabled-text {
  color: var(--lux-theme-light-disabled-text);
}

.lux-color-light-focused {
  color: var(--lux-theme-light-focused);
}

.lux-text-highlight-primary,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(even).lux-text-highlight-primary,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(odd).lux-text-highlight-primary {
  color: var(--mat-sys-on-primary-container);
  background-color: var(--mat-sys-primary-container);

  @media (prefers-contrast: more) {
    color: var(--lux-theme-dark-primary-text);
    background-color: var(--lux-theme-primary-70);
  }
}

.lux-text-highlight-primary-strong,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(even).lux-text-highlight-primary-strong,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(odd).lux-text-highlight-primary-strong {
  color: var(--lux-theme-dark-primary-text);
  background-color: var(--lux-theme-primary-70);
}

.lux-text-highlight-success,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(even).lux-text-highlight-success,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(odd).lux-text-highlight-success {
  color: var(--mat-sys-on-tertiary-container);
  background-color: var(--mat-sys-tertiary-container);

  @media (prefers-contrast: more) {
    color: var(--mat-sys-on-tertiary);
    background-color: var(--mat-sys-tertiary);
  }
}

.lux-text-highlight-success-strong,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(even).lux-text-highlight-success-strong,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(odd).lux-text-highlight-success-strong {
  color: #1c1b1b;
  background-color: #56bd66;
}

.lux-text-highlight-alert,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(even).lux-text-highlight-alert,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(odd).lux-text-highlight-alert {
  color: #1c1b1b;
  background-color: #fdedab;

  @media (prefers-contrast: more) {
    color: var(--lux-theme-custom-on-yellow);
    background-color: var(--lux-theme-custom-yellow);
  }
}

.lux-text-highlight-alert-strong,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(even).lux-text-highlight-alert-strong,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(odd).lux-text-highlight-alert-strong {
  color: var(--lux-theme-custom-on-yellow);
  background-color: var(--lux-theme-custom-yellow);
}

.lux-text-highlight-error,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(even).lux-text-highlight-error,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(odd).lux-text-highlight-error {
  color: #93000c;
  background-color: #ffdad6;

  @media (prefers-contrast: more) {
    color: var(--lux-theme-dark-primary-text);
    background-color: var(--lux-theme-warn-70);
  }
}

.lux-text-highlight-error-strong,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(even).lux-text-highlight-error-strong,
lux-table .lux-table .lux-table-content .mat-mdc-row:nth-child(odd).lux-text-highlight-error-strong {
  color: var(--lux-theme-dark-primary-text);
  background-color: var(--lux-theme-warn-70);
}
