<lux-file-preview-toolbar>
  <lux-button
    luxIconName="lux-interface-download-button-2"
    (luxClicked)="onDownload()"
    luxColor="accent"
    [luxRaised]="true"
    luxTagId="file-preview-download-btn"
    luxAriaLabel="{{ 'luxc.file-preview.notsupportedviewer.download.arialabel' | transloco}}"
  ></lux-button>
  <lux-button
    luxIconName="lux-close"
    (luxClicked)="onClose()"
    [luxRaised]="true"
    luxTagId="file-preview-close-btn"
    luxAriaLabel="{{ 'luxc.file-preview.notsupportedviewer.close.arialabel' | transloco}}"
  ></lux-button>
</lux-file-preview-toolbar>
<div class="message-box lux-flex lux-flex-col lux-place-content-center lux-items-center lux-gap-5">
  <div>{{ 'luxc.file-preview.notsupportedviewer.message' | transloco }}</div>
  <lux-button luxLabel="{{ 'luxc.file-preview.notsupportedviewer.download.dialog.lbl' | transloco }}" (luxClicked)="onDownload()" [luxRaised]="true" luxColor="accent"></lux-button>
</div>
