<div class="lux-chat">
    <!-- Chat header -->
    <div class="lux-chat-header">
        <p class="lux-chat-header-title">
            <span class="lux-chat-header-title-text">
                {{luxChatTitle()}}
            </span>
            
            @if(luxChatSubTitle()){
                <br/>
                <span class="lux-chat-header-sub-title">
                    {{luxChatSubTitle()}}
                </span>
            }
        </p>

        
        @if(showFullscreenButton() || showCloseButton()){
            <div class="lux-flex lux-gap-4">
                @if(showFullscreenButton()){
                    <lux-button
                        luxColor="primary"
                        [luxIconButton]="true"
                        [luxIconName]="_chatFullscreen ? 'lux-interface-arrows-shrink-1' : 'lux-interface-arrows-expand-1'"
                        (luxClicked)="onFullscreenChatClicked()"
                        [luxAriaLabel]="'luxc.chat.button_fullscreen.arialabel' | transloco"
                    ></lux-button>
                }

                @if(showCloseButton()){
                    <lux-button
                        luxColor="primary"
                        [luxIconButton]="true"
                        luxIconName="lux-interface-delete-1"
                        (luxClicked)="onCloseChatClicked()"
                        [luxAriaLabel]="'luxc.chat.button_close.arialabel' | transloco"
                    ></lux-button>
                }
            </div>
        }
    </div>
    
    <lux-divider [luxInset]="false"></lux-divider>

    <!-- Chat base -->
    <div class="lux-chat-base" tabindex="0" #chatBase>
        @for (item of luxChatData()?.messages; track $index){
            @if(item.metadata["_showDateSplit"]){
                <div class="lux-chat-entry-date-split">
                    {{ item.time | luxChatRelativeUntilTimestamp:undefined:undefined:-2:0:locale }}
                </div>
            }

            <div [ngClass]="{
                'lux-chat-entry-container': true,
                'lux-chat-entry-container-left': !item.metadata._isUser,
                'lux-chat-entry-container-right': item.metadata._isUser,
            }">
                <div class="lux-chat-entry-header">
                    @if(item.metadata["_showEntryHeaderTime"]){
                        @if(item.user !== luxChatUserName()){
                            <span>{{item.user}}</span>
                        }
                        <span>{{item.time | date:'HH:mm'}}</span>
                    }
                </div>
                <div class="lux-chat-entry-card">
                    @if(luxChatEntryComponent()){
                        <ng-container *ngTemplateOutlet="luxChatEntryComponent()?.templateRef(); context: { $implicit: item }"></ng-container>
                    }
                    @else {
                        <lux-markdown 
                            [luxData]="item.content"
                        ></lux-markdown>
                    }
                </div>
            </div>
        }
    </div>

    <!-- Chat action -->
    <div class="lux-chat-action-container">
        <lux-textarea-ac 
            class="lux-chat-action-input"
            luxAriaLabel="{{ 'luxc.chat.input.arialabel' | transloco}}"
            luxAriaLabelSelector="textarea"
            luxTagId="chatInput" 
            [luxPlaceholder]="'luxc.chat.input.placeholder.default' | transloco"
            [(luxValue)]="chatInput" 
            luxAutocomplete="off" 
            [luxNoTopLabel]="true" 
            [luxNoBottomLabel]="true"
            [luxMaxRows]="4"
            (keydown.enter)="onChatEntered($event)"
        ></lux-textarea-ac>

        @if(chatInput){
            <lux-button
                class="lux-chat-action-send"
                [luxIconButton]="true"
                [luxRounded]="true"
                [luxRaised]="true"
                luxIconName="lux-mail-send-email"
                luxColor="primary"
            ></lux-button>
        }
    </div>
</div>