@use "sass:map";
@use "palettes";

@media (prefers-contrast: more) {
  :root {
    // LUX-Badge
    --lux-theme-badge-red: var(--lux-theme-contrast-custom-red);
    --lux-theme-badge-on-red: var(--lux-theme-contrast-custom-on-red);
    --lux-theme-badge-green: var(--lux-theme-contrast-custom-green);
    --lux-theme-badge-on-green: var(--lux-theme-contrast-custom-on-green);
    --lux-theme-badge-purple: var(--lux-theme-contrast-custom-purple);
    --lux-theme-badge-on-purple: var(--lux-theme-contrast-custom-on-purple);
    --lux-theme-badge-blue: var(--lux-theme-contrast-custom-blue);
    --lux-theme-badge-on-blue: var(--lux-theme-contrast-custom-on-blue);
    --lux-theme-badge-gray: var(--lux-theme-contrast-custom-gray);
    --lux-theme-badge-on-gray: var(--lux-theme-contrast-custom-on-gray);
    --lux-theme-badge-orange: var(--lux-theme-contrast-custom-orange);
    --lux-theme-badge-on-orange: var(--lux-theme-contrast-custom-on-orange);
    --lux-theme-badge-yellow: var(--lux-theme-contrast-custom-yellow);
    --lux-theme-badge-on-yellow: var(--lux-theme-contrast-custom-on-yellow);
    --lux-theme-badge-pink: var(--lux-theme-contrast-custom-pink);
    --lux-theme-badge-on-pink: var(--lux-theme-contrast-custom-on-pink);
    --lux-theme-badge-lightblue: var(--lux-theme-contrast-custom-lightblue);
    --lux-theme-badge-on-lightblue: var(--lux-theme-contrast-custom-on-lightblue);

    // LUX-Icon
    --lux-theme-icon-red: var(--lux-theme-contrast-custom-red);
    --lux-theme-icon-on-red: var(--lux-theme-contrast-custom-on-red);
    --lux-theme-icon-green: var(--lux-theme-contrast-custom-green);
    --lux-theme-icon-on-green: var(--lux-theme-contrast-custom-on-green);
    --lux-theme-icon-purple: var(--lux-theme-contrast-custom-purple);
    --lux-theme-icon-on-purple: var(--lux-theme-contrast-custom-on-purple);
    --lux-theme-icon-blue: var(--lux-theme-contrast-custom-blue);
    --lux-theme-icon-on-blue: var(--lux-theme-contrast-custom-on-blue);
    --lux-theme-icon-gray: var(--lux-theme-contrast-custom-gray);
    --lux-theme-icon-on-gray: var(--lux-theme-contrast-custom-on-gray);
    --lux-theme-icon-orange: var(--lux-theme-contrast-custom-orange);
    --lux-theme-icon-on-orange: var(--lux-theme-contrast-custom-on-orange);
    --lux-theme-icon-yellow: var(--lux-theme-contrast-custom-yellow);
    --lux-theme-icon-on-yellow: var(--lux-theme-contrast-custom-on-yellow);
    --lux-theme-icon-pink: var(--lux-theme-contrast-custom-pink);
    --lux-theme-icon-on-pink: var(--lux-theme-contrast-custom-on-pink);
    --lux-theme-icon-lightblue: var(--lux-theme-contrast-custom-lightblue);
    --lux-theme-icon-on-lightblue: var(--lux-theme-contrast-custom-on-lightblue);

    // LUX-Messagebox
    --lux-theme-messagebox-red: var(--lux-theme-contrast-custom-red);
    --lux-theme-messagebox-on-red: var(--lux-theme-contrast-custom-on-red);
    --lux-theme-messagebox-green: var(--lux-theme-contrast-custom-green);
    --lux-theme-messagebox-on-green: var(--lux-theme-contrast-custom-on-green);
    --lux-theme-messagebox-purple: var(--lux-theme-contrast-custom-purple);
    --lux-theme-messagebox-on-purple: var(--lux-theme-contrast-custom-on-purple);
    --lux-theme-messagebox-blue: var(--lux-theme-contrast-custom-blue);
    --lux-theme-messagebox-on-blue: var(--lux-theme-contrast-custom-on-blue);
    --lux-theme-messagebox-gray: var(--lux-theme-contrast-custom-gray);
    --lux-theme-messagebox-on-gray: var(--lux-theme-contrast-custom-on-gray);
    --lux-theme-messagebox-orange: var(--lux-theme-contrast-custom-orange);
    --lux-theme-messagebox-on-orange: var(--lux-theme-contrast-custom-on-orange);
    --lux-theme-messagebox-white: var(--lux-theme-contrast-custom-white);
    --lux-theme-messagebox-on-white: var(--lux-theme-contrast-custom-on-white);
    --lux-theme-messagebox-yellow: var(--lux-theme-contrast-custom-yellow);
    --lux-theme-messagebox-on-yellow: var(--lux-theme-contrast-custom-on-yellow);
    --lux-theme-messagebox-pink: var(--lux-theme-contrast-custom-pink);
    --lux-theme-messagebox-on-pink: var(--lux-theme-contrast-custom-on-pink);
    --lux-theme-messagebox-lightblue: var(--lux-theme-contrast-custom-lightblue);
    --lux-theme-messagebox-on-lightblue: var(--lux-theme-contrast-custom-on-lightblue);

    // LUX-Snackbar
    --lux-theme-snackbar-red: #{map.get(palettes.$lux-palette_warn, 80)};
    --lux-theme-snackbar-green: #{map.get(palettes.$lux-palette_accent, 80)};
    --lux-theme-snackbar-blue: #{map.get(palettes.$lux-palette_primary, 80)};
    --lux-theme-snackbar-orange: #fbd12c;
    --lux-theme-snackbar-yellow: #fbd12c;
    --lux-theme-snackbar-white: #ffffff;
  }
}
