<example-base-structure
  exampleTitle="Tabindex"
  exampleDocumentationHref="https://github.com/IHK-GfI/lux-components-workspace/wiki/luxTabIndex-v19"
>
  <example-base-content class="lux-flex lux-flex-wrap lux-gap-8">
    <lux-card class="lux-card-grow">
      <lux-card-content>
        <lux-input-ac
          luxLabel="Tabindex {{ wrongTabIndex ? '1' : '' }} (LuxInput)"
          [luxTabIndex]="wrongTabIndex ? '1' : '0'"
        ></lux-input-ac>
        <lux-autocomplete-ac
          luxLabel="Tabindex {{ wrongTabIndex ? '3' : '' }} (LuxAutocomplete)"
          [luxTabIndex]="wrongTabIndex ? '3' : '0'"
        ></lux-autocomplete-ac>
        <lux-chips-ac
          [luxInputAllowed]="true"
          luxInputLabel="Tabindex {{ wrongTabIndex ? '5' : '' }} (LuxChips)"
          [luxTabIndex]="wrongTabIndex ? '5' : '0'"
          [luxNewChipGroup]="chipGroup"
        >
          <lux-chip-ac-group [luxRemovable]="true" luxColor="primary" [luxLabels]="chipItems" #chipGroup>
            <ng-template let-chipItem>
              {{ chipItem | uppercase }}
            </ng-template>
          </lux-chip-ac-group>
        </lux-chips-ac>
        <lux-textarea-ac
          luxName="tabindex_Tabindex7"
          luxLabel="Tabindex {{ wrongTabIndex ? '7' : '' }} (LuxTextarea)"
          [luxTabIndex]="wrongTabIndex ? '7' : '0'"
        ></lux-textarea-ac>
        <lux-radio-ac
          luxLabel="Tabindex {{ wrongTabIndex ? '9' : '' }} (LuxRadio)"
          [luxOptions]="options"
          luxOptionLabelProp="label"
          [luxSelected]="options[0]"
          [luxTabIndex]="wrongTabIndex ? '9' : '0'"
        ></lux-radio-ac>
        <lux-link luxLabel="Tabindex {{ wrongTabIndex ? '10' : '' }} (LuxLink)" [luxTabIndex]="wrongTabIndex ? '10' : '0'"></lux-link>
      </lux-card-content>
    </lux-card>
    <lux-card class="lux-card-grow">
      <lux-card-content>
        <lux-datepicker-ac
          luxLabel="Tabindex {{ wrongTabIndex ? '2' : '' }} (LuxDatepicker)"
          [luxTabIndex]="wrongTabIndex ? '2' : '0'"
        ></lux-datepicker-ac>
        <lux-checkbox-ac
          luxLabel="Tabindex {{ wrongTabIndex ? '4' : '' }} (LuxCheckbox)"
          [luxTabIndex]="wrongTabIndex ? '4' : '0'"
        ></lux-checkbox-ac>
        <lux-select-ac
          luxLabel="Tabindex {{ wrongTabIndex ? '6' : '' }} (LuxSelect)"
          [luxTabIndex]="wrongTabIndex ? '6' : '0'"
          [luxOptions]="options"
          luxOptionLabelProp="label"
        ></lux-select-ac>
        <lux-toggle-ac
          luxLabel="Tabindex {{ wrongTabIndex ? '8' : '' }} (LuxToggle)"
          [luxTabIndex]="wrongTabIndex ? '8' : '0'"
        ></lux-toggle-ac>
      </lux-card-content>
    </lux-card>
  </example-base-content>
  <example-base-simple-options>
    <lux-toggle-ac luxLabel="Tabreihenfolge ändern" [(luxChecked)]="wrongTabIndex" [luxNoTopLabel]="true">
      <lux-form-hint>
        <span class="lux-text-highlight-error"
          >!!! Vorsicht !!!<br />
          Wenn man die Tabreihenfolge ändert, kann dies die Benutzerfreundlichkeit beeinträchtigen und sogar gegen die Barrierefreiheit
          verstoßen. Wenn dieses Toggle aktiviert wird, werden die <i>Axe DevTools</i> auf dieser Seite Fehler melden.
        </span>
        <p class="lux-text-highlight-error">
          Die Tabreihenfolge sollte nur in Ausnahmefällen geändert werden. In den meisten Fällen ist es besser, die visuelle Reihenfolge der
          Elemente im DOM anzupassen, damit die Tabreihenfolge natürlich ist. D.h. die Directive <i>luxTabIndex</i> sollte nach Möglichkeit
          nur mit dem Wert <i>0</i> verwendet werden.
        </p>
      </lux-form-hint>
    </lux-toggle-ac>
  </example-base-simple-options>
</example-base-structure>
