<div class="lux-container">
  <h2>2 Karten pro Zeile</h2>
  <div class="lux-grid lux-grid-cols-2 lt-md:lux-grid-cols-1 lux-col-gap-8 lux-row-gap-4">
    <lux-card luxTitle="Kunde">
      <lux-card-content>
        <div class="lux-grid lux-cols-3 lt-md:lux-cols-1 lux-gap-4">
          <lux-input luxName="name" luxLabel="Name" [formField]="myForm.customerDetails.name" class="lux-col-span-3"></lux-input>
          <lux-input
            luxName="postal-code"
            luxLabel="PLZ"
            luxType="number"
            [luxNumberAlignLeft]="true"
            [formField]="myForm.customerDetails.zip"
          ></lux-input>
          <lux-input
            luxName="form-dual-Stadt"
            luxLabel="Stadt"
            luxType="text"
            [formField]="myForm.customerDetails.town"
            class="lux-col-span-2"
          ></lux-input>

          <lux-autocomplete
            [luxOptions]="countries"
            luxOptionLabelProp="name"
            luxLabel="Land"
            [luxLookupDelay]="100"
            luxHint="Wählen Sie ein Land aus"
            [luxSelectAllOnClick]="false"
            [formField]="myForm.customerDetails.country"
            class="lux-col-span-3"
          >
          </lux-autocomplete>

          <div class="lux-mt-4 lux-col-span-3">
            @for (street of myForm.customerDetails.streets; track $index; let i = $index) {
              <div class="lux-grid lux-grid-cols-5 lux-gap-4">
                <lux-input
                  luxName="street-address"
                  luxLabel="Straße"
                  luxType="text"
                  [formField]="street.streetName"
                  class="lux-col-span-3"
                ></lux-input>
                <lux-input luxName="form-dual-Nr" luxLabel="Nr" luxType="number" [luxNumberAlignLeft]="true" [formField]="street.nr">
                </lux-input>
                <lux-button
                  luxIconName="lux-interface-delete-bin-5"
                  luxLabel="Straße entfernen"
                  (luxClicked)="removeStreet(i)"
                  luxTagId="btnRemoveStreet"
                  [luxDisabled]="myForm().disabled()"
                  [luxRounded]="true"
                  luxColor="warn"
                  class="lux-justify-self-end lux-align-self-center"
                >
                </lux-button>
              </div>
            }
            <div class="lux-grid lux-grid-cols-5 lux-gap-4">
              <lux-button
                luxIconName="lux-interface-add-1"
                luxLabel="Straße hinzufügen"
                (luxClicked)="addStreet()"
                [luxRounded]="true"
                [luxDisabled]="!latestStreetGroupValid()"
                luxColor="primary"
                luxTagId="btnAddStreet"
                class="lux-col-start-5 lux-justify-self-end lux-align-self-center"
              >
              </lux-button>
            </div>
          </div>
        </div>
      </lux-card-content>
    </lux-card>
    <lux-card luxTitle="Bestellung" class="lux-flex">
      <lux-card-content>
        <div class="lux-grid lux-grid-cols-2 lux-gap-4">
          <lux-input luxName="form-dual-Bestellnr" luxLabel="Bestellnr." [formField]="myForm.orderDetails.orderNo"></lux-input>
          <lux-input
            luxName="form-dual-Bestellwert"
            luxLabel="Bestellwert"
            luxType="text"
            [formField]="myForm.orderDetails.value"
          ></lux-input>
          <lux-datepicker luxLabel="Gültig ab" [formField]="myForm.orderDetails.validDate"></lux-datepicker>
          <lux-input luxLabel="Uhrzeit" luxType="time" [formField]="myForm.orderDetails.validTime" luxAutocomplete="off"></lux-input>
        </div>
      </lux-card-content>
    </lux-card>
    <lux-card luxTitle="Formulardaten" class="lux-col-span-full">
      <lux-card-content>
        <pre>{{ model() | json }}</pre>
      </lux-card-content>
    </lux-card>
  </div>
</div>
