<lux-input-ac
  class="lux-col-span-6 lt-md:lux-col-span-1"
  luxLabel="Custom-Component"
  luxName="customComponentInput"
  luxAutocomplete="off"
  luxControlBinding="customComponentInput"
  [luxFilterDisabled]="filterDisabled()"
  [luxFilterHidden]="filterHidden()"
  luxFilterItem
></lux-input-ac>
<lux-toggle-ac
  class="lux-col-span-6 lt-md:lux-col-span-1"
  luxLabel="Custom-Component"
  luxName="customComponentToggle"
  luxAutocomplete="off"
  luxControlBinding="customComponentToggle"
  [luxFilterDisabled]="filterDisabled()"
  [luxFilterHidden]="filterHidden()"
  [luxNoLabels]="true"
  luxFilterItem
></lux-toggle-ac>
