@use "sass:map";
@use "base/luxelevations";
@use "base/luxfocus";
@use "@angular/material" as mat;
@use "luxVariables";
@use "luxpalette";
@use "base/luxSvgIcons" as luxicons;

/*
* Theming für Stepper-Large
*/
lux-stepper-large {
  background-color: transparent;

  .lux-stepper-large-nav-container,
  .lux-stepper-large-content-container {
    border: 1px solid var(--lux-theme-app-border-color);
    border-radius: 4px;
    background-color: var(--lux-theme-app-content-bg);
  }

  //Desktop-View
  .lux-stepper-large-nav-item {
    font-size: 1rem;
    font-weight: 400;

    .lux-stepper-large-nav-item-number-container {
      border-radius: 50%;
      font-weight: 600;
      max-width: 2.25rem;
      max-height: 2.25rem;
      box-sizing: border-box;
      padding: 6px 9px;
      background-color: #fff;
    }

    .lux-stepper-large-nav-item-label-container a.lux-stepper-large-nav-item-label-link,
    .lux-stepper-large-nav-item-label-container a.lux-stepper-large-nav-item-label-link:hover {
      color: var(--lux-theme-primary-color);
    }

    &.lux-active:not(.lux-disabled) {
      a {
        font-weight: 600;
        text-decoration-thickness: 2px;
      }

      .lux-stepper-large-nav-item-number-container {
        color: var(--lux-theme-stepper-large-nav-item-active-fc);
        background-color: var(--lux-theme-stepper-large-nav-item-active-bg);
        border: 1px solid var(--lux-theme-stepper-large-nav-item-active-bg);
      }

      .lux-stepper-large-nav-item-label {
        color: #003366;
      }
    }

    &.lux-touched:not(.lux-disabled, .lux-active) {
      a {
        text-decoration: underline;
        font-weight: 600;
      }

      &.lux-completed:not(.lux-active) {
        .lux-stepper-large-nav-item-number-container {
          border: 1px solid var(--lux-theme-app-border-color);
        }

        a {
          font-weight: 600;

          &::after {
            width: 16px;
            height: 16px;
            margin-top: 2px;
          }
        }
      }

      &:not(.lux-completed):not(.lux-active) {
        .lux-stepper-large-nav-item-number-container {
          color: var(--lux-theme-primary-color);
          background-color: var(--lux-theme-stepper-large-nav-item-completed-bg);
          border: 1px solid var(--lux-theme-app-border-color);
        }

        .lux-stepper-large-nav-item-label-container a.lux-stepper-large-nav-item-label-link:hover {
          color: var(--lux-theme-hover-color);
        }
      }
    }

    &:not(.lux-touched) {
      opacity: 1;
      color: #003366;

      .lux-stepper-large-nav-item-number-container {
        color: var(--lux-theme-primary-color);
        background-color: #fff;
        border: 1px solid var(--lux-theme-app-border-color);
      }
    }

    &.lux-disabled {
      .lux-stepper-large-nav-item-number-container {
        color: var(--lux-theme-dark-disabled-text);
        background-color: #fff;
        border: 1px solid var(--lux-theme-app-border-color);
      }

      .lux-stepper-large-nav-item-label {
        color: var(--lux-theme-dark-disabled-text);
      }
    }
  }
}

//Stepper-Large Mobile-View
.lux-stepper-large-mobile-nav-header {
  div {
    font-family: var(--lux-theme-app-headline-font), var(--lux-theme-app-font-family);
  }
}

.lux-stepper-large-mobile-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.125rem;

  .lux-stepper-large-mobile-nav-item-number-container {
    border-radius: 50%;
  }

  &.lux-active:not(.lux-disabled) {
    a {
      font-weight: 600;
    }

    .lux-stepper-large-mobile-nav-item-number-container {
      color: var(--lux-theme-stepper-large-nav-item-active-fc);
      background-color: var(--lux-theme-stepper-large-nav-item-active-bg);
    }

    .lux-stepper-large-nav-item-label {
      color: #003366;
    }
  }

  &.lux-touched:not(.lux-disabled) {
    a {
      text-decoration: underline;
      font-weight: 400;
    }

    &.lux-completed:not(.lux-active) {
      .lux-stepper-large-mobile-nav-item-number-container {
        border: 1px solid var(--lux-theme-app-border-color);
      }

      a {
        font-weight: 400;
      }
    }

    &:not(.lux-completed):not(.lux-active) {
      .lux-stepper-large-mobile-nav-item-number-container {
        color: var(--lux-theme-primary-color);
        background-color: var(--lux-theme-stepper-large-nav-item-completed-bg);
        border: 1px solid var(--lux-theme-app-border-color);
      }
    }
  }

  &:not(.lux-touched) {
    opacity: 1;
    color: #003366;

    .lux-stepper-large-mobile-nav-item-number-container {
      color: var(--lux-theme-primary-color);
      background-color: #fff;
      border: 1px solid var(--lux-theme-app-border-color);
    }
  }

  &.lux-disabled {
    .lux-stepper-large-nav-item-number-container {
      color: var(--lux-theme-dark-disabled-text);
      background-color: #fff;
      border: 1px solid var(--lux-theme-app-border-color);
    }

    .lux-stepper-large-mobile-nav-item-label {
      color: var(--lux-theme-dark-disabled-text);
    }
  }

  .lux-stepper-large-mobile-nav-item-label-container {
    .lux-stepper-large-mobile-nav-item-complete {
      color: var(--lux-theme-stepper-large-completed-fc);
      font-size: 1.125rem;
    }
  }
}
