@use "sass:map";
@use "sass:color";
@use "base/luxfocus";
@use "base/luxelevations";
@use "luxpalette";
@use "luxcommon";

@mixin textButton($color, $bgColor, $hoverColor, $hoverBgColor) {
  color: $color !important;
  background-color: $bgColor !important;

  &:hover {
    color: $hoverColor !important;
    background-color: $hoverBgColor !important;
  }
  &:focus-visible:not(:hover) {
    @include luxfocus.lux-button-focus;
  }
  &:active {
    color: $color !important;
    background-color: $bgColor !important;
  }
}

@mixin strokedButton($color, $bgColor, $hoverColor, $hoverBgColor) {
  color: $color !important;
  background-color: $bgColor !important;
  border-color: $color !important;

  &:hover {
    color: $hoverColor !important;
    background-color: $hoverBgColor !important;
  }

  &:focus-visible:not(:hover) {
    @include luxfocus.lux-button-focus;
  }
  &:active {
    color: $color !important;
    background-color: $bgColor !important;
  }
}

@mixin raisedFlatFabButton($color, $bgColor, $hoverColor, $hoverBgColor, $activeBg) {
  color: $color !important;
  background-color: $bgColor !important;

  &:hover {
    color: $hoverColor !important;
    background-color: $hoverBgColor !important;
  }

  &:focus-visible:not(:hover) {
    color: $color !important;
    background-color: $bgColor !important;
    @include luxfocus.lux-button-focus;
  }

  &:active {
    color: $color !important;
    background-color: $activeBg !important;
  }
}

/*
 * Theming for LUX-Button
 */
lux-button button.lux-button {
  letter-spacing: 1.25px;

  // Mat-Fab soll in Authentic flat sein
  &.mat-mdc-fab,
  &.mat-mdc-fab:not([disabled]):active {
    @include luxelevations.lux-elevation-z0;
  }

  // Disabled-Buttons
  &.mat-mdc-button:disabled,
  &.mat-mdc-raised-button:disabled,
  &.mat-mdc-fab:disabled,
  &.mat-mdc-outlined-button:disabled,
  &.mat-mdc-unelevated-button:disabled {
    color: luxcommon.$dark-disabled-text;
    &.lux-stroked {
      color: luxcommon.$dark-disabled-text;
      border-color: luxcommon.$dark-disabled-text;
    }
  }

  //Theming für den Text-Button
  &.mat-mdc-button:not([disabled]) {
    @include textButton(#1c1b1b, transparent, #1c1b1b, #e5e2e1);

    &.mat-primary {
      @include textButton(#003366, transparent, #003366, #d5e3ff);
    }

    &.mat-accent {
      @include textButton(#00531d, transparent, #00531d, #c6ffc5);
    }

    &.mat-warn {
      @include textButton(#c00013, transparent, #93000c, #ffdad6);
    }
  }

  //Theming für den Stroked-Button
  &.mat-mdc-outlined-button:not([disabled]),
  &.mat-mdc-fab.lux-stroked:not([disabled]) {
    @include strokedButton(#1c1b1b, transparent, #1c1b1b, #e5e2e1);

    &.mat-primary {
      @include strokedButton(#003366, transparent, #003366, #d5e3ff);
    }

    &.mat-accent {
      @include strokedButton(#00531d, transparent, #00531d, #c6ffc5);
    }

    &.mat-warn {
      @include strokedButton(#c00013, transparent, #93000c, #ffdad6);
    }
  }

  //Theming für den Raised-Button, Flat-Button, Fab(Rounded)-Button
  &.mat-mdc-raised-button:not([disabled]),
  &.mat-mdc-unelevated-button:not([disabled]),
  &.mat-mdc-fab:not(.lux-stroked):not([disabled]) {
    @include raisedFlatFabButton(#1c1b1b, transparent, #1c1b1b, #e5e2e1, #ffffff);

    &.mat-primary {
      @include raisedFlatFabButton(#ffffff, #003366, #003366, #d5e3ff, #001b3c);
    }

    &.mat-accent {
      @include raisedFlatFabButton(#1c1b1b, #56bd66, #1c1b1b, #c6ffc5, #3ca450);
    }

    &.mat-warn {
      @include raisedFlatFabButton(#ffffff, #c00013, #93000c, #ffdad6, #93000c);
    }
  }
}
