@use "sass:map";
@use "components/luxAppHeaderAc.scss";
@use "components/luxAppHeader.scss";
@use "components/luxAppFooter.scss";
@use "components/luxBadge";
@use "components/luxLinkPlain.scss";
@use "components/luxTileAc.scss";
@use "components/luxTile.scss";
@use "components/luxCard.scss";
@use "components/luxFormControlWrapper.scss";
@use "components/luxFormControls.scss";
@use "components/luxMasterDetailAc.scss";
@use "components/luxCheckboxContainerAc.scss";
@use "components/luxTextbox.scss";
@use "components/luxIcon";
@use "components/luxButton";
@use "components/luxList";
@use "components/luxProgressBar";
@use "components/luxProgressSpinner";
@use "components/luxTabs";
@use "components/luxStepper";
@use "components/luxMenu";
@use "components/luxTable";
@use "components/luxFilter";
@use "components/luxDialog";
@use "components/luxSnackbar";
@use "components/luxMessagebox";
@use "components/luxErrorPage";
@use "components/luxFilePreview";
@use "components/luxToolTip";
@use "components/luxTourHint";
@use "components/luxBreadcrumb";
@use "luxcommon";
@use "luxpalette";
@use "base/luxelevations";
@use "base/luxSvgIcons" as luxicons;

/*
 * Theming for LUX-App-Content
 */
lux-app-content {
  background-color: luxcommon.$app-content-bg;
}

/*
 * Theming for LUX-Divider
 */
lux-divider {
  .mat-divider {
    background-color: luxcommon.$dark-dividers;
    border-width: 1px;
    &.mat-divider-vertical {
      border-width: 1px;
    }
  }
}

/*
 * Theming for LUX-File-Progress
 */
lux-file-progress {
  .lux-file-overlay {
    background: luxcommon.$dark-focused;

    mat-spinner,
    mat-spinner svg {
      circle {
        stroke: map.get(luxpalette.$lux-palette_primary, 500);
        background: map.get(luxpalette.$lux-palette_primary, 500);
      }
    }
  }
}

.spinner-padding {
  padding: 6px;
}

/*
 * Theming for LUX-Side-Nav
 */
lux-side-nav {
  .lux-side-nav {
    background: luxcommon.$app-data-bg;
    @include luxelevations.lux-elevation-z16();

    .lux-side-nav-header {
      border-bottom: 1px solid luxcommon.$dark-dividers;
    }

    .lux-side-nav-footer {
      border-top: 1px solid luxcommon.$dark-dividers;
    }

    .lux-side-nav-content {
      .lux-side-nav-item {
        .lux-side-nav-item-icon {
          color: map.get(luxpalette.$lux-palette_primary, 500);

          &.lux-side-nav-disabled {
            color: luxcommon.$dark-disabled-text;
          }
        }

        .lux-side-nav-item-expansion-icon {
          color: map.get(luxpalette.$lux-palette_primary, 500);

          &.lux-side-nav-disabled {
            color: luxcommon.$dark-disabled-text;
          }
        }
      }
    }
  }
}

.lux-side-nav-overlay {
  background-color: luxcommon.$dark-focused;
}

/*
 * Theming for LUX-Accordion
 */
mat-expansion-panel.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  @include luxelevations.lux-elevation-z2;
  .mat-expansion-panel-header,
  .mat-expansion-panel-body {
    font-size: 1rem;
  }
}

.mat-expansion-panel-header.lux-dynamic-height {
  min-height: unset;
  height: unset;
  padding-top: 11px;
  padding-bottom: 11px;
}

.mat-expansion-panel {
  --mat-expansion-container-shape: #{luxcommon.$app-border-radius};
  --mat-expansion-container-shape: #{luxcommon.$app-border-radius};
}

//Von Material wird ein Margin gesetzt wenn der Indicator links ist und das Panel disabled wird. Damit wird das Margin überschrieben und der Header des Panels wird nicht verschoben.
mat-expansion-panel-header.mat-expansion-toggle-indicator-before .mat-content.mat-content-hide-toggle {
  margin: 0;
}

/*
 * Theming for LUX-Errorpage
 */
lux-error-page {
  lux-card:not(.lux-error-page-desktop) {
    .mat-mdc-card:not([class*="mat-elevation-z"]) {
      @include luxelevations.lux-elevation-z0;
    }
  }
}

/*
* Theming für Lux-Stepper-Large
*/
lux-stepper-large {
  display: flex;
  flex-direction: row;

  height: 100%;
  overflow-y: hidden;
  background-color: transparent;
}

.lux-stepper-large-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  gap: 30px;

  .lux-stepper-large-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}

.lux-stepper-large-button-container {
  margin-top: 30px;
}

.lux-stepper-large-nav-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  gap: 12px;
  padding: 12px 33px 12px 12px;

  overflow-y: auto;
  min-width: 400px;
}

.lux-stepper-large-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.375rem;
  line-height: 1.5;

  &.lux-active:not(.lux-disabled) {
    .lux-stepper-large-nav-item-number-container {
      color: luxcommon.$lux-stepper-large-nav-item-active-fc;
      background-color: luxcommon.$lux-stepper-large-nav-item-active-bg;
    }

    .lux-stepper-large-nav-item-label {
      color: #003366;
    }
  }

  &.lux-touched:not(.lux-disabled) {
    a {
      text-decoration: underline;
    }

    &.lux-completed:not(.lux-active) {
      .lux-stepper-large-nav-item-number-container {
        color: luxcommon.$lux-stepper-large-nav-item-completed-fg;
        background-color: luxcommon.$lux-stepper-large-nav-item-completed-bg;
      }

      a {
        color: #2e8533;
        position: relative;
      }

      a::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 23px;
        height: 23px;
        margin: 5px 10px 0px;
        background-color: #2e8533;
        -webkit-mask: url(luxicons.$checkmark);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: cover;
        mask: url(luxicons.$checkmark);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
      }
    }

    &:not(.lux-completed):not(.lux-active) {
      .lux-stepper-large-nav-item-number-container {
        color: luxcommon.$lux-stepper-large-nav-item-completed-fg;
        background-color: luxcommon.$lux-stepper-large-nav-item-completed-bg;
      }

      a::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 3px 10px 0px;
        background-color: luxcommon.$lux-stepper-large-nav-item-active-bg;
        -webkit-mask: url(luxicons.$warn-triangle);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: cover;
        mask: url(luxicons.$warn-triangle);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
      }
    }
  }

  &:not(.lux-touched) {
    color: #003366;

    .lux-stepper-large-nav-item-number-container {
      color: luxcommon.$lux-stepper-large-nav-item-disabled-fg;
      background-color: luxcommon.$lux-stepper-large-nav-item-disabled-bg;
    }
  }

  &.lux-disabled {
    opacity: 0.6;

    .lux-stepper-large-nav-item-number-container {
      color: luxcommon.$lux-stepper-large-nav-item-disabled-fg;
      background-color: luxcommon.$lux-stepper-large-nav-item-disabled-bg;
    }

    .lux-stepper-large-nav-item-label {
      color: luxcommon.$lux-stepper-large-nav-item-disabled-fg;
    }
  }

  .lux-stepper-large-nav-item-number-container {
    max-width: 2.8125rem;
    max-height: 2.8125rem;
    margin: 0 15px 0 0;
    padding: 6px 11px;
    border-radius: 18px;

    .lux-stepper-large-nav-item-number {
      text-align: center;
    }
  }

  .lux-stepper-large-nav-item-label-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .lux-stepper-large-nav-item-label-link {
      cursor: pointer;
    }

    .lux-stepper-large-nav-item-label {
    }

    .lux-stepper-large-nav-item-complete {
      color: luxcommon.$lux-stepper-large-completed-fc;
      font-size: 1.4375rem;
      height: 1.4375em;
      width: 1.4375em;
    }
  }
}

.lux-stepper-large-content {
  display: flex;
  flex-direction: column;
}

.lux-stepper-large-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 70%;

  overflow-y: auto;
  padding: 12px;
}

.lux-stepper-large-mobile-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  overflow-y: auto;
  padding: 12px;

  lux-button {
    display: flex;

    & button {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
    }
  }

  .lux-stepper-large-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
  }
}

.lux-stepper-large-mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2px;

  font-size: 0.75rem;

  .lux-stepper-large-mobile-header-label {
    display: flex;
    flex: 0 1 auto;
  }

  .lux-stepper-large-mobile-header-button {
    display: flex;
    flex: 0 0 auto;
    padding: 0;

    button {
      padding: 0;
      min-height: 45px;
      min-width: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// Lux-Stepper-Large - Overlay
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.lux-stepper-large-mobile-overlay-backdrop {
    opacity: 0.6;
    background-color: luxcommon.$lux-stepper-large-backdrop-bg;
  }
}

.lux-stepper-large-mobile-nav-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: calc(100% - 0px);
  max-height: calc(100% - 0px);

  padding: 0;
  background: luxcommon.$app-data-bg;
}

.lux-stepper-large-mobile-nav-close-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 13px;
}

.lux-stepper-large-mobile-nav-header {
  display: flex;
  flex-direction: row;

  padding: 0 30px 24px 30px;

  div {
    // TODO: Theme 3
    // font-family: Korb, global.$app-font-family;
    font-size: 1.75rem;
  }
}

.lux-stepper-large-mobile-nav-item-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;

  padding: 0 30px 30px 30px;
}

.lux-stepper-large-mobile-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.125rem;

  &.lux-completed .lux-stepper-large-mobile-nav-item-number-container {
  }

  &.lux-active .lux-stepper-large-mobile-nav-item-number-container {
  }

  &.lux-touched .lux-stepper-large-mobile-nav-item-number-container {
  }

  &.lux-disabled .lux-stepper-large-mobile-nav-item-number-container {
  }

  .lux-stepper-large-mobile-nav-item-number-container {
    max-width: 30px;
    max-height: 30px;
    margin: 0 10px 0 0;
    padding: 1px 6px 2px 5px;
    border-radius: 12px;

    .lux-stepper-large-mobile-nav-item-number {
    }
  }

  .lux-stepper-large-mobile-nav-item-label-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .lux-stepper-large-mobile-nav-item-label-link {
      cursor: pointer;
    }

    .lux-stepper-large-mobile-nav-item-label {
    }

    .lux-stepper-large-mobile-nav-item-complete {
      color: luxcommon.$lux-stepper-large-completed-fc;
      font-size: 1.125rem;
    }
  }

  &.lux-stepper-large-nav-item.lux-touched:not(.lux-disabled).lux-completed:not(.lux-active) a::after {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }
}
