@use "../common/luxfocus";
@use "../common/luxbreakpoints";

lux-breadcrumb {
  margin: 20px 0 36px 0; //Stylevorgaben
  display: block;

  @include luxbreakpoints.lt-md {
    margin: 14px 0;
  }

  .lux-breadcrumb {
    max-width: 100%;
  }

  .lux-breadcrumb-container {
    margin: 0;
    padding: 0;

    display: flex;
    gap: 9px;
    align-items: center;
    width: auto;
    max-width: 100%;

    list-style: none;

    &.lux-breadcrumb-container-wrap {
      flex-wrap: wrap;
    }
  }

  .lux-breadcrumb-item-current,
  .lux-breadcrumb-item {
    display: inline-flex;
    align-items: center;
    max-width: 64ch;
    min-width: 8ch;

    list-style-type: none;
    box-sizing: border-box;
    color: var(--lux-theme-primary-color);
  }

  .lux-breadcrumb-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    color: var(--lux-theme-primary-color);
    padding: 2px 4px;
  }

  .lux-breadcrumb-item {
    flex: 0 1 auto;

    &.lux-breadcrumb-item-mobile {
      font-size: 1rem;
      gap: 6px;
    }

    :focus-visible {
      @include luxfocus.focus-dark-mixin;
      border-radius: 2px;
    }

    :hover {
      color: var(--lux-theme-breadcrumb-hover-color);
      text-decoration: underline;
      cursor: pointer;
    }

    lux-icon {
      cursor: default;
      flex: 0 0 auto;
      :hover {
        color: var(--lux-theme-primary-color);
        cursor: default;
      }
    }
  }

  .lux-breadcrumb-item-current {
    flex: 0 0 content;
    max-width: 50%;

    .lux-breadcrumb-item-title {
      text-decoration: none;
    }
  }

  .lux-breadcrumb-item-dotted {
    text-decoration: none;
    min-width: auto;

    :hover,
    a {
      text-decoration: none;
    }
  }

  .lux-breadcrumb-container-wrap {
    .lux-breadcrumb-item,
    .lux-breadcrumb-item-current {
      max-width: 100%;
      display: inline;
    }

    .lux-breadcrumb-item-title {
      overflow: visible;
      text-overflow: clip;
      white-space: normal;
      line-height: 1.75rem;
      vertical-align: bottom;
    }
  }
}
