@use "@angular/material" as mat;

lux-datetimepicker-ac {
  @include mat.datepicker-overrides(());

  lux-form-control-wrapper .lux-form-control-wrapper .lux-form-control-container-authentic {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  button:not(:disabled) .lux-datetimepicker-toggle-icon {
    color: var(--lux-theme-datepicker-icon-color);
  }
}
