@use "@angular/material" as mat;
@use "../common/luxSvgIcons" as luxicons;
@use "../common/luxfocus" as luxfocus;

.mat-mdc-menu-panel {
  .mat-mdc-menu-item-text {
    min-height: var(--lux-theme-menu-panel-option-min-height);
    padding: var(--lux-theme-menu-panel-option-padding);
  }
}

lux-menu {
  display: block;
  width: 100%;

  .lux-menu-extended,
  .lux-menu-trigger {
    > lux-button {
      button {
        padding-left: 8px;
        padding-right: 8px;
        min-width: 30px;
      }
    }
  }
}

// Container für die Buttons und den Trigger ausserhalb des Menu-Panels
.lux-menu-extended {
  overflow: hidden;
  min-width: 0;
  padding: 4px 0;
  position: relative;

  > lux-button {
    @include mat.button-overrides(
      (
        text-container-shape: var(--lux-theme-menu-button-text-container-shape),
        text-label-text-size: var(--lux-theme-menu-button-item-font-size),
        text-container-height: var(--lux-theme-menu-container-height)
      )
    );

    margin-right: 8px;
    &.lux-menu-item .lux-button-label {
      white-space: nowrap;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}

// Container für den Menu-Trigger-button
.lux-menu-trigger {
  display: flex;
  flex: 0 0 auto;
  margin: 0 4px;
  align-self: center;
  box-sizing: border-box;
}

.lux-menu-trigger-default {
  button.mat-mdc-button {
    white-space: nowrap;

    &:not(:disabled) {
      color: var(--lux-theme-primary-20);
    }
  }
}

/* Menu-Overlay-Panel anpassen */
.lux-menu-panel {
  @include mat.menu-overrides(
    (
      container-shape: var(--lux-theme-app-border-radius),
      container-elevation-shadow: 0 0 0 1px var(--mat-card-outlined-outline-color, var(--mat-sys-outline-variant)),
      container-color: var(--lux-theme-panel-bg-color),
      item-hover-state-layer-color: color-mix(in srgb, var(--mat-sys-secondary-container) 8%, transparent),
      item-focus-state-layer-color: color-mix(in srgb, var(--mat-sys-secondary-container) 12%, transparent),
      item-label-text-size: var(--lux-theme-menu-item-font-size),
      item-label-text-color: var(--lux-theme-menu-item-font-color),
    )
  );

  .lux-selected-item-ac {
    font-weight: 600;
    color: var(--lux-theme-primary-color);
    .lux-button-label {
      padding-right: 24px;
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0;
        top: 14px;
        margin: 0 10px 0 4px;
        background-color: var(--lux-theme-primary-color);
        -webkit-mask: url(luxicons.$checkmark);
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
        -webkit-mask-size: cover;
        mask: url(luxicons.$checkmark);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
      }
    }
  }

  .mat-mdc-menu-item-text {
    display: flex;
  }

  .lux-button-badge-container {
    min-width: 38px;
    vertical-align: middle;
    align-self: center;
  }

  .lux-button-badge {
    color: #fff;
    border-radius: 4px;
    padding: 1px 4px;
    font-size: 0.6875rem;
    line-height: normal;
    max-height: 16px;
    min-width: 15px;
    max-width: 38px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    letter-spacing: 1.25px;
  }

  .lux-menu-item-icon {
    align-self: center;
    vertical-align: middle;
    mat-icon {
      margin: 0;
    }
  }
}

//Styling für das neue Panel mit Sektionen und das Large Panel
.lux-menu-section-panel,
.lux-menu-section-panel:not(.lux-menu-panel-large) {
  min-width: 260px !important;
  max-width: 100%;
}

.lux-menu-section-panel,
.lux-menu-section-panel:has(.lux-menu-panel-large) {
  min-width: 360px !important;
  max-width: 100%;
}

.lux-menu-section-panel {
  .lux-menu-item-content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .lux-menu-item-icon {
    margin-right: 8px;
    flex-shrink: 0;
  }

  .lux-button-label {
    color: var(--lux-theme-menu-item-font-color);
    text-align: left;
    flex: 1 1 auto;
    white-space: normal;
  }

  .lux-menu-item-badge-right {
    min-width: 0px !important;
    margin-left: auto;
    align-self: center;
    display: flex;
  }

  .lux-button-label-subtitle {
    color: var(--lux-theme-menu-item-font-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.07px;
  }

  .lux-menu-panelheader-username {
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    font-weight: 600;
    font-size: 1rem;
    font-style: normal;
    line-height: 120%;
  }
  .lux-menu-panelheader-username-subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    font-weight: 400;

    font-size: 0.75rem;
    font-style: normal;
    line-height: normal;
  }
  .lux-menu-section-title {
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    color: var(--lux-theme-neutral-40);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.08px;
    line-height: 120%; /* 19.2px */
  }
  .lux-menu-item-divider {
    padding: 4px;
  }
  .lux-menu-item-divider-large {
    margin-right: 16px;
    margin-left: 16px;
  }

  .lux-menu-item-selected {
    background-color: var(--lux-theme-primary-90) !important;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 10%;
    text-underline-offset: 5%;
    text-underline-position: from-font;
  }

  .lux-menu-item-selected {
    background-color: var(--lux-theme-primary-90);
    &.lux-button-label {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 10%;
      text-underline-offset: 5%;
      text-underline-position: from-font;
    }
    &.lux-button-label-subtitle {
      text-decoration-color: var(--lux-theme-primary-40);
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-thickness: 12%;
      text-underline-offset: 5%;
      text-underline-position: from-font;
    }
  }

  .lux-menu-item-badge-right {
    text-align: end;
  }
}
