@use "@angular/material" as mat;
@use "../common/luxfocus";
@use "../common/luxelevations";

lux-app-header-ac {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 999;

  .lux-image {
    cursor: pointer;
    padding: 0px;
    &:focus-visible {
      @include luxfocus.lux-button-focus;
      border-radius: 4px;
    }
  }

  lux-button.lux-rounded:not(.lux-stroked):not([disabled]) {
    .mat-primary {
      @include mat.fab-overrides(
        (
          foreground-color: var(--mat-sys-primary),
          container-color: var(--mat-sys-on-primary),
          hover-state-layer-opacity: 0.1
        )
      );
    }
  }

  lux-button button.lux-button.mat-mdc-fab.mat-primary:not(.lux-stroked):not([disabled]) {
    min-width: 2.25rem; //Weil der Menu-Trigger hier ein andere Min-width setzt- könnte vielleich geändert werden?
    width: 2.25rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    @include luxelevations.lux-elevation-z0;

    lux-icon {
      color: var(--lux-theme-primary-color);
      box-sizing: border-box;
    }

    &:focus-visible:not(:hover) {
      background-color: transparent;

      @include luxfocus.focus-dark-mixin;
    }
  }

  lux-button button[disabled].lux-button.mat-mdc-fab.mat-primary:not(.lux-stroked) {
    background-color: transparent;
  }

  lux-button {
    button.lux-button.lux-button-rounded {
    }
  }

  lux-menu {
    width: unset;
    .lux-menu-extended {
      overflow: visible;
    }
  }

  .lux-app-header-top-bar-bg {
    background-color: #fff;
  }
  .lux-centered {
    margin: 0 auto;
  }
  .lux-app-header-top-bar {
    padding: 8px 24px;
    min-height: 60px;
    font-size: 1rem;
    color: var(--lux-theme-dark-primary-text);
    background-color: #fff;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    align-items: center;

    .header-menu-container {
      gap: 8px;
    }

    &.lux-mobile {
      padding: 4px;
      grid-template-columns: auto 1fr;
      height: 50px;
      .header-menu-container {
        gap: 4px;
      }
    }
  }
  .lux-app-header-nav-bar-bg {
    background-color: var(--lux-theme-app-header-bg);
  }

  .lux-app-header-nav-bar {
    background-color: var(--lux-theme-app-header-bg);
    padding: 4px 24px;
    min-height: 44px;
    box-sizing: border-box;
    z-index: 10000;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    align-items: center;
    &.lux-mobile {
      padding: 4px;
    }

    .lux-app-title {
      color: var(--lux-theme-dark-primary-text);
      font-size: 1.5rem;
      font-weight: 400;
      font-family: var(--lux-theme-app-headline-font), var(--lux-theme-app-font-family);

      &.lux-mobile {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
    .lux-header-ac-nav-menu {
      lux-button.lux-menu-item {
        button.lux-button .lux-button-label {
          font-size: 1rem !important;
          letter-spacing: 0px;
        }

        &.nav-item-selected button.lux-button .lux-button-label {
          text-shadow:
            0 0 0.65px #003366,
            0 0 0.65px #003366;
        }
      }
    }
  }
}
