$componentColorNames: ("red", "green", "purple", "blue", "gray", "orange", "yellow", "pink", "lightblue", "black");

@mixin lux-badge-color-mixin($prefix) {
  @each $colorName in $componentColorNames {
    &.lux-badge-#{$colorName} {
      background-color: var(#{$prefix}-#{$colorName});
    }
    &.lux-badge-on-#{$colorName} {
      color: var(#{$prefix}-on-#{$colorName});
    }
  }
}

.lux-badge {
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  flex: initial;

  @include lux-badge-color-mixin("--lux-theme-badge");
}

.lux-badge.lux-badge-uppercase * {
  text-transform: uppercase;
}

.lux-badge > lux-icon ::ng-deep {
  width: 1em;
  height: 1em;
  display: inline-flex;
}

@media (prefers-contrast: more) {
  .lux-badge {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
