@use "../common/luxfocus";

lux-file-list {
  .lux-file-list {
    // Dateieinträge
    .lux-file-list-entries {
      .lux-file-list-entry {
        .lux-file-list-entry-label:not(.lux-file-list-entry-label-disabled) {
          color: var(--lux-theme-dark-secondary-text);
        }
      }
    }

    // Deaktiviert
    &.lux-file-list-disabled {
      mat-card-title *,
      mat-card-content,
      .lux-file-icon,
      span {
        color: var(--lux-theme-dark-disabled-text);
        text-decoration-color: var(--lux-theme-dark-disabled-text);
      }
    }
  }

  div.lux-card-actions-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--mat-sys-on-error-container);
  }

  // Fokus
  .lux-file-list {
    &:focus-visible {
      @include luxfocus.focus-dark-mixin;
      border-radius: var(--lux-theme-app-border-radius);
    }

    .lux-file-list-entry {
      &:focus-visible {
        @include luxfocus.focus-dark-mixin;
        border-radius: var(--lux-theme-app-border-radius);
      }
    }
  }
}
