@use "@angular/material" as mat;
@use "../common/luxfocus";
@use "../common/luxbreakpoints";

lux-tabs {
  @include mat.tabs-overrides(
    (
      active-label-text-color: var(--lux-theme-primary-20),
      active-focus-label-text-color: var(--lux-theme-primary-20),
      active-hover-label-text-color: var(--lux-theme-primary-20),
      active-indicator-height: 4px,
      divider-height: 1px,
      divider-color: var(--lux-theme-app-border-color)
    )
  );

  .mdc-tab {
    padding-left: 0;
    padding-right: 0;
  }

  mat-tab-group div[role="tab"] {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: normal;
    min-height: unset !important;
    height: unset !important;
  }

  .lux-tab-title-container {
    justify-content: center;
  }

  .lux-tab-title {
    margin-top: 3px;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  .lux-notification-read {
    visibility: hidden;
  }

  .lux-counter-offset {
    margin-right: -7px;
  }

  .lux-label-lower {
    padding-top: 4px;
  }

  .lux-notification-new {
    background-color: var(--lux-theme-custom-green);
  }

  .lux-tabs-notification-icon {
    border: 2px solid var(--lux-theme-app-content-bg);
  }

  .lux-tabs-show-border {
    border: 1px solid var(--lux-theme-app-border-color);
    border-radius: 4px;
    background-color: var(--lux-theme-app-content-bg);
  }

  // Anpassungen für kleine Screensizes
  .mdc-tab__text-label {
    padding-left: 48px;
    padding-right: 48px;
    height: auto;
    position: relative;

    @include luxbreakpoints.sm {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include luxbreakpoints.xs {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .mat-mdc-tab-label.lux-tab-with-icon {
    @include luxbreakpoints.sm {
      min-width: 125px;
      width: 125px;
    }

    @include luxbreakpoints.xs {
      min-width: 90px;
      width: 90px;
    }
  }

  // luxCounter (z.B. 10) neben dem Tablabel auf normalen bis großen Auflösungen
  .lux-tab-group .lux-tab-title.lux-badge-notification {
    &.mat-badge.lux-badge-no-border .mat-badge-content {
      left: unset;
      bottom: unset;
      top: 6px;
      right: -30px;
    }
  }

  // luxCounter (z.B. 10) neben dem Icon auf kleineren Auflösungen
  .lux-tab-group lux-icon.lux-badge-notification,
  .lux-tab-group lux-image.lux-badge-notification {
    &.mat-badge.lux-badge-no-border .mat-badge-content {
      left: unset;
      bottom: unset;
      top: 20px;
      right: -22px;
    }
  }
  .lux-tab-header-image-right,
  .lux-tab-header-image-left {
    flex: 1 1 auto;
    box-sizing: border-box;
  }
  .lux-tab-icon {
    flex: 0 0 auto;
    box-sizing: border-box;
  }
  .lux-tabs-notification-icon {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 9px;
    box-sizing: border-box;
    flex: 0 0 auto;
    &.lux-counter-visible {
      z-index: 1;
    }
  }

  // Notificationicon neben dem Tablabel auf normalen bis großen Auflösungen
  .lux-tabs-notification-icon-position-after-label {
    top: 0;
    right: -18px;

    &.lux-counter-visible {
      top: -10px;
      right: -39px;
    }
  }
  // Notificationicon neben dem Icon auf kleineren Auflösungen
  .lux-tabs-notification-icon-position-after-icon {
    top: 10px;
    right: 30px;

    @include luxbreakpoints.sm {
      top: 10px;
      right: 30px;
    }

    @include luxbreakpoints.xs {
      top: 10px;
      right: 15px;
    }

    &.lux-counter-visible {
      top: 10px;
      right: 0;

      @include luxbreakpoints.sm {
        top: 10px;
        right: 17px;
      }

      @include luxbreakpoints.xs {
        top: 10px;
        right: 0;
      }
    }
  }
}
