@use "@angular/material" as mat;

lux-button.lux-stroked {
  @include mat.button-overrides(
    (
      outlined-label-text-tracking: var(--lux-theme-button-stroked-text-tracking),
      outlined-label-text-font: var(--lux-theme-button-stroked-font),
      outlined-label-text-size: var(--lux-theme-button-stroked-text-size),
      outlined-label-text-weight: var(--lux-theme-button-stroked-text-weight),
      outlined-container-shape: var(--lux-theme-button-stroked-container-shape),
      outlined-horizontal-padding: 16px,
      outlined-container-height: var(--lux-theme-button-stroked-container-height),
      outlined-label-text-color: var(--lux-theme-button-stroked-primary-text-color),
      outlined-outline-color: var(--lux-theme-button-stroked-primary-text-color)
    )
  );

  .mat-primary {
    @include mat.button-overrides(
      (
        outlined-label-text-color: var(--lux-theme-button-stroked-primary-text-color),
        outlined-outline-color: var(--lux-theme-button-stroked-primary-text-color)
      )
    );
  }

  .mat-accent {
    @include mat.button-overrides(
      (
        outlined-label-text-color: var(--lux-theme-button-stroked-accent-text-color),
        outlined-outline-color: var(--lux-theme-button-stroked-accent-text-color)
      )
    );
  }

  .mat-warn {
    @include mat.button-overrides(
      (
        outlined-label-text-color: var(--lux-theme-button-stroked-warn-text-color),
        outlined-outline-color: var(--lux-theme-button-stroked-warn-text-color)
      )
    );
  }
}
