@use "@angular/material" as mat;

lux-button.lux-stroked {
  @include mat.button-overrides(
    (
      outlined-label-text-tracking: var(--lux-theme-button-stroked-text-tracking),
      outlined-label-text-font: var(--lux-theme-button-stroked-font),
      outlined-label-text-size: var(--lux-theme-button-stroked-text-size),
      outlined-label-text-weight: var(--lux-theme-button-stroked-text-weight),
      outlined-container-shape: var(--lux-theme-button-stroked-container-shape),
      outlined-horizontal-padding: 16px,
      outlined-container-height: var(--lux-theme-button-stroked-container-height),
      outlined-label-text-color: #1c1b1b,
      outlined-outline-color: #1c1b1b
    )
  );

  .mat-primary {
    @include mat.button-overrides(
      (
        outlined-label-text-color: #003366,
        outlined-outline-color: #003366
      )
    );
  }

  .mat-accent {
    @include mat.button-overrides(
      (
        outlined-label-text-color: #00531d,
        outlined-outline-color: #00531d
      )
    );
  }

  .mat-warn {
    @include mat.button-overrides(
      (
        outlined-label-text-color: #c00013,
        outlined-outline-color: #c00013
      )
    );
  }
}
