@use "@angular/material" as mat;
@use "../common/luxfocus";
@use "../common/luxbreakpoints";

lux-table {
  @include mat.table-overrides(
    (
      header-headline-color: var(--lux-theme-dark-primary-text),
      header-headline-size: 1rem,
      header-headline-weight: 700,
      footer-supporting-text-size: 0.9375rem,
      header-container-height: auto
    )
  );

  // Paginator - Select für Seitenanzahl
  .lux-table-paginator {
    @include mat.form-field-overrides(
      (
        filled-container-color: transparent
      )
    );
  }

  display: flex;
  height: 100%;

  th.mat-mdc-header-cell:first-of-type,
  td.mat-mdc-cell:first-of-type,
  td.mat-mdc-footer-cell:first-of-type {
    padding-left: 24px;
  }

  .lux-row-selected {
    background-color: var(--lux-theme-selected-bg-color);
  }

  .lux-table {
    // äusserstes div
    height: 100%;
    flex: 0 0 100%;

    .lux-table-progress-container {
      flex: 0 0 15px;
      min-height: 15px;
      max-height: 15px;
      box-sizing: border-box;
    }

    .lux-table-header-no-data th {
      vertical-align: middle;
      height: 30px;
    }

    td,
    th {
      padding: 0.5em 1em;
    }

    th {
      padding-top: 1em;
    }

    th.mat-mdc-header-cell,
    td.mat-mdc-cell {
      border: none;
      font-size: 1rem;
    }

    td.mat-mdc-footer-cell {
      border: none;
      border-top: 1px solid var(--lux-theme-app-border-color);
      color: var(--lux-theme-dark-primary-text);
      padding-bottom: 1em;
    }

    .lux-table-filter-input {
      width: 100%;
      max-width: 350px;
    }

    .lux-table-column-selector {
      width: 100%;
      max-width: 350px;
    }

    .lux-table-content {
      position: relative;
      overflow: auto;
      height: 100%;
      width: 100%;
      border-radius: 4px;

      &:not(.lux-hide-borders) {
        border: 1px solid var(--lux-theme-app-border-color);
      }

      table {
        width: 100%;
        border-spacing: 0 !important;

        td .lux-form-control-wrapper {
          margin: 0;

          .lux-form-control-container-authentic {
            padding: 0.25em 0.5em; // bei den Form-Controls in einer Tabellen-Zelle wird die Höhe reduziert

            &.lux-no-input-row {
              padding: 0em;
            }
          }
        }

        tbody tr:last-of-type td {
          border-bottom: none;
        }

        .mat-mdc-footer-row > td {
          border-top: 1px solid rgba(0, 0, 0, 0.12);
        }

        .lux-header-title,
        .lux-moved-header-title {
          font-size: 0.75rem;
          margin-top: 0.25em;

          &:first-of-type {
            margin-top: 0.5em;
          }
        }
      }

      .mat-mdc-row:nth-child(odd) {
        background-color: var(--mat-sys-surface-container-high);
      }

      .mat-mdc-row:nth-child(even) {
        background-color: #ffffff;
      }

      &.lux-hide-borders {
        td,
        th,
        .lux-multiselect-td,
        .lux-multiselect-tf {
          border: unset !important;
        }
      }

      th.lux-table-column-header-empty {
        display: none;
      }
    }

    .lux-table-overlay {
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
      position: absolute;
    }

    .lux-table-overlay-active {
      pointer-events: none;
      z-index: 1003;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }

    .lux-hide {
      display: none !important;
    }

    .lux-multiselect-th,
    .lux-multiselect-td,
    .lux-multiselect-tf {
      max-width: 110px;
      min-width: 110px;
      width: 110px;
    }

    .lux-multiselect-th {
      width: 1% !important;

      span {
        text-align: start;
      }
    }

    .lux-table-header-no-data th {
      border: unset !important;
    }

    .lux-multiselect-toggle-all-wrapper {
      position: relative;
      height: 100%;
      min-height: 100%;
      min-width: 100%;
      width: 100%;
    }

    .lux-aria-visible {
      position: absolute;
      font-size: 0;
      color: transparent;
      width: 0;
      height: 0;
    }

    @include luxbreakpoints.xs {
      .lux-table-filter-input {
        max-width: 100%;
      }
      .lux-table-column-selector {
        max-width: 100%;
      }
    }
  }

  .lux-element-align-top {
    vertical-align: text-top;
  }
}

/** ########## HOVER / FOCUS ########## **/
lux-table {
  tr:focus-visible,
  td:focus-visible {
    @include luxfocus.focus-dark-mixin-inline;
  }

  .lux-row-selected:focus-visible {
    background-color: var(--lux-theme-hover-color) !important;
    outline: none;
  }

  th.cdk-focused div.mat-sort-header-container {
    @include luxfocus.focus-dark-mixin;
  }

  th.cdk-keyboard-focused div.mat-sort-header-container {
    border: none !important;
  }
}
