@use "@angular/material" as mat;
@use "../common/luxbreakpoints";

.session-timer-dialog-panel-class {
  @include mat.dialog-overrides(
    (
      container-max-width: "744px"
    )
  );
  .lux-session-timer-dialog {
    overflow: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    .lux-dialog .lux-dialog-title.mat-mdc-dialog-title {
      display: none;
    }

    .lux-dialog .lux-dialog-actions {
      margin: 0px;
    }
  }

  @include luxbreakpoints.lt-md {
    @include mat.dialog-overrides(
      (
        container-max-width: "300px",
        actions-padding: 16px 0px
      )
    );

    .lux-session-timer-dialog-info-actions {
      flex-direction: column;
      gap: 24px;
      width: 100%;
      align-items: stretch;
    }

    .lux-session-timer-dialog-logout-actions {
      width: 100%;
      align-items: stretch;
    }

    .mat-mdc-button-base,
    button {
      width: 100%;
    }
  }

  .lux-session-timer-dialog-info {
    .lux-session-timer-dialog-icon {
      display: flex;
      padding: 20px;
      gap: 10px;
      justify-self: center;
    }
  }

  .lux-session-timer-dialog-info-actions {
    display: flex;
    gap: 24px;
  }

  .lux-session-timer-dialog-waiting {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
  }

  .lux-session-timer-dialog-logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    .lux-session-timer-dialog-icon {
      display: flex;
      padding: 20px;
      gap: 10px;
      justify-self: center;
    }
    h2 {
      text-align: left;
      width: 100%;
    }
    .lux-dialog .lux-dialog-actions {
      margin: 0px;
    }
  }
}
