@use "@angular/material" as mat;

lux-toggle-ac {
  @include mat.slide-toggle-overrides((
    label-text-size: var(--lux-theme-form-control-font-size),
    disabled-label-text-color: var(--lux-theme-dark-disabled-text)
  ));

  // Readonly state
  &.lux-form-control-readonly {
    button {
      pointer-events: none;

      .mdc-switch__handle {
        pointer-events: none;
      }
    }
  }
}
