@use "sass:map";
@use "../luxcommon";
@use "../luxpalette";
@use "../luxfocus";

.mat-mdc-menu-panel {
  --mat-menu-container-shape: #{luxcommon.$app-border-radius};

  .mat-mdc-menu-item-text {
    min-height: #{luxcommon.$lux-panel-option-min-height};
    padding: #{luxcommon.$lux-panel-option-padding};
  }
}

lux-menu {
  display: block;
  width: 100%;

  .lux-menu-extended,
  .lux-menu-trigger {
    > lux-button {
      button.mat-mdc-button {
        padding-left: 8px;
        padding-right: 8px;
        min-width: 36px;
      }
    }
  }
}

// Container für die Buttons und den Trigger ausserhalb des Menu-Panels
.lux-menu-extended {
  overflow: hidden;
  min-width: 0;
  padding: 4px 0;
  position: relative;

  > lux-button {
    margin-right: 8px;
    &.lux-menu-item .lux-button-label {
      white-space: nowrap;
      font-weight: 400;
      letter-spacing: 1px;
      font-family: luxcommon.$app-font-family;
    }
  }
}

// Container für den Menu-Trigger-button
.lux-menu-trigger {
  display: flex;
  flex: 0 0 auto;
  margin: 0 4px;
  align-self: center;
  box-sizing: border-box;
}

.lux-menu-trigger-default {
  button.mat-mdc-button {
    white-space: nowrap;
    color: map.get(luxpalette.$lux-palette_primary, 500);
  }
}

/* Menu-Overlay-Panel anpassen */
.lux-menu-panel {
  border: 2px solid luxpalette.$lux-primary-color;
  box-shadow: none !important;

  .mat-mdc-menu-item:not([disabled]).cdk-program-focused {
    background-color: transparent;
  }

  .mat-mdc-menu-item,
  .mat-mdc-menu-item:has(.material-icons, mat-icon, [matButtonIcon]) {
    padding: 0 16px;
  }

  .mat-mdc-menu-item-text {
    display: flex;
  }

  .lux-menu-item {
    font-size: 1rem;
    display: block;
    color: luxpalette.$lux-primary-color;
    margin-top: luxcommon.$outline-width;
    margin-bottom: luxcommon.$outline-width;
    hyphens: auto;
    word-break: break-all;

    .mat-icon-no-color {
      color: luxpalette.$lux-primary-color;
    }

    .lux-button-label {
      hyphens: auto;
      word-break: break-word;
    }
    .lux-button-badge-container {
      min-width: 38px;
      vertical-align: middle;
      align-self: center;
    }
    .lux-button-badge {
      color: #fff;
      border-radius: 4px;
      padding: 1px 4px;
      font-size: 0.6875rem;
      line-height: normal;
      max-height: 16px;
      min-width: 15px;
      max-width: 38px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
      letter-spacing: 1.25px;
    }
  }
  .lux-menu-item-icon {
    align-self: center;
    vertical-align: middle;
    mat-icon {
      margin: 0;
    }
  }
}

//Styling für das neue Panel mit Sektionen und das Large Panel
.lux-menu-section-panel,
.lux-menu-section-panel:not(.lux-menu-panel-large) {
  min-width: 260px !important;
  max-width: 100%;
}

.lux-menu-section-panel,
.lux-menu-section-panel:has(.lux-menu-panel-large) {
  min-width: 360px !important;
  max-width: 100%;
}

.lux-menu-section-panel {
  .lux-menu-item-content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .lux-menu-item-icon {
    margin-right: 8px;
    flex-shrink: 0;
  }

  .lux-button-label {
    text-align: left;
    flex: 1 1 auto;
    white-space: normal;
  }

  .lux-menu-item-badge-right {
    min-width: 0px !important;
    margin-left: auto;
    align-self: center;
    display: flex;
  }

  .lux-button-label-subtitle {
    color: map-get(map-get(luxpalette.$lux-palettes-new, "primary"), 40);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.07px;
  }

  .lux-menu-panelheader-username {
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    font-weight: 600;
    font-size: 1rem;
    font-style: normal;
    line-height: 120%;
  }
  .lux-menu-panelheader-username-subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    font-weight: 400;

    font-size: 0.75rem;
    font-style: normal;
    line-height: normal;
  }
  .lux-menu-section-title {
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    color: map-get(map-get(luxpalette.$lux-palettes-new, "neutral"), 40);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.08px;
    line-height: 120%; /* 19.2px */
  }
  .lux-menu-item-divider {
    padding: 4px;
  }
  .lux-menu-item-divider-large {
    margin-right: 16px;
    margin-left: 16px;
  }

  .lux-menu-item-selected {
    background-color: map-get(map-get(luxpalette.$lux-palettes-new, "primary"), 90) !important;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 10%;
    text-underline-offset: 5%;
    text-underline-position: from-font;
  }
  .lux-menu-item-badge-right {
    text-align: end;
  }
}

/** ########## Hover / Focus ########## **/
// Class, welche das aufgeklappte Panel referenziert
.lux-menu-panel {
  .lux-menu-item {
    &:not([disabled="true"]) {
      &:focus-visible {
        @include luxfocus.focus-dark-mixin-inline;
        border-radius: 0;
        &:after {
          width: 0px;
          border: none;
        }
      }

      &:hover {
        @include luxfocus.lux-hovered-mixin-inverted;
        & .mat-icon-no-color {
          color: #fff;
        }
      }
    }
  }
}
