@use "sass:map";
@use "../luxcommon";
@use "../luxelevations";
@use "../luxpalette";

.lux-chat {
    height: 100%;
}

.lux-chat-layout-vertical {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;

    position: relative;
}

.lux-chat-layout-horizontal {
    flex: 1;

    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    
    position: relative;
}

.lux-chat-layout-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin: 16px 8px;
}

.lux-chat-base {
    flex: 1;
    overflow-y: auto;

    scroll-behavior: smooth;

    padding: 8px;
    display: flex;
    flex-direction: column;

}

.default-chat-header-title {
    margin: 0;
}

.lux-chat-entry-date-split {
    text-align: center;
}

.lux-chat-entry-container {
    min-width: 20px;
    max-width: 55%;
    margin-bottom: 8px;

    &:hover {
        .lux-chat-entry-card {
            .lux-chat-entry-actions {
                .lux-chat-entry-actions-container {
                    transform: translate(0px, calc(-100% - 1px));
                    opacity: 100%;
                }
            }
        }
    }
}

.lux-chat-entry-card {
    padding: 0px 20px;
    border-radius: 10px;
}

.lux-chat-entry-container-left {
    .lux-chat-entry-card {
        background-color: map.get(luxpalette.$lux-palette_accent, 50);
        border-bottom-left-radius: 0;
    }

    align-self: flex-start;

}

.lux-chat-entry-container-right {
    .lux-chat-entry-header {
        justify-content: end;
    }

    .lux-chat-entry-card {
        background-color: map.get(luxpalette.$lux-palette_primary, 50);
        border-bottom-right-radius: 0;
    }

    align-self: flex-end;
}

.lux-chat-entry-header {
    display: flex;
    flex-direction: row;
    gap: 8px;

    font-size: 1rem;
    font-weight: 500;
    color: luxcommon.$dark-secondary-text;
}

.lux-chat-entry-content {
    font-size: 1.125rem;
    word-wrap: break-word;
    overflow-x: hidden;
}

.lux-chat-entry-footer {
}

.lux-chat-entry-actions {
    position: relative;
    width: 100%;
    height: 0;

    display: flex;
    justify-content: end;

    .lux-chat-entry-actions-container {
        z-index: 10;

        padding: 2px 8px;
        position: absolute;
        right: -20px;

        transition: transform 120ms ease-in-out, opacity 100ms ease-in-out;
        transform: translate(0px, -1px);
        opacity: 0;
    
        background-color: white;
        border-radius: 4px;
        @include luxelevations.lux-elevation-z1;

        display: flex;
        flex-direction: row;
    }
}

lux-chat-input {
    margin-top: 8px;
}

$sidebarContainerPadding: 16px;

.lux-chat-sidebar-container {
    overflow: hidden;
    min-width: 100px; 
    min-height: 100px; 
    background-color: lightblue;

    border: 1px solid rgba(0, 0, 0, .12);
    background-color: #fff;
    padding: $sidebarContainerPadding;

    display: flex;
    flex-direction: column;
    
    // Animation for sliding in / out
    transition: transform 300ms ease-in-out;

    &.overlay {
        position: absolute;
        box-sizing: border-box;
        z-index: 11;

        &.top {
            width: 100%;
            max-height: 50%;
        }

        &.left {
            height: 100%;
            max-width: 50%;
        }

        &.bottom {
            width: 100%;
            max-height: 50%;
        }

        &.right {
            height: 100%;
            max-width: 50%;
        }
    }

    &.top {
        top: 0;
        left: 0;

        transform: translateY(-100%);

        &.sidebar-show {
            transform: translateY(0);
        }

        .lux-chat-sidebar-content {
            flex-direction: row;
            
            width: calc(100% - ($sidebarContainerPadding * 2));
            overflow-x: auto;
        }
    }

    &.left {
        top: 0;
        left: 0;

        transform: translateX(-100%);

        &.sidebar-show {
            transform: translateX(0);
        }

        .lux-chat-sidebar-content {
            flex-direction: column;
            
            height: calc(100% - ($sidebarContainerPadding * 2));
            overflow-y: auto;
        }
    }

    &.bottom {
        bottom: 0;
        left: 0;

        transform: translateY(100%);

        &.sidebar-show {
            transform: translateY(0);
        }
        
        .lux-chat-sidebar-content {
            flex-direction: row;
            
            width: calc(100% - ($sidebarContainerPadding * 2));
            overflow-x: auto;
        }
    }

    &.right {
        top: 0;
        right: 0;

        transform: translateX(100%);

        &.sidebar-show {
            transform: translateX(0);
        }
        
        .lux-chat-sidebar-content {
            flex-direction: column;

            height: calc(100% - ($sidebarContainerPadding * 2));
            overflow-y: auto;
        }
    }
}

.lux-chat-sidebar-header {
    flex: 0;

    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 10px;

    margin-bottom: 8px;

    h2 {
        margin: 0;
    }
}

.lux-chat-sidebar-content {
    flex: 1 0 auto;

    display: flex;
    overflow: hidden; //TODO: Check if this doesn't hinder anything
}

.lux-chat-sidebar-close-icon {
    color: #036;

    ::ng-deep .mat-icon {
        padding: 0 !important;
        height: 29px;
        width: 29px;
    }

    &:hover {
        cursor: pointer;
    }
}