@use "sass:map";
@use "../luxcommon";
@use "../luxelevations";
@use "../luxpalette";

.lux-chat {
    height: 100%;
}

.lux-chat-layout-vertical {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.lux-chat-layout-horizontal {
    flex: 1;

    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.lux-chat-layout-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin: 16px 8px 32px;
}

.lux-chat-base {
    flex: 1;
    overflow-y: auto;

    scroll-behavior: smooth;

    padding: 8px;
    display: flex;
    flex-direction: column;

}

.lux-chat-entry-date-split {
    text-align: center;
}

.lux-chat-entry-container {
    min-width: 20px;
    max-width: 55%;
    margin-bottom: 8px;

    &:hover {
        .lux-chat-entry-card {
            .lux-chat-entry-actions {
                .lux-chat-entry-actions-container {
                    transform: translate(0px, calc(-100% - 1px));
                    opacity: 100%;
                }
            }
        }
    }
}

.lux-chat-entry-card {
    padding: 1px 20px;
    border-radius: 10px;
}

.lux-chat-entry-container-left {
    .lux-chat-entry-card {
        background-color: map.get(luxpalette.$lux-palette_accent, 50);
        border-bottom-left-radius: 0;
    }

    align-self: flex-start;

}

.lux-chat-entry-container-right {
    .lux-chat-entry-header {
        justify-content: end;
    }

    .lux-chat-entry-card {
        background-color: map.get(luxpalette.$lux-palette_primary, 50);
        border-bottom-right-radius: 0;
    }

    align-self: flex-end;
}

.lux-chat-entry-header {
    display: flex;
    flex-direction: row;
    gap: 8px;

    font-size: 1rem;
    font-weight: 500;
    color: luxcommon.$dark-disabled-text;
}

.lux-chat-entry-content {
    font-size: 1.125rem;
    word-wrap: break-word;
    overflow-x: hidden;
}

.lux-chat-entry-footer {
}

.lux-chat-entry-actions {
    position: relative;
    width: 100%;
    height: 0;

    display: flex;
    justify-content: end;

    .lux-chat-entry-actions-container {
        z-index: 10;

        padding: 2px 8px;
        position: absolute;
        right: -20px;

        transition: transform 120ms ease-in-out, opacity 100ms ease-in-out;
        transform: translate(0px, -1px);
        opacity: 0;
    
        background-color: white;
        border-radius: 4px;
        @include luxelevations.lux-elevation-z1;

        display: flex;
        flex-direction: row;
    }
}

