<ng-template #core>
    @if(visible){
        <div [ngClass]="{
            'chat-sidebar-container': true,
            'overlay': (overlay === true),
            'top': (side === 'top'),
            'left': (side === 'left'),
            'bottom': (side === 'bottom'),
            'right': (side === 'right'),
            'sidebar-show': sidebarShown
            }">
            
            <div class="chat-sidebar-header">
                <lux-icon (click)="onClosePressed()" class="chat-sidebar-close-icon" luxIconName="lux-interface-delete-1" [luxRounded]="true"></lux-icon>
                @if(title){
                    <h2>{{title}}</h2>
                }
            </div>

            <div class="chat-sidebar-content">
                <ng-content></ng-content>
            </div>

        </div>
    }
</ng-template>