<div class="lux-flex lux-flex-wrap lux-gap-3 lux-container">
  <lux-card luxTitle="Konfiguration" [luxHeading]="1" class="lux-card-grow">
    <lux-icon luxIconName="lux-info"></lux-icon>
    <lux-card-content>
      <pre>{{ currentConfig() | json }}</pre>
    </lux-card-content>
  </lux-card>
  <lux-card luxTitle="LUX-Components-Konfiguration" class="lux-card-grow">
    <lux-icon luxIconName="lux-interface-setting-wrench"></lux-icon>
    <lux-card-content class="lux-flex lux-flex-col lux-gap-4">
      <h3>Allgemein</h3>
      <lux-checkbox-container>
        <lux-toggle
          luxAutofocus
          luxLabel="Lux-Tag-Ids generieren"
          [(luxChecked)]="currentConfig().generateLuxTagIds"
          (luxCheckedChange)="updateConfig()"
          [luxNoLabels]="true"
        ></lux-toggle>
        <lux-toggle
          luxLabel="Lux-Console aktiv"
          [(luxChecked)]="currentConfig().displayLuxConsoleLogs"
          (luxCheckedChange)="updateConfig()"
          [luxNoLabels]="true"
        ></lux-toggle>
        <lux-toggle
          luxLabel="Lux-Card Animationen aktiv"
          [(luxChecked)]="currentConfig().cardExpansionAnimationActive"
          (luxCheckedChange)="updateConfig()"
          [luxNoLabels]="true"
        ></lux-toggle>

        <lux-toggle
          luxLabel="Alle Labels Uppercase"
          [(luxChecked)]="currentConfig().labelConfiguration!.allUppercase"
          (luxCheckedChange)="updateConfig()"
          [luxNoLabels]="true"
        ></lux-toggle>
      </lux-checkbox-container>
      <lux-select
        luxLabel="Ausnahmen"
        [luxMultiple]="true"
        [luxOptions]="notAppliedToOptions"
        [(luxSelected)]="currentConfig().labelConfiguration!.notAppliedTo"
        (luxSelectedChange)="updateConfig()"
        [luxDisabled]="!currentConfig().labelConfiguration!.allUppercase"
        [luxNoBottomLabel]="true"
      ></lux-select>
      <lux-input
        luxLabel="Tenant URL"
        [(luxValue)]="currentConfig().tenantLogoLookupServiceUrl"
        [luxNoBottomLabel]="true"
        (luxValueChange)="updateConfig()"
      ></lux-input>
      <lux-input
        luxLabel="Lookup URL"
        [(luxValue)]="currentConfig().lookupServiceUrl"
        [luxNoBottomLabel]="true"
        (luxValueChange)="updateConfig()"
      ></lux-input>
      <lux-input
        luxLabel="throttleTimeMs der Buttons (Verhinderung von ungewollten Doppelklicks)"
        [(luxValue)]="currentConfig().buttonConfiguration!.throttleTimeMs"
        (luxValueChange)="updateConfig()"
        [luxNoBottomLabel]="true"
      ></lux-input>

      <div>
        <h3>Footer</h3>
        <lux-checkbox-container>
          <lux-toggle
            luxLabel="fixedDesktop"
            [luxNoLabels]="true"
            [(luxChecked)]="currentConfig().appFooter!.fixedDesktop"
            (luxCheckedChange)="updateConfig()"
          ></lux-toggle>
          <lux-toggle
            luxLabel="fixedMobile"
            [luxNoLabels]="true"
            [(luxChecked)]="currentConfig().appFooter!.fixedMobile"
            (luxCheckedChange)="updateConfig()"
          ></lux-toggle>
        </lux-checkbox-container>
      </div>

      <h3>Ripples</h3>
      <lux-input
        luxLabel="enterDuration der Lux-Ripples"
        [(luxValue)]="currentConfig().rippleConfiguration!.enterDuration"
        (luxValueChange)="updateConfig()"
        [luxNoBottomLabel]="true"
      ></lux-input>
      <lux-input
        luxLabel="exitDuration der Lux-Ripples"
        [(luxValue)]="currentConfig().rippleConfiguration!.exitDuration"
        (luxValueChange)="updateConfig()"
        [luxNoBottomLabel]="true"
      ></lux-input>
      <lux-input
        luxLabel="color der Lux-Ripples"
        [(luxValue)]="currentConfig().rippleConfiguration!.color"
        (luxValueChange)="updateConfig()"
        [luxNoBottomLabel]="true"
      ></lux-input>
      <lux-input
        luxLabel="radius der Lux-Ripples"
        [(luxValue)]="currentConfig().rippleConfiguration!.radius"
        (luxValueChange)="updateConfig()"
        [luxNoBottomLabel]="true"
      ></lux-input>
      <lux-checkbox-container>
        <lux-toggle
          luxLabel="centered-State der Lux-Ripples"
          [(luxChecked)]="currentConfig().rippleConfiguration!.centered"
          (luxCheckedChange)="updateConfig()"
          [luxNoLabels]="true"
        ></lux-toggle>
        <lux-toggle
          luxLabel="disabled-State der Lux-Ripples"
          [(luxChecked)]="currentConfig().rippleConfiguration!.disabled"
          (luxCheckedChange)="updateConfig()"
          [luxNoLabels]="true"
        ></lux-toggle>
        <lux-toggle
          luxLabel="unbounded-State der Lux-Ripples"
          [(luxChecked)]="currentConfig().rippleConfiguration!.unbounded"
          (luxCheckedChange)="updateConfig()"
          [luxNoLabels]="true"
        ></lux-toggle>
      </lux-checkbox-container>

      <h3>Session-Timer</h3>
      <lux-input
        luxLabel="Url des Session-Timers"
        [(luxValue)]="currentConfig().sessionTimerConfig!.url"
        (luxValueChange)="updateConfig()"
        [luxNoBottomLabel]="true"
      ></lux-input>
      <lux-input
        luxLabel="Local Storage Key Name des Session-Timers"
        [(luxValue)]="currentConfig().sessionTimerConfig!.localStorageKeyName"
        (luxValueChange)="updateConfig()"
        [luxNoBottomLabel]="true"
      ></lux-input>
    </lux-card-content>
  </lux-card>
</div>
