name: smoketest - theme

on:
  push:
    paths:
      - 'projects/lux-components-theme/**'

jobs:
  build-demo:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 24
      - run: |
          npm install
          npm run pack:theme
          npm run test:theme
          cd dist/theme
          ls -lR
