name: smoketest - demo

on:
  push:
    paths:
      - 'projects/demo-app/**'

jobs:
  build-demo:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 24
      - run: |
          npm install
          npm run pack:theme
          npm run pack:components
          npm run pack:demo
          cd dist/demo-app
          ls -lR
