<div class="lux-container lux-grid lux-grid-cols-1 lux-gap-4">
  <lux-card luxTitle="Benutzer" luxTagId="forms">
    <lux-card-content>
      <form [formGroup]="myGroup">
        <div formGroupName="user" class="lux-grid lux-grid-cols-2 lux-gap-4 lt-md:lux-grid-cols-1">
          <lux-input luxName="first-name" luxLabel="Vorname" luxControlBinding="firstname" luxAutofocus></lux-input>
          <lux-input luxName="given-name" luxLabel="Nachname" luxControlBinding="lastname"></lux-input>

          <lux-input luxName="email" luxLabel="E-Mail" luxControlBinding="email">
            <lux-input-suffix>
              <lux-icon luxIconName="lux-mail-sign-at"></lux-icon>
            </lux-input-suffix>
          </lux-input>
          <lux-input luxName="current-password" luxLabel="Passwort" luxControlBinding="password" luxType="password">
            <lux-input-suffix>
              <lux-icon luxIconName="lux-interface-lock"></lux-icon>
            </lux-input-suffix>
          </lux-input>
        </div>
        <div class="lux-grid lux-grid-cols-2 lux-gap-4 lux-grid-cols-1-lt-md">
          <lux-select
            luxLabel="Hobbys"
            luxControlBinding="hobbies"
            [luxOptions]="hobbies"
            luxOptionLabelProp="label"
            [luxPickValue]="pickHobbyValue"
            [luxMultiple]="true"
          ></lux-select>
          <lux-input luxName="form-common_Spende" luxLabel="Spende" luxControlBinding="donation" luxType="number">
            <lux-input-prefix>
              <lux-icon luxIconName="lux-money-atm-card-1"></lux-icon>
            </lux-input-prefix>
            <lux-input-suffix>
              <lux-icon luxIconName="lux-money-currency-euro"></lux-icon>
            </lux-input-suffix>
          </lux-input>

          <lux-toggle luxLabel="Newsletter" luxControlBinding="newsletter"></lux-toggle>
          <lux-checkbox luxControlBinding="hungry" luxLabel="Hungrig" class="lux-row-start-3"></lux-checkbox>

          <lux-input
            luxName="form-common_Beschreibung"
            luxLabel="Beschreibung"
            luxControlBinding="description"
            class="lux-col-span-full"
          ></lux-input>

          <lux-chips
            [luxInputAllowed]="true"
            luxInputLabel="Neuen Chip erstellen..."
            luxOrientation="horizontal"
            [luxNewChipGroup]="chipGroup2"
            class="lux-col-span-full"
          >
            <lux-chip [luxRemovable]="false" luxColor="warn"> Chip ohne Group </lux-chip>
            <lux-chip-group
              [luxRemovable]="false"
              luxColor="primary"
              (luxChipClicked)="chipItemClicked($event)"
              [(luxLabels)]="chipItems"
              (luxLabelsChange)="onChipItemsChange()"
              #chipGroup
            >
              <ng-template let-chipItem>
                {{ chipItem | lowercase }}
              </ng-template>
            </lux-chip-group>
            <lux-chip-group
              [luxRemovable]="true"
              luxColor="accent"
              (luxChipClicked)="chipItemClicked($event)"
              [(luxLabels)]="chipItems2"
              (luxLabelsChange)="onChipItemsChange()"
              #chipGroup2
            >
              <ng-template let-chipItem>
                {{ chipItem | uppercase }}
              </ng-template>
            </lux-chip-group>
          </lux-chips>

          <lux-radio
            [luxOptions]="hobbies"
            luxGroupName="1"
            luxControlBinding="radio"
            [luxOrientationVertical]="false"
            luxLabel="Hobbies"
            class="lux-col-span-full"
          >
            <ng-template let-option>
              {{ option['label'] }}
            </ng-template>
          </lux-radio>

          <lux-datepicker [luxTouchUi]="true" luxControlBinding="datepicker" luxLabel="Datepicker"> </lux-datepicker>

          <lux-autocomplete
            [luxOptions]="chipItems2"
            luxLabel="Autocomplete"
            [luxLookupDelay]="100"
            [luxSelectAllOnClick]="false"
            luxControlBinding="autocomplete"
          >
          </lux-autocomplete>
          <lux-textarea
            luxLabel="Textarea"
            luxPlaceholder="Bitte hinterlasse hier einen Kommentar..."
            luxControlBinding="comment"
            [luxMaxLength]="300"
            [luxMinRows]="2"
            [luxMaxRows]="3"
            class="lux-col-span-full"
          >
          </lux-textarea>
        </div>
      </form>
    </lux-card-content>
  </lux-card>

  <lux-card luxTitle="A11y - Visuell versteckte Labels" luxTagId="forms-a11y">
    <lux-card-content>
      <!-- Issue #267: empfohlene Variante, luxLabel plus luxNoTopLabel -->
      <p>
        Alle Felder in diesem Beispiel besitzen ein luxLabel, das über luxNoTopLabel nur visuell versteckt ist. Screenreader lesen den Namen
        weiterhin vor. Mit dem Schalter lassen sich die Labels zur Kontrolle wieder einblenden. Checkbox und Toggle fehlen hier bewusst,
        denn ihr Label steht neben dem Bedienelement und wird nicht visuell versteckt.
      </p>
      <lux-toggle luxLabel="Labels sichtbar anzeigen" [(luxChecked)]="showA11yLabels" [luxNoBottomLabel]="true"></lux-toggle>
      <div class="lux-grid lux-grid-cols-2 lux-gap-4 lt-md:lux-grid-cols-1">
        <lux-input luxLabel="Suchbegriff eingeben" [luxNoTopLabel]="!showA11yLabels()" luxPlaceholder="Suchen..."></lux-input>
        <lux-textarea luxLabel="Anmerkung erfassen" [luxNoTopLabel]="!showA11yLabels()"></lux-textarea>
        <lux-select
          luxLabel="Liste sortieren nach"
          [luxNoTopLabel]="!showA11yLabels()"
          [luxOptions]="['Relevanz', 'Preis aufsteigend', 'Neueste zuerst']"
        ></lux-select>
        <lux-autocomplete luxLabel="Hobby suchen" [luxNoTopLabel]="!showA11yLabels()" [luxOptions]="hobbies"></lux-autocomplete>
        <lux-datepicker luxLabel="Startdatum wählen" [luxNoTopLabel]="!showA11yLabels()"></lux-datepicker>
        <lux-datetimepicker luxLabel="Termin wählen" [luxNoTopLabel]="!showA11yLabels()"></lux-datetimepicker>
        <lux-timepicker luxLabel="Uhrzeit wählen" [luxNoTopLabel]="!showA11yLabels()"></lux-timepicker>
        <lux-file-input luxLabel="Datei auswählen" [luxNoTopLabel]="!showA11yLabels()"></lux-file-input>
        <lux-radio
          luxLabel="Hobby wählen"
          [luxNoTopLabel]="!showA11yLabels()"
          [luxOptions]="hobbies"
          luxOptionLabelProp="label"
        ></lux-radio>
        <lux-slider luxLabel="Lautstärke einstellen" [luxNoTopLabel]="!showA11yLabels()"></lux-slider>
        <lux-chips luxLabel="Schlagwort ergänzen" [luxNoTopLabel]="!showA11yLabels()" [luxInputAllowed]="true"></lux-chips>
      </div>

      <h3>Ausnahme: Felder ganz ohne Labeltext</h3>
      <!-- Issue #267: Ausnahmefall, der zugängliche Name kommt über luxAriaLabel. Die leere
           Label-Zeile bleibt bewusst erhalten, damit label-lose Felder in einer Flucht mit
           sichtbar gelabelten Nachbarfeldern stehen. -->
      <p>
        Das Select besitzt kein luxLabel, der zugängliche Name kommt über luxAriaLabel. Seine leere Label-Zeile bleibt bewusst erhalten,
        dadurch steht es in einer Flucht mit dem sichtbar beschrifteten Input daneben. Wer die Zeile nicht braucht, setzt zusätzlich
        luxNoTopLabel.
      </p>
      <div class="lux-grid lux-grid-cols-2 lux-gap-4 lt-md:lux-grid-cols-1">
        <lux-input luxLabel="Nachname"></lux-input>
        <lux-select luxAriaLabel="Liste sortieren nach" [luxOptions]="['Relevanz', 'Preis aufsteigend', 'Neueste zuerst']"></lux-select>
      </div>

      <h3>Name über sichtbaren Fremdtext (luxAriaLabelledby)</h3>
      <p>
        luxAriaLabelledby zeigt auf bereits sichtbaren Text, hier "Rechnungsnummer". Der zugängliche Name bleibt damit automatisch synchron
        zum sichtbaren Text, etwa bei Filterfeldern unter einem Spaltenkopf.
      </p>
      <div class="lux-grid lux-grid-cols-2 lux-gap-4 lt-md:lux-grid-cols-1">
        <div>
          <span id="forms-a11y-spalte-rechnungsnummer">Rechnungsnummer</span>
          <lux-input luxAriaLabelledby="forms-a11y-spalte-rechnungsnummer"></lux-input>
        </div>
      </div>
    </lux-card-content>
  </lux-card>

  <lux-card luxTitle="Formulardaten">
    <lux-card-content>
      <div>
        <pre>{{ myGroup.value | json }}</pre>
      </div>
    </lux-card-content>
  </lux-card>
</div>
