<div class="lux-container lux-grid lux-grid-cols-1 lux-gap-4">
  <lux-card luxTitle="Benutzer" luxTagId="forms">
    <lux-card-content>
      <form [formGroup]="myGroup">
        <div formGroupName="user" class="lux-grid lux-grid-cols-2 lux-gap-4 lt-md:lux-grid-cols-1">
          <lux-input-ac luxName="first-name" luxLabel="Vorname" luxControlBinding="firstname" luxAutofocus></lux-input-ac>
          <lux-input-ac luxName="given-name" luxLabel="Nachname" luxControlBinding="lastname"></lux-input-ac>

          <lux-input-ac luxName="email" luxLabel="E-Mail" luxControlBinding="email">
            <lux-input-ac-suffix>
              <lux-icon luxIconName="lux-mail-sign-at"></lux-icon>
            </lux-input-ac-suffix>
          </lux-input-ac>
          <lux-input-ac luxName="current-password" luxLabel="Passwort" luxControlBinding="password" luxType="password">
            <lux-input-ac-suffix>
              <lux-icon luxIconName="lux-interface-lock"></lux-icon>
            </lux-input-ac-suffix>
          </lux-input-ac>
        </div>
        <div class="lux-grid lux-grid-cols-2 lux-gap-4 lux-grid-cols-1-lt-md">
          <lux-select-ac
            luxLabel="Hobbys"
            luxControlBinding="hobbies"
            [luxOptions]="hobbies"
            luxOptionLabelProp="label"
            [luxMultiple]="true"
          ></lux-select-ac>
          <lux-input-ac luxName="form-common_Spende" luxLabel="Spende" luxControlBinding="donation" luxType="number">
            <lux-input-ac-prefix>
              <lux-icon luxIconName="lux-money-atm-card-1"></lux-icon>
            </lux-input-ac-prefix>
            <lux-input-ac-suffix>
              <lux-icon luxIconName="lux-money-currency-euro"></lux-icon>
            </lux-input-ac-suffix>
          </lux-input-ac>

          <lux-toggle-ac luxLabel="Newsletter" luxControlBinding="newsletter"></lux-toggle-ac>
          <lux-checkbox-ac luxControlBinding="hungry" luxLabel="Hungrig" class="lux-row-start-3"></lux-checkbox-ac>

          <lux-input-ac
            luxName="form-common_Beschreibung"
            luxLabel="Beschreibung"
            luxControlBinding="description"
            class="lux-col-span-full"
          ></lux-input-ac>

          <lux-chips-ac
            [luxInputAllowed]="true"
            luxInputLabel="Neuen Chip erstellen..."
            luxOrientation="horizontal"
            [luxNewChipGroup]="chipGroup2"
            class="lux-col-span-full"
          >
            <lux-chip-ac [luxRemovable]="false" luxColor="warn"> Chip ohne Group </lux-chip-ac>
            <lux-chip-ac-group
              [luxRemovable]="false"
              luxColor="primary"
              (luxChipClicked)="chipItemClicked($event)"
              [luxLabels]="chipItems"
              #chipGroup
            >
              <ng-template let-chipItem>
                {{ chipItem | lowercase }}
              </ng-template>
            </lux-chip-ac-group>
            <lux-chip-ac-group
              [luxRemovable]="true"
              luxColor="accent"
              (luxChipClicked)="chipItemClicked($event)"
              [luxLabels]="chipItems2"
              #chipGroup2
            >
              <ng-template let-chipItem>
                {{ chipItem | uppercase }}
              </ng-template>
            </lux-chip-ac-group>
          </lux-chips-ac>

          <lux-radio-ac
            [luxOptions]="hobbies"
            luxGroupName="1"
            luxControlBinding="radio"
            [luxOrientationVertical]="false"
            luxLabel="Hobbies"
            class="lux-col-span-full"
          >
            <ng-template let-option>
              {{ option['label'] }}
            </ng-template>
          </lux-radio-ac>

          <lux-datepicker-ac [luxTouchUi]="true" luxControlBinding="datepicker" luxLabel="Datepicker"> </lux-datepicker-ac>

          <lux-autocomplete-ac
            [luxOptions]="chipItems2"
            luxLabel="Autocomplete"
            [luxLookupDelay]="100"
            [luxSelectAllOnClick]="false"
            luxControlBinding="autocomplete"
          >
          </lux-autocomplete-ac>
          <lux-textarea-ac
            luxLabel="Textarea"
            luxPlaceholder="Bitte hinterlasse hier einen Kommentar..."
            [luxMaxLength]="300"
            [luxMinRows]="2"
            [luxMaxRows]="3"
            class="lux-col-span-full"
          >
          </lux-textarea-ac>
        </div>
      </form>
    </lux-card-content>
  </lux-card>

  <lux-card luxTitle="A11y - Visuell versteckte Labels" luxTagId="forms-a11y">
    <lux-card-content>
      <!-- Issue #267: empfohlene Variante, luxLabel plus luxNoTopLabel -->
      <p>
        Alle Felder in diesem Beispiel besitzen ein luxLabel, das über luxNoTopLabel nur visuell versteckt ist. Screenreader lesen
        den Namen weiterhin vor. Mit dem Schalter lassen sich die Labels zur Kontrolle wieder einblenden. Checkbox und Toggle fehlen
        hier bewusst, denn ihr Label steht neben dem Bedienelement und wird nicht visuell versteckt.
      </p>
      <lux-toggle-ac luxLabel="Labels sichtbar anzeigen" [(luxChecked)]="showA11yLabels" [luxNoBottomLabel]="true"></lux-toggle-ac>
      <div class="lux-grid lux-grid-cols-2 lux-gap-4 lt-md:lux-grid-cols-1">
        <lux-input-ac luxLabel="Suchbegriff eingeben" [luxNoTopLabel]="!showA11yLabels" luxPlaceholder="Suchen..."></lux-input-ac>
        <lux-textarea-ac luxLabel="Anmerkung erfassen" [luxNoTopLabel]="!showA11yLabels"></lux-textarea-ac>
        <lux-select-ac
          luxLabel="Liste sortieren nach"
          [luxNoTopLabel]="!showA11yLabels"
          [luxOptions]="['Relevanz', 'Preis aufsteigend', 'Neueste zuerst']"
        ></lux-select-ac>
        <lux-autocomplete-ac luxLabel="Hobby suchen" [luxNoTopLabel]="!showA11yLabels" [luxOptions]="hobbies"></lux-autocomplete-ac>
        <lux-datepicker-ac luxLabel="Startdatum wählen" [luxNoTopLabel]="!showA11yLabels"></lux-datepicker-ac>
        <lux-datetimepicker-ac luxLabel="Termin wählen" [luxNoTopLabel]="!showA11yLabels"></lux-datetimepicker-ac>
        <lux-timepicker luxLabel="Uhrzeit wählen" [luxNoTopLabel]="!showA11yLabels"></lux-timepicker>
        <lux-file-input-ac luxLabel="Datei auswählen" [luxNoTopLabel]="!showA11yLabels"></lux-file-input-ac>
        <lux-radio-ac luxLabel="Hobby wählen" [luxNoTopLabel]="!showA11yLabels" [luxOptions]="hobbies"></lux-radio-ac>
        <lux-slider-ac luxLabel="Lautstärke einstellen" [luxNoTopLabel]="!showA11yLabels"></lux-slider-ac>
        <lux-chips-ac luxLabel="Schlagwort ergänzen" [luxNoTopLabel]="!showA11yLabels" [luxInputAllowed]="true"></lux-chips-ac>
      </div>

      <h3>Ausnahme: Felder ganz ohne Labeltext</h3>
      <!-- Issue #267: Ausnahmefall, der zugängliche Name kommt über luxAriaLabel. Die leere
           Label-Zeile bleibt bewusst erhalten, damit label-lose Felder in einer Flucht mit
           sichtbar gelabelten Nachbarfeldern stehen. -->
      <p>
        Das Select besitzt kein luxLabel, der zugängliche Name kommt über luxAriaLabel. Seine leere Label-Zeile bleibt bewusst
        erhalten, dadurch steht es in einer Flucht mit dem sichtbar beschrifteten Input daneben. Wer die Zeile nicht braucht, setzt
        zusätzlich luxNoTopLabel.
      </p>
      <div class="lux-grid lux-grid-cols-2 lux-gap-4 lt-md:lux-grid-cols-1">
        <lux-input-ac luxLabel="Nachname"></lux-input-ac>
        <lux-select-ac
          luxAriaLabel="Liste sortieren nach"
          [luxOptions]="['Relevanz', 'Preis aufsteigend', 'Neueste zuerst']"
        ></lux-select-ac>
      </div>

      <h3>Name über sichtbaren Fremdtext (luxAriaLabelledby)</h3>
      <p>
        luxAriaLabelledby zeigt auf bereits sichtbaren Text, hier "Rechnungsnummer". Der zugängliche Name bleibt damit automatisch
        synchron zum sichtbaren Text, etwa bei Filterfeldern unter einem Spaltenkopf.
      </p>
      <div class="lux-grid lux-grid-cols-2 lux-gap-4 lt-md:lux-grid-cols-1">
        <div>
          <span id="forms-a11y-spalte-rechnungsnummer">Rechnungsnummer</span>
          <lux-input-ac luxAriaLabelledby="forms-a11y-spalte-rechnungsnummer"></lux-input-ac>
        </div>
      </div>
    </lux-card-content>
  </lux-card>

  <lux-card luxTitle="Formulardaten">
    <lux-card-content>
      <div>
        <pre tabindex="0">{{ myGroup.value | json }}</pre>
      </div>
    </lux-card-content>
  </lux-card>
</div>
